[2014-02-19 10:50] stefanjudis opened #2 "svg-sprite - exceoption 'has no method 'size' '"
Hey,

I'm running the following command, copied from your readme:

[code]

Had the same bug by using it via grunt-svg-sprite.

Thanks. :)

[2014-02-19 11:54] #2 closed, assigned to jkphl

[2014-02-19 19:36] stefanjudis opened #3 "Media query support"
Hey Joschi,

everything is running smooth and stable. ;)

There is only one thing missing, to make it perfect for my use case.
In my case I'm loading these icons only in case of a desktop window, so there is basically no need to set a background-image in case of smaller screensizes.

Do you see any chance or option to place a media query option ( or maybe a kind of wrapper option ) in svg-sprite?

[2014-02-20 14:10] #3 closed, assigned to jkphl

[2014-02-21 09:25] tobiastom opened #4 "Add LESS support"
Would be awesome.

[2014-02-21 11:44] #4 closed, assigned to jkphl

[2014-02-21 12:19] tobiastom opened #5 "Provide a way to not use spritedir"
When I would like to place the SVG file directory into a specific folder (because I don't want the css anyway), I cannot just override the `spritedir` option.

Maybe using `null` as an value would be great to not put the file into any subdirectory.

[2014-02-21 12:30] tobiastom opened #6 "Provide a way to define a custom template"
FontCustom provides the generation of the CSS file with templates. With this everybody could provide a template and could change the code to his needs.

Sample templates can be found at https://github.com/FontCustom/fontcustom/tree/master/lib/fontcustom/templates

[2014-02-22 14:39] #6 closed, assigned to jkphl

[2014-02-22 14:40] #5 closed, assigned to jkphl

[2014-03-02 18:49] ffigiel opened #7 "Don't add escaped pseudoclass selectors unless required"
I don't like how every sprite gets two selectors, even if I don't use pseudoclasses for my images.

[code]

Could you consider adding an option to check if a pseudoclass selector is required before adding one?

[2014-03-04 16:01] #7 closed, assigned to jkphl

[2014-03-05 13:12] jkphl opened #9 "Use the viewBox attribute for determining the image dimensions"
Currently, _svg-sprite_ renders SVG images that have no `width` and `height` attributes via PhantomJS and gets the dimensions from the result. However, this should be ultima ratio. Instead, the `viewBox` attribute should be considered before rendering the image (in case it is present).

[2014-03-05 16:04] #9 closed, assigned to jkphl

[2014-03-29 20:19] jeff-mccoy opened #13 "Typo in svg-sprite.js:56 (installed from NPM: npm install svg-sprite -g)"
Thank you for this tool!  One minor issue, there's an extra close parentheses in line 56 of svg-sprite.js:

[code]

should be:

[code]

Here's the error generated after installing on OSX:

[code]

[2014-03-31 07:37] #13 closed, assigned to jkphl

[2014-05-21 09:27] benfrain opened #14 "Simple option to disable CSS/SCSS/LESS output (just generate sprites)"
It would be great if between this and Iconizr there was a simple configuration option to disable CSS output. For example:

`cssOutput: false`

This would allow Iconizr/svg-sprite to generate the SVG & PNG image sprites but nothing more. Reason being that authors may be using background-size to size the images in different scenarios and in this case the background positions need entering by hand an

[2014-05-21 17:43] ted451 opened #15 "ID cleanup bug"
Sometimes when an SVG has ID's inside it (like when using a filter), the shortened ID after cleanup will be borked, i.e. it seems to have some extra characters or something like that. Example (output after cleanup and spriting):

[code]

Here you can see that filter has an ID 'ba' and the path should be using it -- but the path can't actually 'match it'. When I open this file in Chrome and inspect

[2014-05-27 16:56] #14 closed, assigned to jkphl

[2014-05-28 16:16] #15 closed, assigned to jkphl

[2014-05-28 16:38] jkphl opened #16 "Add support for HTML output format with inline SVG"
As @lukasoppermann suggested with [this grunt-svg-sprite issue](https://github.com/jkphl/grunt-svg-sprite/issues/12), _svg-sprite_ should support an HTML output format with inline SVG out of the box.

[2014-05-29 07:20] jkphl opened #17 "Strip redundant XML namespace declarations out of SVG sprite"
A few bytes could be saved by stripping out the redundant `xmlns` and `xmlns:xlink` namespaces that are redundantly included in every sprite image.

[2014-05-29 17:43] #17 closed, assigned to jkphl

[2014-05-29 17:43] #16 closed, assigned to jkphl

[2014-05-30 17:02] jkphl opened #18 "Empty SVG sprite"
When there are no SVG source files inside the input directory, an empty SVG sprite is created. Instead, no sprite should be generated at all.

[2014-05-30 17:09] #18 closed, assigned to jkphl

[2014-05-30 17:38] jkphl opened #19 "Iconizr fails because of missing XML namespace declarations"
Stripping the XML namespace declarations (see #17) in single optimized SVG images prevents [iconizr](https://github.com/jkphl/node-iconizr) from creating PNG versions of images.

[2014-05-30 17:44] #19 closed, assigned to jkphl

[2014-06-06 13:04] sandrotonon opened #20 "Inline SVG not working"
Hi,

unfortunately the 'inline.svg' rendering option doesn't work for me.
I'm using svg-sprite with the grunt-iconizr task and the following settings:

[code]

It outputs everything but the inline sprite and the corresponding html preview.

[2014-06-11 07:58] shakyShane opened #21 "Offer FS-free API"
First of all, a huge thanks!

I have been using your SVG tools for over a year now on many projects (through both the Grunt Plugin, & your web app) & they are flawless!

I have my own own project for creating SVG sprites for gulp - but it's full of rendering problems - to the point where I don't even use it my own projects (I use Iconizr as stated above.)

So, I wanted to 'borrow' all of the aweso

[2014-06-13 05:56] tkhyn opened #22 "XML processing instruction"
Hi !

First, thanks for iconizr which I discovered recently as I have decided to use SVG sprites for the project I am working on. It makes things really easier and is really easily customizable.

However, I run into an issue, which apparently only occurs on windows: PhantomJS will hang forever if there is no XML processing instruction in the file. See https://github.com/ariya/phantomjs/issues/1207

[2014-06-17 13:07] #20 closed, assigned to jkphl

[2014-06-19 11:52] #22 closed, assigned to nobody

[2014-07-16 14:38] fiznool opened #23 "Please make process.uncaughtException handler optional"
I'm using `grunt-svg-sprite` and the task is swallowing my error traces. Could you please make the call to `process.on('uncaughtException', ...)` optional?

Perhaps assume it should be active, unless an option is passed in to disable it.

https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite.js#L4

[2014-09-04 18:57] elado opened #600 "Change icon colors?"

[2014-09-06 15:05] xen0n opened #25 "No support for symlinks"
In lib/svg-sprite.js:246:

[code]

This won't catch any symbolic links out there, and one of my recent website designs relying on Iconizr has been hit by this. I don't particularly want to resort to copying the images as all systems I do web development on support symbolic links...

[2014-09-17 13:07] yaniv691 opened #26 "Add dimensions without dims suffix, custom selectors"
Hi,

I've just started to use your Grunt plugin, and it's great!

I have a few issues with it that I couldn't wrap my head around:
1. When I set dims to true, the rendered SASS adds a selector with a -dims suffix for each image. I would like the width/height to be added to the image selector itself, without the -dims suffix. That way I won't have to add another class to all the elements.
2. I'm re

[2014-09-18 17:57] #26 closed, assigned to jkphl

[2014-12-02 06:00] jpiccari opened #30 "Support empty prefixes"
Currently it is not possible to specify an empty prefix. The root causes is a check in `svg-sprite.js` which sets `this._options.prefix` to `'svg'`if the prefix is set to any falsey value (which includes empty strings).

[2014-12-03 12:49] benfrain opened #32 "Defining a Modernizr style fallback image"
I love this plugin. :+1:

My question:

I would like to amend the scss render template so that I can provide a fallback to the png sprite via Modernizr. So, for example:

[code]

However, I don't seem able to get the final output for the background-image correct. At present it is this:

[code]

What I would like output is this:

[code]

Is there a way to omit the default file extension in the temp

[2014-12-03 14:12] #32 closed, assigned to nobody

[2014-12-09 10:46] krokodok opened #33 "Add possibillity to set background-alignment (left, right)"
When inserting an icon it is not possible to align it to the right without breaking the sprites. This is a problem due to the current missing support of background-position-x and -y in Firefox. Having an option to set the horizontal background-position to an other value than "0" would be helfpul.

[2014-12-16 20:17] delwaterman opened #34 "Command line using the common option overrides the prefix option"
We are using custom templates with the command line version the tool to build our spritesheet. When we run the follow command

[code]

We see that the common option is overriding the prefix value.

Template:

[code]

result:

[code]

Is this intended behavior?  We really need to get a second variable into the template and I would rather not have to write a custom node program to run it.

[2014-12-18 20:16] miguelmoraleda opened #35 "Optional width / height / y / x"
Hey guys,

I'm looking for a way to not add width and height to each svg element. Is there anyway to do that?

I was digging in the core, but looks like it is not optional. I will always get width and height on each of my elements.

I would love to have this as an option.

I'm getting each SVG in the sprite in this way:

`<svg viewBox="0 0 32 32" width="32" height="32" id="share-icon" y="1210">`

[2014-12-29 11:53] #34 closed, assigned to jkphl

[2014-12-29 11:54] #30 closed, assigned to jkphl

[2014-12-29 11:56] #25 closed, assigned to jkphl

[2014-12-29 11:58] #23 closed, assigned to jkphl

[2014-12-29 12:03] #21 closed, assigned to nobody

[2014-12-29 20:23] #35 closed, assigned to jkphl

[2014-12-31 15:27] delwaterman opened #36 "Missing dependency mkdirp?"
Updated to new version of svgo, and I am getting the following error:

Command

[code]

Output:

[code]

[2014-12-31 16:51] #36 closed, assigned to nobody

[2015-01-02 21:47] troywarr opened #37 "Add option to customize symbol id based on file name"
I just switched to [gulp-svg-sprite](https://github.com/jkphl/gulp-svg-sprite) from [gulp-svg-sprites](https://github.com/shakyShane/gulp-svg-sprites); it was pretty seamless for my use case, but one useful feature of the latter that doesn't appear to be supported in the former is config-based control over the value of the `id` attributes of the rendered `<symbol>`s.

**gulp-svg-sprites** actually

[2015-01-02 23:07] jkphl commented on #37
Hi @troywarr,

thanks a lot for your feedback and for supporting *svg-sprite* by adopting it — I very much appreciate that! :)

Regarding your question: There is already a config option that lets you customize the IDs in whatever way you want, although this might not be obvious at first. Please have a look at the `shape.generator.id` option for this (see [here](https://github.com/jkphl/svg-sprite#

[2015-01-03 00:28] jkphl commented on #37
As of release ac5f923b8aadfbbb843c919db5e561f628d99351, *svg-sprite* now supports template strings for the *shape.id.generator* option. Please [see the manual](https://github.com/jkphl/svg-sprite#a-svg-shape-configuration) for details. I'll close the issue for now, but please feel free to re-open it in case of problems.

Cheers,
Joschi

[2015-01-03 00:28] #37 closed

[2015-01-03 04:18] troywarr commented on #37
This is excellent - thanks so much, Joschi!

Both approaches (function and template string) work great. I stuck with the latter for simplicity's sake. Thanks for adding that ability!

Sorry I missed this feature in the docs - I read through them but must not have grokked that section. I think I somehow had the impression that all of the config options pertinent to my use case were nested within th

[2015-01-03 22:27] jkphl commented on #33
As of [release v1.0.6](https://github.com/jkphl/svg-sprite/tree/v1.0.6) *svg-sprite* now supports extended alignment options. The feature will be available in the next major release of iconizr.

[2015-01-03 22:27] #33 closed

[2015-01-09 09:10] leomelin opened #38 "How do you pass BOOLEAN TRUE on CLI"
Hi!
Is this a bug, or is the documentation missing some crucial detail:
How do you pass BOOLEAN TRUE as --css-dimensions parameter to include dimension into scss -file when using the CLI?

Example command:
svg-sprite -c --css-dest /someCSSdir --css-sprite /someImageDir --cscss -p 0 --css-dimensions TRUE /images/*.svg

causes selector suffix to be "TRUE". I also tried integer 1, true, 'true' and "T

[2015-01-09 11:20] #38 closed, assigned to jkphl

[2015-01-10 14:35] leomelin commented on #38
Thanks alot @jkphl ! Works like a charm :) Nice work!

- Leo

[2015-01-13 15:23] sonicpunk opened #40 "Errors in Windows 8.1 when using svg-sprite in a npm build script"
In our development we have come upon the issue that when we create a npm build script as such:
 "scripts": {
"build:svg": "svg-sprite --symbol --symbol-dest assets/tpl/dist --symbol-sprite sprite.svg assets/tpl/sources/svg/*.svg"
}
the windows terminal does not recognize that we wish to check all the svg files in a directory.  This is because the *.svg is not read properly in windows.

Your script

[2015-01-13 15:55] sonicpunk commented on #40
we get an Error: ENOENT, no such file or directory

[2015-01-13 17:44] jkphl commented on #40
Hey @sonicpunk,

thanks for your report. This seems to be a problem with [Windows' cmd.exe not supporting globbing](http://en.wikipedia.org/wiki/Glob_%28programming%29#Implementations) — the sprite creation itself works perfectly fine when you list the SVG files manually.

Personally, I don't think adding another dependency to the module only for filling this gap in the Windows' shell functionalit

[2015-01-13 23:21] jkphl commented on #40
Hey Benjamin,

after quite some research (and not finding *any* acceptable approach for globbing under Windows at all) I decided to directly include globbing support into the binary — despite the cost of an additional dependency. However, I won't be able to test this thoroughly at this very moment, so I won't push out a new release tonight. If you're up for it, you could try the Github version in

[2015-01-14 08:28] sonicpunk commented on #40
Hi Joschi,
Thank you so much for your quick response!  I will gladly test it out for you!  I will get back to you with the results!

Cheers,
Ben

[2015-01-14 09:15] sonicpunk commented on #40
I added the changes to our environment and everything seems now to be working A.O.K.  Our scripts are running successfully. Thank you for your quick response!!

[2015-01-14 09:15] sonicpunk commented on #40
Guess I will close the issue for now!

[2015-01-14 09:15] #40 closed

[2015-01-14 11:59] jkphl commented on #40
Perfect, glad it works for you. I'll push out another release later today! :)

Cheers, Joschi

[2015-01-14 13:01] Avcajaraville opened #41 "No optimization, just svg-sprite"
Im struggling trying to make no optimization on the svg. My sources files are fine, but when compressed on a sprite, there is lot of "fails" on the outputted sprite. This have to do with SVO optimization, but Im not able to find out how or where.

Is there any way I can disable svg optimization and just use a compiled sprite from the original svg ?

Thanks a lot !

[2015-01-14 13:08] jkphl commented on #41
Hi @Avcajaraville,

you can disable SVG optimization altogether by emptying the default list of `transform`s:

[code]

For an example of how to disable certain SVGO plugins (which is most likely what you will want to do to solve your problem) please [see here](https://github.com/jkphl/svg-sprite#b21-pre-defined-transformation-with-custom-configuration-object-values).

Please let me know if this wo

[2015-01-14 13:31] Avcajaraville commented on #41
Not really. I disable the svg optimization, and the output its better, but still, some problems happens.

This are some .svg icons I have, they are ok, you can see them properly on the browser, and on image viewer :

![pic1](https://cloud.githubusercontent.com/assets/2271201/5739381/427a2840-9bf9-11e4-8464-0f0fe9ba68b7.png)

![pic2](https://cloud.githubusercontent.com/assets/2271201/5739387/502d1c

[2015-01-14 13:54] jkphl commented on #41
Could you please send me the original SVG files and your config object to joschi@kuphal.net. I'll try to figure out what's the problem.

[2015-01-14 14:06] Avcajaraville commented on #41
Already sent you that email !

Thanks again for your help !

[2015-01-14 15:35] jkphl commented on #41
Thanks! Will try to work on it later today / tonight! :)

[2015-01-14 16:55] Avcajaraville commented on #41
Great, that would be awesome !

I cant wait to use svg all around my site, but till I have the sprites fixed, I cant deploy them.

Thanks so much for helping :)

[2015-01-14 18:28] jkphl commented on #41
Ok, it turned out this is a major bug in *svg-sprite*! I know the reason, now I'm working on a fix. Please give me some more ...

[2015-01-14 19:27] jkphl commented on #41
As I said, this was a major bug in *svg-sprite* which got fixed with [release v1.0.11](https://github.com/jkphl/svg-sprite/tree/v1.0.11).

However, you've still got a problem with your original SVG files: Several of them are using the same CSS class names (inside a `<defs>` block), e.g. `st0` or `st1`. They are generated by Illustrator when exporting the SVG files and interfere with each other whe

[2015-01-14 19:27] #41 closed

[2015-01-15 09:42] Avcajaraville commented on #41
Amazing ! That was the problem...

Anyway, the whole svg collection I have is huge, and some svgs have at least 60 st. classes, which means, sanitize it manually is kind of not an option.

So, how people address this problem ? Alternatives to Illustrator that doesn't make this class naming ? Any plugin, or something I can use to randomize the naming of theses classes and ids ?

BTW; was awesome th

[2015-01-15 09:52] jkphl opened #42 "Add CSS class name namespacing"
It would be desirable to not only have ID namespacing but also prefix CSS class names in SVGs with a custom string to avoid clashes. See #41.

[2015-01-15 09:53] jkphl commented on #41
No problem, glad it worked for you!

In fact, I'm thinking about implementing class namespacing into *svg-sprite* (as I did it for IDs), as this seems to be an essential problem under certain circumstances. I just never thought of it. Like with ID namespacing, however, this will has to be an optional feature as it can break e.g. scripting / animating the SVGs. I created a new issue for that (#42).

[2015-01-15 10:11] Avcajaraville commented on #41
Cool man ! Thats amazing !

Really looking forward for that.

[2015-01-15 13:30] phpprog opened #43 "How to set the padding only in sprite.svg, but leave everything else unaffected?"
Hi!

I take icon 40x40 -> set `spacing.padding: 20` -> icon gets padding with empty space (icon: 80x80).
* I don't change spacing.box: 'content'

How to set the padding only in sprite.svg, but leave everything else unaffected?

[2015-01-15 15:05] jkphl commented on #43
Hi @phpprog,

I'm sorry but I don't really understand your question. What do you want to achieve?

What is "everything else"?

Cheers, Joschi

[2015-01-15 17:22] phpprog commented on #43
[code]

I want to get sprite with padding (https://yadi.sk/i/0hs6vmqDdzhfg), but keep default view (https://yadi.sk/i/eEJLufRvdzhGR).

[2015-01-15 17:31] jkphl commented on #43
Well, I'm not sure **which HTML file** you are using for embedding / displaying the sprite, but you will have to adapt it to the bigger shape size. This is not a feature of the SVG sprite, but of the CSS used for using the sprite (and thus beyond the scope of *svg-sprite*). Please let me know if I'm wrong. In the meantime, I will close this issue as I don't see anything I could do from the *svg-sp

[2015-01-15 17:31] #43 closed

[2015-01-15 19:04] phpprog commented on #43
Look at the picture:  https://yadi.sk/d/3t9ZI5qQdzsdW

Now, when I set padding 50px, svg-sprite generate sprite.css, with
[code]

But I need padding 50px and sprite.css, which look on top left corner of icon without padding:
[code]

Is it possible?

[2015-01-15 19:14] jkphl commented on #43
No, not directly, as this is not how the padding is intended to be used. Why would you want to have padding when you shift and clip it away in the end?

You could, however, derive your own Mustache template, and maybe with the help of some (e.g. Sass) mixins could achieve what you describe. It's up to you to write an appropriate template though.

[2015-01-15 19:46] phpprog commented on #43
I have many bugs like this: https://yadi.sk/d/WQtQ0w7idzvzS

* Container bigger then his background icon, and when past icon from sprite, in this container fall other icons from sprite.

In project many buttons with different sizes, so I want try set padding without change html.
Almost help  `layout: 'diagonal'`,  but in container fall corner of the adjacent icons.

[2015-01-15 22:55] jkphl commented on #43
As I said, you may always go ahead and write a custom Mustache template that deals with the coordinates differently than the standard template.

Also, you might be lucky by rendering e.g. a vertical sprite with enough padding and using the [extended alignment features](https://github.com/jkphl/svg-sprite#a2-extended-shape-alignment) to horizontally center all your shapes within the sprite (if that

[2015-01-21 15:59] atilafassina opened #44 "unversioned dependency problem on locked dependencies project"
Hello!

I might a problem using svg-sprite with **grunt-svg-sprite** when locking dependencies with **npm shrinkwrap**

on `package.json`, [line 38](https://github.com/jkphl/svg-sprite/blob/master/package.json#L38) there's defined lodash as a dependency without version

[code]

On `grunt-svg-sprite` dependencies, it generated with a `git+https` path, that would download any version, as far as I un

[2015-01-21 16:08] jkphl commented on #44
Hi @atilafassina,

thanks for your report. First of all, I have to say that I have no clue of shrinkwrap at all and I didn't test it during development.

Furthermore, when I was writing *svg-sprite* at around christmas, *lodash* was available in version 2.41, but I was relying on functionality that would be introduced with the upcoming v3.0, so I had to use the unversioned dependency to enforce th

[2015-01-21 16:27] atilafassina commented on #44
wow! Thanks a lot, @jkphl
That's probably gonna do the trick!!

After your commit, I'll test again and post the feedback here...

[2015-01-21 16:54] jkphl commented on #44
You're welcome. Well, it looks like there's no official v3.0 NPM package yet. Will need to wait for that one. Stay tuned. ;)

[2015-01-21 17:19] jackbrewer commented on #23
Thanks so much for this. I missed the initial notification but will update and let you know if there are any further issues.

Appreciate the update – really enjoying using this module.

[2015-01-21 17:47] atilafassina commented on #44
:+1:  ok!
I'll keep an eye on that as well.

[2015-01-22 22:47] jkphl commented on #44
Seems we'll have to wait until next Monday: https://twitter.com/jdalton/status/558308326862098432

[2015-01-24 18:04] lookfortheroot opened #45 "Can't render CSS in defs mode"
Is it really impossible to render css/stylus/etc in defs mode? Need this for full control with CSS, e.g. adaptive sizing.
I did read all docs and I see this possible only in css/view modes.

[2015-01-24 18:08] jkphl commented on #45
Hi @lookfortheroot,

this is a duplicate of [grunt-svg-sprite issue #31](https://github.com/jkphl/grunt-svg-sprite/issues/31#issuecomment-70635708). As it happens, I'm just about adding the possibility to render a CSS (et al.) with the shape dimensions. What else would you need?

Cheers,
Joschi

[2015-01-24 18:19] lookfortheroot commented on #45
Same render possibilities like in css/view modes would be nice.
Thanks a lot for your work, I'll be wait :)

[2015-01-24 18:31] jkphl commented on #45
Well, **the very same** don't make any sense (and are impossible, by the way). By definition, a `defs` sprite is not usable as a CSS sprite (i.e. for background images), as the shapes are not positioned in any way within the sprite. The sprite just serves as a "shape library" and you may `<use>` the contained shapes as foreground images (the same applies for the `symbol` and `stack` sprites by the

[2015-01-24 18:46] lookfortheroot commented on #45
Well, this is right.
I use another approach - inject SVG by AJAX for caching, and move shapes to placeholders for full CSS/animation/transform/etc control. So just now all I need is sizes in separate Stylus/CSS file.

[2015-01-24 18:53] jkphl commented on #45
Thou shalt get that. ;)

I might delay the next release until Monday, however, as I'd like to wait for the [upcoming lodash release](https://github.com/jkphl/svg-sprite/issues/44).

By the way, that SVG injection approach you are talking about will most likely be featured in one of my next [iconizr releases](https://github.com/jkphl/node-iconizr), then including support for PNG fallbacks as well.

[2015-01-24 20:00] jkphl commented on #45
Should work now, although still undocumented. Just use it as you would do with `css` or `view` mode. A reworked documentation will come soon, as does an official release. ;)

Cheers,
Joschi

[2015-01-24 20:06] lookfortheroot commented on #45
Yay, this was fast. Thanks a lot :+1:

[2015-01-24 20:07] jkphl commented on #45
You're welcome. As I said, I was just about it anyway. Didn't spend too much time testing though — would be nice if you could give me some feedback if this works for you. :)

[2015-01-24 23:00] lookfortheroot commented on #45
It almost works ;)
1) In generated css/stylus/etc there is a space instead a dot:
[code]
2) We need then to eliminate **width** and **height** attributes for svg+css sizes or it won't work.
And they somehow appending even if they were not in the SVG source. I don't see how to remove it in config :(

3) Besides, it seems SVGO transforms doesn't work. Is it only for me? No errors, nothing:
[code]

[2015-01-24 23:38] jkphl commented on #45
No, it's not. I double checked it with different output modes and all the stylesheet resource types. I get a dot, always. Any chance there's another problem on your side? Did you alter the `prefix` or the `dimensions` option? What are your values? Any other possibility?

I'm not sure if I completely understand your problem. In case you set the `inline` option to true, the sprite gets prepared for

[2015-01-24 23:54] lookfortheroot commented on #45
2)
[code]

[2015-01-25 00:14] jkphl commented on #45
I'm sorry, but I think that what you're trying to achieve is something that is specific to your SVG injection approach — which is not what the `defs` sprite is made for. Once again, please have a look at the example document to see how the sprite is intended to be used. The `<use>`ing SVG element may well be styled via CSS:

[code]

[2015-01-25 01:47] lookfortheroot commented on #45
Of course, this is one of the best methods.
But :hover and other effects still [buggy](http://stackoverflow.com/questions/25206799/can-i-fix-cross-browser-css-issues-with-use-xlink-based-svg-sprite-without-res) with `<use>` even in latest Chrome. Only truly inline SVG works cross-browser.

That is why I try combine best parts:
- AJAX injecting - cache advantage
- Moving shapes in their placeholder

[2015-01-26 12:37] phpprog opened #46 "How get full path to svg in generator?"
Hello!

I have many icons with the same name in different directories.  How can I get full path to svg in generator (not only name)?

[2015-01-26 12:44] jkphl commented on #46
It depends on how you add your source files to the spriter. Could you please post the JavaScript setup you are using for instanciating and running the spriter?

[2015-01-26 13:06] phpprog commented on #46
I found answer in your question ))

* docs here: https://github.com/jkphl/svg-sprite#svgspriteraddfile--name-svg-

Thanks! :)

[2015-01-26 13:06] #46 closed

[2015-01-26 13:13] jkphl commented on #46
You're welcome! :)

[2015-01-26 15:44] atilafassina commented on #44
Yeah... took some while more,
but it's [released](https://www.npmjs.com/package/lodash) =)

[2015-01-26 15:52] jkphl commented on #44
Thanks for the heads up. Will try to push out another release tonight! :)

[2015-01-26 15:53] atilafassina commented on #44
:+1: thanks a lot!

[2015-01-26 23:53] jkphl commented on #45
I'm still thinking about removing the width` and `height` attributes of the inner `<svg>` elements. Gonna reopen this issue so that I don't forget it ...

[2015-01-26 23:57] jkphl commented on #44
The [new release](https://github.com/jkphl/svg-sprite/releases/tag/v1.0.12) is out — hope this works for you now! :)

[2015-01-26 23:57] #44 closed

[2015-01-27 14:06] atilafassina commented on #44
It did the trick! :tada:
Thanks a lot @jkphl

[2015-01-27 14:17] jkphl commented on #44
You're welcome! Thanks for the feedback. :)

[2015-01-27 18:27] phpprog opened #47 "How set empty prefix?"
Hello!

I generate full selectors in function and don't want use prefix. But I can't set empty prefix (it always equal '.') and I do this:

[code]

and then I have '.selector .icon' in css.

I do not like this crutch: `selector.substr(1)`.  How do I get rid of it?

[2015-01-27 18:37] jkphl commented on #47
What you are doing is not the way the ID generator function is to be used! It should generate a unique **ID**, not a CSS selector! An ID **must not contain whitespace, special characters** etc. As the ID will be used as `id` attribute in the SVG, this will break validity. Please use the options as intended.

[2015-01-27 18:37] #47 closed

[2015-01-27 18:56] phpprog commented on #47
Oops! )
But it seemed to me this is a simple solution generate complex selectors, like `.a .b.c .d::after`,  which stored in the array in finished form. Maybe advise something else? :)))

[2015-01-27 20:03] jkphl commented on #47
Well, this is exactly what the `prefix` option is for. You just need to insert something like `.a .b.c .%s::after` (the placeholder `%s` will get replaced by the individual shape IDs). Also, you may always use a custom rendering template to create your very own stylesheet variant.

[2015-01-27 20:31] phpprog commented on #47
Unfortunately in my case changing the entire string, not only '.d', so  individual shape ID must be inserted instead of a `.a .b.c .d::after`.

I'll try anything to do with it. Thank you.

[2015-01-27 20:51] jkphl commented on #47
In this case, you'll probably not succeed without writing your own template respectively extending a standard one. Are you using a CSS preprocessor? I'm mostly familiar with Sass, so I'll use that for the following explanation:

* Let *svg-sprite* render the Sass template with a custom file name so that it starts with an underscore (e.g. `_sprite.sass`)
* Create a custom Sass file (e.g. `sprite.sc

[2015-01-28 17:50] jkphl opened #48 "Add cache busting option for non-CSS sprites"
With non-CSS sprite types (which are used directly), the cache busting feature should be disabled by default.

[2015-01-28 22:15] #48 closed

[2015-01-28 22:18] jkphl commented on #45
As of [release v1.0.13](https://github.com/jkphl/svg-sprite/releases/tag/v1.0.13) you can control whether you want to have `width` and `height` attributes. Please have a look at the `svg.dimensionAttributes` and `shape.dimension.attributes` options and also let me know if this works for you now. Thanks! :)

[2015-01-28 22:18] #45 closed

[2015-01-29 08:05] lookfortheroot commented on #45
It works. Thanks!

[2015-01-29 12:25] lookfortheroot commented on #45
But I have last question.
For final cross-browser responsivity it's need a little [trick](http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/), here is a pseudo-code:
padding-top: (svg.height / svg.width)%

I can't understand, how in **Gulp** to pass calculated value to template? I always get errors:

variables: {
    'ptop': function(sprite, render) {
		sprite.height.inner / s

[2015-01-29 14:26] jkphl commented on #45
Please refer to the [Mustache documentation](https://github.com/janl/mustache.js/#functions) to learn about the usage of callbacks (which seems, in general, a legit solution for your problem). AFAIK you may only pass strings to these functions, and you won't be able to pass the `sprite` object variable with all its properties. I guess you will have to pass the height **and** width as a string (del

[2015-01-29 14:51] lookfortheroot commented on #45
I meant I can't find right object for calculates.
In your docs there is only one [example](https://github.com/jkphl/svg-sprite#f2-custom-variables--functions), and I trying:
[code]
[code]
Etc etc. I don't understand how to do it.

[2015-01-29 14:55] jkphl commented on #45
Please read my previous comment. You **cannot pass in objects to Mustache functions**, only strings. In the template you need to use something like:

[code]

and then in function:

[code]

[2015-01-31 18:44] lookfortheroot commented on #45
Sorry for my English, it seems I poorly explained and you misunderstood me :)
In Gulp I want to **precalculate** ``(svg.height / svg.width)`` and pass a **result** in the template.
So I don't know how to get width and height of the processed svg:
[code]
And in the template something like: ``padding-top {{my_result}}``
Is it possible? Any help will be appreciated.
Thanks!

[2015-01-31 22:25] thasmo opened #50 "Custom variable callback doesn't work correctly"
I'm trying to use a similar variable definition as defined in the docs, but all it does is print the function as string into the template, which looks like this:
[code]
My configuration looks like this:
[code]
My template is this:
[code]

Haven't found anything why mustache shouldn't run the function and instead print it. Any idea?

[2015-01-31 23:06] jkphl commented on #50
You should definitely get familiar with the Mustache syntax! ;)

Please [see here](https://github.com/jkphl/svg-sprite/issues/32#issuecomment-65403660) for an example of how to use function calls in Mustache. Using `{{{whatever}}}` (which is the unescaped version of `{{whatever}}`) does nothing else than printing a variable to the output file. To call a function, you have to use `{{#whatever}}argu

[2015-01-31 23:06] #50 closed

[2015-02-01 00:15] thasmo commented on #50
Yeah, indeed - should get familiar with the mustache basics. Thank you for responding so quickly!

[2015-02-02 08:44] jkphl commented on #45
Please re-read my [comment above](#issuecomment-72037613) — most of the answer to your problem stands written there. The variables available in each template are [documented here](https://github.com/jkphl/svg-sprite#f1-sprite--shape-variables). You will want to go for `width.outer` an `height.outer` I guess. Pass these into an appropriately written callback function and do you pre-calculation.

[2015-02-02 09:09] jkphl opened #51 "Switch to PhantomJS 2.0 for tests"
[PhantomJS 2.0](https://github.com/ariya/phantomjs) is out. Tests could be improved in case fragment identifiers for SVG are supported.

[2015-02-04 13:08] joaoponceleao commented on #51
No worries. As a word of warning, if any mac users are getting hangs with iconizr / svg-sprite, this is probably the reason. The most popular mac package manager (homebrew) will update phantomjs (and everything else for that matter) to the latest stable release no questions asked (including crossing over major versions...). Mac users should do a `brew uninstall phantomjs && brew install phantomjs1

[2015-02-04 13:10] jkphl commented on #51
Thanks for this great hint! :+1:

[2015-02-08 11:12] jkphl opened #52 "Disabling render configuration with `false` leads to an error"
The following configuration leads to an error:

[code]

The problem seems to be disabling a render configuration with `false` (or something falsy).

[2015-02-08 18:19] #52 closed

[2015-02-10 13:51] jkphl opened #53 "Sprite URL in css/view sprite example document wrong"
The sprite URL used in the example documents for css/view sprites don't respect subdirectories

[2015-02-10 13:53] jkphl opened #54 "File extensions for CSS resources are not set properly"
When specifying a CSS output resource path without file extension, the file extension should be added automatically:

[code]

should result in a file `path/to/sass/without/extension.scss`.

[2015-02-10 15:25] #53 closed

[2015-02-10 15:25] #54 closed

[2015-02-11 00:04] berserkmustdie opened #55 "Needed update in css mode"
It would be useful to render css file with prefix which can change dot to another symbol.
Example for scss
instead
.icon-1 {...}
.icon-2 {...}
.icon-3 {...}
do
%icon-1 {...}
%icon-2 {...}
%icon-3 {...}
in this case I can use @extend command for :after & :before pseudo-classes, or just another class or even a tag. And I dont need to paste sprite icon class to html file.
Such functionality would be

[2015-02-11 00:14] jkphl commented on #55
Hi @berserkmustdie,

I didn't test this. but have you tried setting `mode.css.prefix` to something like `"%icon-%s"`? I could imagine this just does what you want to achieve. Please let me know if this works for you.

Cheers,
Joschi

[2015-02-11 00:25] berserkmustdie commented on #55
I tried. dot still on its place.
Only space can remove dot, but in such case I get %icon %svg-image-1 {...}
((

[2015-02-11 08:57] jkphl commented on #55
Should be fixed with [release v1.0.15](https://github.com/jkphl/svg-sprite/releases/tag/v1.0.15). Please [see documentation](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties) for additional notes.

[2015-02-11 08:57] #55 closed

[2015-02-11 09:58] berserkmustdie commented on #55
Thank You. You a BIG man))
All works

[2015-02-11 10:14] jkphl commented on #55
You're welcome. :)

[2015-02-11 11:20] berserkmustdie opened #56 "%% issue with sprite path"
When we using %%, it means we want to @extend code from sprite.scss to our main.scss
And here is the problem
we can have such structure
-scss
---main.scss
---css
------sprite.scss
------svg
---------sprite.css-hdbch.svg
and in sprite.scss code we would have something like
%svg-common {
	background-repeat: no-repeat;
	background-image: url(svg/sprite.css-3feb3afe.svg);
}
%svg-ico-btn-slide-up {
	ba

[2015-02-11 12:00] jkphl commented on #56
Hey @berserkmustdie,

I'm sorry but it's definitely beyond the scope of svg-sprite to "know" and fulfil the specifics of your Sass setup. I can think of two possible solutions, but both are up to you:

* As you already suggested: rearrange your Sass resources or
* derive a [custom Mustache template](https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md) and add that missing directory

[2015-02-11 12:00] #56 closed

[2015-02-13 10:32] jkphl opened #57 "Provide a "boxed" spacing / padding strategy"
See @justineberger's suggestion over at [grunt-svg-sprite #35](https://github.com/jkphl/grunt-svg-sprite/issues/35#issuecomment-74232726).

[2015-02-13 13:13] tolvstein opened #58 "Mulitple src folders"
Would it be possible to somehow set multiple src folders likes this:

src: [
  'common/images/svg/',
  'project1/images/svg/'
]

As it is right now, the script only handles the first src param and ignores the second one. I have multiple subprojects in which I would like to have both common svgs (used in multiple projects) and project specific svgs in different folders.

[2015-02-13 13:17] jkphl commented on #58
Hi @tolvstein,

you don't happen to use one of the wrappers for *svg-sprite* (like [grunt-svg-sprite](https://github.com/jkphl/grunt-svg-sprite) or [gulp-svg-sprite](https://github.com/jkphl/gulp-svg-sprite)), do you? *svg-sprite* itself doesn't have / use a `src` parameter ... Would you mind re-posting in the appropriate project?

Thanks & cheers,
Joschi

[2015-02-13 13:17] #58 closed

[2015-02-13 21:56] justineberger opened #59 "Specify different paths for generated sprite and css"
Hey again Joschi

Is it possible to have control over the path for where the css is stored, and another for the sprite ?
right now the sprites are stored inside the css folder. I would prefer to keep them outside. I can move the folder of course but then the paths in the css won't work...

Thanks

[2015-02-13 22:33] jkphl commented on #59
Hey @justineberger,

that's totally possible. Please have a look [here](https://github.com/jkphl/gulp-svg-sprite/issues/12#issuecomment-72636077) for an explanation of the several path options (replace `<yourmode>` with `css` or `view` respectively):

* Basically, there's a general output directory for your sprite mode (constructed of `dest` + `mode.<yourmode>.dest`) (see [here](https://github.com

[2015-02-13 22:58] justineberger commented on #59
Yes, thank you, it seems to work okay. I know the answers to my questions are probably somewhere in the doc, but it's really difficult to find and get a grasp of it. I'm starting to fall asleep on my pc so i'll play around a bit more tomorrow (i've been grunting non-stop for 10 hours, this stuff is awesome, but soo time consuming, haha). But, awesome support man !

[2015-02-13 23:00] jkphl commented on #59
Glad that it works out for you, and happy to help. You're welcome! :)

[2015-02-13 23:00] #59 closed

[2015-02-13 23:02] jkphl commented on #59
Oh, and yes, I know that there are really a lot of options and that it's hard to understand all that (imagine what's going on in my brain when writing all this code and docs!). I'm trying hard to constantly improve the docs and everything ... Cheers!

[2015-02-16 12:12] bartveneman opened #60 "Add possibility to define custom css template"
I'm missing this in the documentation, so I'm using the HTML example for rendering custom Scss files, which is, well, bad. Is there, or could there be a way to define a path to an example `sprite.(less|sass|scss|css|styl).mustache` and save that to a `sprite.(less|sass|scss|css|styl)`?

[2015-02-16 12:14] #60 closed

[2015-02-16 12:14] bartveneman commented on #60
Excuse me, wrong repo.

[2015-02-16 14:09] Eworm commented on #59
Hi,

I'm also trying to set different folders for the sprite and scss file, but I'm having a hard time getting the path to the sprite right in the scss file. It's ok to have the sprite & scss file in img/sprite, but I can't get the path to the svg right no matter what I do. Could you maybe take a look at my setup?
[code]

[2015-02-19 12:21] jkphl commented on #59
Hey @Eworm,

could you please tell me what you considered the "right" path to the sprite in your Sass file?

I tried your example and it works just as expected:

* Your main ouput directory is `"img/sprite"` (relative to the directory where you run Grunt).
* You set `mode.view.dest` to an empty string, which is basically the same as `"."`, so the base directory for your «view» sprite and accompany

[2015-03-02 20:44] kinday opened #61 "Malformed inline SVG <symbol> sprite"
Hi!

I’m trying to generate an inline `<symbol>` sprite and can’t get valid SVG markup.

For some reason `svg-sprite` returns markup where all elements inside a `<symbol>` are nested one into another.

[code]

I get this result on `node v0.12.0` on either `OS X 10.10` or `Ubuntu 14.04`.

I’ll share any details you might need to reproduce and solve the issue.

__UPD:__ If I pass the same files to `

[2015-03-02 21:08] jkphl commented on #61
Hey @kinday,

thanks for reporting this. I'm happy to help you solve your problem. However, I will be totally overloaded until Friday so I can't do anything before the weekend. Thanks for your patience!

Cheers,
Joschi

[2015-03-04 01:30] stevieg83 opened #62 "dumb question time again"
once I have the sprite generating and I add svg-logo class to an element, how can we resize that element via CSS.

If I change the element size, the background position gets knocked out. Is there a way to properly set the size that I'm missing? I realise this might not fall within the remit of svg-sprite.

Thanks,
Steven

[2015-03-04 08:43] jkphl commented on #62
Hi @stevieg83,

I've to keep it short due to massive overload, but: You need to use a vertical or horizontal sprite layout and set `background-position: cover`. In most cases this should work. Hope it helps.

Cheers,
Joschi

[2015-03-04 08:43] #62 closed

[2015-03-06 00:35] nguyenj opened #63 "Add style attribute to svg element"
Thanks in advance for the help.

I just have question on how to add a style inline attribute to the svg element. Something along the lines of `style="display:none;"`?

[2015-03-08 09:50] jkphl commented on #63
Hi @nguyenj,

at present there is no support for altering the sprite SVG, but I might consider adding a post-processing option in a future release.

On the other hand, I assume you are asking because you are using the «defs» or «symbol» sprite and want to inline it into an HTML document, right? Did you consider using the `mode.<mode>.inline` option ([documentation](https://github.com/jkphl/svg-spr

[2015-03-08 09:50] #63 closed

[2015-03-08 10:01] jkphl opened #64 "Consider adding a post-transformation option for the created sprite SVG"
As discussed in #63

[2015-03-08 10:05] jkphl commented on #61
Interesting — especially because *gulp-svg-sprite* does nothing else but employ *svg-sprite* internally. Could you please send me your source file SVGs and you svs-sprite configuration to joschi [at] kuphal [dot] net. I'll try to reproduce the problem.

[2015-03-27 18:27] phallguy opened #65 "--variables command line option is not parsed"
The docs state that the --variables command line option accepts a "Path to external JSON file with Mustache variable definitions". Unfortunately it's treated as a simple string and doesn't actually read or parse the referenced JSON file.

Adding this to bin/svg-sprite.js just above the SVGSpriter initialization fixes it.

[code]

It could use some error checking but this was just to prove to mysel

[2015-03-28 09:52] jkphl commented on #65
Hey @phallguy,

thanks for reporting this. I pushed out a [bugfix release](https://github.com/jkphl/svg-sprite/releases/tag/v1.0.20) now — I had simply forgotten to implement this.

Cheers,
Joschi

[2015-03-28 09:52] #65 closed

[2015-03-28 17:31] phallguy commented on #65
You're awesome! thanks so much for a super helpful tool.

[2015-03-28 18:19] jkphl commented on #65
You're welcome! :)

[2015-03-31 22:07] PeterMK85 opened #66 "Make it possible to use it at Media Query [SASS output, %extend svg-common -> @mixin svg-common]"
Due to the current limitation of SASS (You can't extend % or . classes in a media query, but you can with a mixin), is there a way to transform the genrated %svg-common into a @mixin ?

The "classes" I was able to alter it down to placeholder (or silent classes) or mixins but because the first property of them is:
@extend %svg-common;

It actually fails during the compile.

[2015-04-01 12:57] jkphl commented on #66
Hi @PeterMK85,

thanks for requesting this feature. In fact, I was reading about this myself a couple of days ago, and I'd also be interested in extending the classes from within media queries. Unfortunately, my time is extremely limited these days ... Would you be able to provide a complete example of how the Sass output (including the mixin) would have to look like? That'd speed it up a lot ...

[2015-04-02 11:20] jkphl commented on #66
Ah ok, looks easy. So wouldn't it be sufficient to provide a boolean "mixin" option that toggles between the @mixin and the @extend style?

[2015-04-03 06:08] PeterMK85 commented on #66
Yep that would be great to choose by a parameter :+1:

[2015-04-09 22:50] jkphl commented on #66
Continued [here](https://github.com/jkphl/grunt-svg-sprite/issues/41).

[2015-04-09 22:50] #66 closed

[2015-04-09 23:00] jkphl commented on #61
@kinday Is this still of any relevance for you?

[2015-04-12 17:13] Johnius opened #68 ""{}" is not a valid mode configuration"
I'm using
- elementary OS Luna
- Node v0.10.36
- Npm v1.4.28

To install svg-sprite I used `npm install -g svg-sprite`
Then I did `svg-sprite *.svg`

And got an error
[code]

[2015-04-12 17:23] jkphl commented on #68
@Johnius Please refer to the manual. You have to enable at least one valid `mode` to get a reasonable output (e.g. `--css`).

[2015-04-12 17:23] #68 closed

[2015-04-12 17:28] Johnius commented on #68
I used the option `--css`. But still gets an error
[code]

[2015-04-12 17:31] jkphl commented on #68
Did you also specify an output directory? Please try to run one of the [example commands](https://github.com/jkphl/svg-sprite/blob/master/docs/command-line.md#examples) and let me know if that works (and please always post the complete commands you run).

[2015-04-12 17:35] Johnius commented on #68
I have used these commands from
[code]

[2015-04-12 17:38] Johnius commented on #68
I have used these [example commands](https://github.com/jkphl/svg-sprite/blob/master/docs/command-line.md#examples)
[code]

I have two directories:
- *out* which is empty
- *assets* which have 3 svg files

But I still gets the same error
[code]

[2015-04-12 17:39] jkphl commented on #68
Please try running `svg-sprite --css --dest=out *.svg` (with the argument order this way). There's a known issue with *yargs* not treating the boolean arguments correctly (`--css`). Does this work then?

[2015-04-12 17:40] jkphl commented on #68
Also, please enable `--log=debug` and post the output.

[2015-04-12 17:44] Johnius commented on #68
Debug mode show the real reason of the error.
[code]

I just deleted `google.svg` and it works now.
I can upload this svg file for further understanding the roots of the error.

[2015-04-12 17:53] jkphl commented on #68
That would be good, thanks! Which version of SVGO are you running? Is it already the new 0.5.1?

[2015-04-12 18:10] Johnius commented on #68
The reason of that error was just my mistake. I incorrectly downloaded SVG file from Wikimedia. It was HTML-file instead of SVG.

Now I downloaded it correctly and everything works fine.

[2015-04-13 06:51] jkphl commented on #68
Ah ok. Thanks for reporting. I'll consider improving the error message in this case though. ;)

[2015-04-13 06:52] jkphl opened #69 "Improve error message in case of non-SVG input files"
Adding a non-SVG file as shape input doesn't print an meaningful error message, see [here](https://github.com/jkphl/svg-sprite/issues/68#issuecomment-92094656).

[2015-04-14 21:22] Zarabadoo opened #70 "example template override path is added to the location of the svg-sprite module"
I am using gulp-svg-sprite v1.1.0 and trying to do some overrides to the example html output. I have something similar to this in my configuration:

[code]

This is also the same type of configuration given by the online generator.

When I run the build, svg-sprite prefixes it's own path to the override path I have given it and fails the load since it does not exist. I tested an override of the cs

[2015-04-17 21:48] rqelibari opened #73 "Provide viewBox for svg wrapper element in stack mode"
When using stack mode, the most outer svg tag in the result file does not contain a viewBox attribute.
This causes an undesired rendering in Safari (8.0.5), Chrome (42.0.2311.90) and Firefox (37.0.1) (I didn't test IE), when the svg file is included via fragment identifiers in an object tag:

    <object data="/path/to/sprite.stack.svg#terminal" type="image/svg+xml"></object>

And here a screensho

[2015-04-18 20:10] jkphl commented on #73
Hey @rqelibari,

thanks for reporting this. To be honest, I probably never really checked using the stack sprite in conjunction with an `<object>` element. The only reason for skipping the `viewBox` attribute was to save some bytes — I can't think of any downsides. I'll incorporate it as you suggested. :)

Cheers,
Joschi

[2015-04-18 20:42] #73 closed

[2015-04-18 21:00] jkphl commented on #70
Hey Al,

thanks for reporting this! When I try this (with the exact same setup as you do), *svg-sprite* just behaves fine. So it seems to be something specific to the Gulp wrapper. I'll investigate this further.

Cheers,
Joschi

[2015-04-18 21:22] jkphl commented on #70
Should work now. Please let me know if you've still got problems overriding the template path. :)

[2015-04-18 21:22] #70 closed

[2015-04-18 22:40] #69 closed

[2015-04-18 22:41] jkphl commented on #61
@kinday I'll close this for now. Please feel free to reopen the issue in case you still got problems.

[2015-04-18 22:41] #61 closed

[2015-04-19 17:31] Zarabadoo commented on #70
I will give it a try and let you know if there is still an issue. Thank you for the promptness.

[2015-04-20 20:10] jaywolters opened #74 "Defs block for extracting gradients."
With Symbols is it possible to configure svg-sprite to extract all the gradients &lt;linearGradient> (etc) into a &lt;defs> block -- or will I need to use Cheerio for that?

[2015-04-20 20:37] jkphl commented on #74
Hey @jaywolters,

it's not really within *svg-sprite*'s scope to perform SVG manipulations like that. You could, however, use a custom `transform` to operate on each single SVG shape before it's compiled into the sprite. See [here](https://gist.github.com/jarcoal/0f8d205598401baaf414) for a recent example of how to re-color a shape (used with [grunt-svg-sprite](https://github.com/jkphl/grunt-svg-s

[2015-04-21 00:18] nikglavin opened #75 "phantomJS as devDependency"
is there a reason that phantomJs is being loaded as a production dependency ?

[2015-04-21 06:57] jkphl commented on #75
Hi @nikglavin,

yes, there is: In the (admittedly rare) case that an SVG file is used that lacks both a `viewBox` and `width`/`height` attributes, PhantomJS is used to render the SVG and measure its dimensions.

Cheers,
Joschi

[2015-04-21 06:57] #75 closed

[2015-04-21 10:10] arsuceno opened #76 "Passing true/false for --{type}-bust in command line"
I just realized that in order to set true/false in command line you have to use 0 or 1. Like this:

`svg-sprite --css --css-bust=0 --css-sprite icons-sprite-css.svg svg/*.svg`

If you use true/false it is treated as a string and it isn't parsed before https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/mode/base.js#L76 , getting always true as value ( !!'false' ).

[2015-04-21 10:18] jkphl commented on #76
Hey @arsuceno,

thanks for clarifying this. Yes, I already noticed that there must have been a change in [yargs](https://github.com/bcoe/yargs) regarding the way it is dealing with boolean arguments / switches. I'll investigate this as soon as I find some time.

Cheers,
Joschi

[2015-04-21 16:59] jaywolters commented on #74
Using the Symbol method and when working with pre-colored Icons that use gradients-- moving the gradients to a &lt;Defs> block is essential for FF and IE to render the SVG correctly. This problem has been brought up in a few SO posts and grunt/gulp-svgstore made the change just recently. Thanks for your response.

[2015-04-21 17:05] jkphl commented on #74
Good to know, thanks for this info. You don't happen to have some resources handy elaborating on the topic? I might consider hardwiring it then ...

[2015-04-21 19:32] jaywolters commented on #74
Refer to David Bushell's <a href="http://dbushell.com/2015/01/30/use-svg-part-2/ ">blog post</a> on SVG and MDN <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients">using gradients in SVG</a> you will see where it shows the SVG markup and how all the Gradients are placed inside of the &lt;defs> block. <br />
I experimented with this problem before figuring it out myself as

[2015-04-21 19:46] jkphl commented on #74
Thanks a lot for these useful resources! You convinced me that this should be a core feature of *svg-sprite*, as it will greatly improve the overall usability of the sprites. I'll try to implement the gradient extraction, but please give me some time for that. Unfortunately, I'm extremely overloaded these days an am having a hard time getting all my things done. Again, thanks a lot!

[2015-04-22 18:24] mcraiganthony commented on #70
@Zarabadoo Any luck with this? I'm having the same issue.

[2015-04-22 18:27] jkphl commented on #70
@mcraiganthony Do you use the latest release? Which platform are you on? Could you please post your complete config? Thanks.

[2015-04-22 18:43] mcraiganthony commented on #70
@jkphl I tried the latest release which broke the build. I'm on a Mac.

Fortunately I had another repo using gulp-svg-sprite v1.1.0 so I copied it over. This fixed my issue. Must be a dependency problem within v1.1.0.

[2015-04-22 18:48] Zarabadoo commented on #70
@mcraiganthony I updated and it works fine for me. My configuration is super complex and I am hesitant to post it all as most of it is not relevant to this problem. The example portion is pretty straight forward, though.

[code]

[2015-04-22 19:09] jkphl commented on #70
@Zarabadoo Glad to hear that it works for you!

@mcraiganthony Please be aware that I fixed the template path issue for v1.1.1, so v1.1.0 won't give you the results you are looking for. Can you specify "broke the build" any further?

[2015-04-22 19:12] mcraiganthony commented on #70
@Zarabadoo @jkphl

I updated to v1.1.1 again.

The config below no longer works and throws this error:
Error: ENOENT, no such file or directory '/Users/craig/Git Repos/boomstrap/tmpl/symbol/sprite.html

Let's forget about template overrides for now. Why does this config no longer work? It used to generate "sprite.symbol.html".

[code]

This Gulp task no longer works

[2015-04-22 19:16] jkphl commented on #70
@mcraiganthony Thanks for posting this. Sounds like I introduced some kind of regression bug — sorry for that. I'll test your config asap and get back to you.

[2015-04-22 19:21] mcraiganthony commented on #70
@jkphl Thanks man! I appreciate it. Sorry for being unclear initially.

[2015-04-22 19:23] jkphl commented on #70
@mcraiganthony You're welcome. Just need to get my daughter to bed before ... ;)

[2015-04-22 20:20] jkphl commented on #70
@mcraiganthony This has definitely been a regression bug — I'm very sorry for the inconvenience. I just  [committed a fix](https://github.com/jkphl/svg-sprite/commit/7f19e8735b74c18074651cb952563a4d48fb64d1). I'll try to fix some other bugs as well and push out a new release later tonight. Please let me know if this works for you then!

[2015-04-22 20:46] jkphl opened #77 "Substitute whitespace in file names during shape ID creation"
Currently, whitespaces in SVG file names result in CSS selectors with spaces as well, which is undesirable. Whitespace should be substituted before shape ID creation.

[2015-04-22 20:51] mcraiganthony commented on #70
@jkphl Oh man, no worries at all! Thanks for your responsiveness and for authoring this project. It's been a huge help!

I'll check for the release tomorrow morning and give it another go. Thanks again!

[2015-04-22 21:13] jkphl commented on #76
@arsuceno The behavior of boolean arguments should be fixed now. Please use `--switch` or `--switch=true` to enable a boolean feature. Any other value (or omitting the argument altogether) will result in the default value (mostly `false`). Please let me know if this still causes you troubles.

[2015-04-22 21:13] #76 closed

[2015-04-22 21:39] #77 closed

[2015-04-23 20:28] mcraiganthony commented on #70
@jkphl v1.1.2 works like a charm! Thanks so much!

[2015-04-23 20:37] jkphl commented on #70
@mcraiganthony Thanks for letting me know! You're welcome :)

[2015-04-28 09:28] herrschuessler opened #78 "Add spriteName templating value"
In custom templates, the value `sprite` can be used to get a relative path to the SVG sprite resource.

There are use cases where that relative path points to the wrong direction. In that case, it would be nice to be able to construct a custom path in the mustache template file and append a value `spriteName`, which outputs just the sprite name plus cache buster (if `bust` is set to `true`).

[2015-04-28 09:30] jkphl commented on #78
@herrschuessler Could you please specify the use cases when the path is "wrong" from your perspective? Examples?

[2015-04-28 09:36] herrschuessler commented on #78
Sure, i'll try:

I have setup where the SVG files reside in the folders of `src/svg/`, SASS files in `src/sass/`. Now I need to generate the SVG sprite to `dist/img/svg/`, but the SASS file to `src/sass/`, from where it will be compiled to a CSS file in `dist/css/`.

In that scenario, I am currently not able to get a correct path to m sprite file into the rendered CSS file using only `{{sprite}}`

[2015-04-28 09:41] jkphl commented on #78
Ok, let me scrutinize this:

* When your final CSS output directory is `dist/css/`, then your `mode.<mode>.dest` setting should point to this directory, right?
* Your `mode.<mode>.sprite` setting should be `../img/svg` (relative distance between the CSS / main output directory and your sprite).
* Your `mode.<mode>.render.scss.dest` should be `../../src/sass` (relative distance between the CSS / ma

[2015-04-28 09:56] herrschuessler commented on #78
Right, that works perfect. I guess my approach of setting the `mode.<mode>.dest` value to the root folder and calculating all path from there was not the way to go.

Thanks for your support! I guess that resolves the issue, no need for an additional `spriteName` value in the template.

[2015-04-28 10:15] jkphl commented on #78
You're welcome! :)

[2015-04-28 10:15] #78 closed

[2015-04-30 03:45] cmalven opened #79 "Absolute image URL from Sass file."
I'm using the following config to output the `sprite.scss` file to my sass folder and the `sprite.css.svg` file to my public images folder.

[code]

Unfortunately, it doesn't seem like there is any way to specify a destination for the `sprite.css.svg` uniquely from the `url()` that gets output for it in `sprite.scss`, so I end up with the following:

[code]

Because that is a relative URL, there i

[2015-04-30 09:11] jkphl commented on #79
Hi @cmalven,

before I dive deep into your setup: Did you already have a look at [this recent attempt](https://github.com/jkphl/svg-sprite/issues/78#issuecomment-96990260) to shed some light on the destination options? Maybe this could help you as well? Let me know ...

Cheers,
Joschi

[2015-05-05 08:03] alexanderby opened #80 "Responsive SVG sprites"
There is a problem when trying to scale an SVG icon that is included into an SVG sprite in different browsers: *zoom* property only works in Chrome and pixelates images in IE; *transform* property works in FireFox and Chrome but causes layout mispositioning and either pixelates images in IE.

### For being able to scale SVG sprite items the next things can be done:
- Output sprite size in EMs. The

[2015-05-05 08:25] jkphl commented on #80
Hi @alexanderby,

I might be wrong with the following, but let me think aloud (I'm not absolutely sure, but I believe I had tested this a while ago): The "extension" you are describing doesn't have to be in the core of *svg-sprite*, as you could simply add this bits of CSS into your own custom stylesheets. Using *svg-sprite* without the `dimensions` option will give you a sprite with only two prop

[2015-05-05 09:48] alexanderby commented on #80
Thanks. Your solution with `background-size: auto 100%` works for icons with the same size http://jsfiddle.net/alexanderby/yvcdcm80/7/
In my case I only had one logo image with unpredictable size and moved it separately.
So my proposal may suit only those, who have lots of random size images.

[2015-05-05 09:48] #80 closed

[2015-05-06 02:07] cmalven commented on #79
Thanks @jkphl of course not long after I posted this I realized the fairly obvious answer is to switch things up so that I can use a relative path. Not the most elegant thing in the world but gets the job done.

[code]

[2015-05-06 02:07] #79 closed

[2015-05-06 07:11] jkphl commented on #79
@cmalven Glad it works for you now! Cheers, Joschi

[2015-05-10 06:08] asadovsky opened #82 "Broken for svg with "animate" elements"
svg-sprite fails for an SVG containing `<circle r="0">`. If I change the `r` value to a positive integer, it succeeds.

    svg-sprite --dest out --symbol anim.svg
    node_modules/svg-sprite/lib/svg-sprite/queue.js:100
    	Array.prototype.push.apply(this._spriter._shapes, shape.distribute());
    	                                                       ^
    TypeError: Cannot read property 'distr

[2015-05-10 06:40] asadovsky commented on #82
I get the same error if I remove the `<circle>` element entirely. Digging deeper, I suspect the problem is that svgo erroneously drops this element even if it contains an animation.

[2015-05-10 07:04] asadovsky commented on #82
This was fixed in svgo 0.5.1: https://github.com/svg/svgo/issues/321

However, svg-sprite for some reason hardcodes svgo version "0.5.0" instead of "^0.5.0", so it still suffers from this problem.

[2015-05-10 07:08] jkphl commented on #82
Hi @asadovsky,

yes, SVGO 0.5.1 completely breaks all the example SVGs and tests bundled with *svg-sprite* (and I didn't have the time to further investigate this yet). Thanks for your patience.

Cheers,
Joschi

[2015-05-12 17:07] africanmatt opened #84 "%svg-common"
is it possible to edit the properties that get processed by the scss render property?

[2015-05-12 19:05] jkphl commented on #84
Thanks! However, I don't understand your question. What do you want to achieve? Cheers, Joschi

[2015-05-12 19:28] africanmatt commented on #84
I'm using the gulp wrapper and I'm calling my sprites into the Markup using a class that's attached to a <span> tag. Span's are inline by default so the height collapses. I want to ensure they are all set to block-level elements. The %svg-common placeholder would be an ideal place to add that property, but of course it's regenerated everything the sprite sheet is compiled so I need to add it progr

[2015-05-12 20:39] jkphl commented on #84
Thanks a lot!

I see. You should have several options here:

1. Use a customized version of the Mustache template used for rendering the Sass resources (the heroic but more complicated way). I'm on mobile right now so linking is hard, but there should be a section about this in the docs.
2. Activate the `common` option (if you haven't done so already) to render a common CSS class for all your shap

[2015-05-13 05:49] africanmatt commented on #84
I will implement these techniques. Thank you.

On Tue, May 12, 2015 at 10:39 PM, Joschi Kuphal <notifications@github.com>
wrote:

[2015-05-13 06:04] #84 closed

[2015-05-15 14:41] baardbaard opened #85 "Unwanted grouping of elements"
I have two svg's that look perfectly fine, but the sprite file that svg-sprite creates does some weird grouping of elements and I don't know why. You can download the SVG files here: https://dl.dropboxusercontent.com/u/1409173/svg-sprite-baardbaard.zip

Before svg-sprite:
![before](https://cloud.githubusercontent.com/assets/881521/7654808/08474136-fb20-11e4-80bc-3af3a949f2fd.png)

After svg-sprite

[2015-05-17 17:08] werty1001 opened #86 "Stylus output by this template"
Hi, is it possible to generate stylus file for this template:

**$icon_name = offset_x offset_y width height icon_name;**
**$svg_common = width height image_path;**

For example content in svg-sprite.styl:
[code]

[2015-05-18 07:35] jkphl commented on #86
Hi @werty1001,

I'm sorry but I don't understand one single word of your request. :( This might be the case because I'm not a Stylus user ... Please tell me what you need this for. Also, have you already considered [customizing the default Stylus template](https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md) to suit your needs? Doesn't that work in your case?

Cheers,
Joschi

[2015-05-18 07:48] jkphl commented on #85
Hi @baardbaard,

I'm pretty sure this is not an *svg-sprite* problem but caused by SVGO instead. Some of the SVGO plugins are known for being too "aggressive" with some SVG files. Please try deactivating the plugins as [shown here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#pre-defined-transformation-with-custom-configuration-object-values). You may make your live easier

[2015-05-18 16:16] werty1001 commented on #86
I created my template **stylus.svgsprite.handlebars**:

[code]

And add this in gulp task
[code]

It work : )
[code]

**Thanks for the reply and for the great plugin!**

[2015-05-18 16:16] #86 closed

[2015-05-19 10:58] baardbaard commented on #85
Thanks Joschi, it was indeed an SVGO plugin setting. Once I set mergePaths to false everything looked alright.

[2015-05-19 10:58] #85 closed

[2015-05-19 11:20] jkphl commented on #85
Glad it worked out! Happy spriting! :)

[2015-06-01 13:43] iMoses opened #87 "Adding custom attributes to `rootAttributes`"
Is it possible? Unless I missed something it doesn't seem to be extendable.
I think it's an important and easy enough feature/option to add.

If there's a way I'd like to hear about it and if not then consider this as a feature request.

[2015-06-01 13:52] jkphl commented on #87
Hi @iMoses,

thanks for the suggestion. In general I agree, although I think it shouldn't be *svg-sprite*'s job to do these kind of SVG modifications. For a lot of users the available configuration options are already overwhelming enough. ;)

However, I already considered [adding a global post-transformation on the final sprite](https://github.com/jkphl/svg-sprite/issues/64), which would totally s

[2015-06-01 15:05] iMoses commented on #87
Are you expecting code contributions?
This library is the only one who suits my needs other than this little issue.
I really need to add to the root element the `preserveAspectRatio="none"` attribute.
I have no problem implementing the option and I would prefer it would be a part of the official library and not some fork of mine.

[2015-06-02 08:06] jkphl commented on #87
I fully agree that splitting of a fork just because of this one wouldn't make much sense. However, I also don't think *svg-sprite* should have extra options for each and every special case, so using a generic post-transformation for this (and other) modifications seems right to me. I'll put this high on my schedule, ok?

[2015-06-02 08:08] iMoses commented on #87
Okay, thanks.

P.S. I agree, the best solution in this case should be generic, not specific.

[2015-06-04 14:12] jkphl commented on #87
As of [release v1.2.0](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.0) there are now two options to add custom root attributes:

1. You may use the new `svg.rootAttributes` option to do just that ;) (decided to introduce this as an easy shorthand for the next one)
2. Additionally you can now specify global post-processing transformation callbacks via `svg.transform` which get called with

[2015-06-04 14:12] #87 closed

[2015-06-04 14:13] jkphl commented on #82
As of [release v1.2.0](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.0) *svg-sprite* now pulls in SVGO v0.5.2, which should solve your problem, right? Please let me know ...

Cheers,
Joschi

[2015-06-04 14:13] #82 closed

[2015-06-04 14:15] jkphl commented on #64
As of [release v1.2.0](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.0) there's the new `svg.transform` option. [Documentation is here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#svg-sprite-customization).

[2015-06-04 14:15] #64 closed

[2015-06-04 14:47] parkersweb opened #88 "file path included in class name"
Hi there,

I've got grunt-svg-sprite working nicely... all apart from one oddity. When I render the scss file the class names all include the entire path to the image file - so the class names are like this: .icon-assets--images--sprite--src--cl-m-dims

Is there any way of stopping that from happening? My configuration is as follows:

[code]
Thanks!

Andrew

[2015-06-04 14:52] jkphl commented on #88
Hi @parkersweb,

please have a look into the [shape ID generation options](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-ids), they'll be your friend!

Cheers,
Joschi

[2015-06-04 14:52] #88 closed

[2015-06-04 15:39] parkersweb commented on #88
Thanks @jkphl !

For anyone else looking to do the same thing the grunt config now looks like this:

[code]

[2015-06-05 11:43] jkphl commented on #57
As of [release v1.2.2](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.2) `shape.spacing.box` takes `"icon"` as value which creates a set of same size shape tiles.

[2015-06-05 11:43] #57 closed

[2015-06-05 13:42] jkphl commented on #88
Thanks for sharing your approach! :)

[2015-06-08 08:31] jraoult opened #89 "Setting xmlDeclaration and doctypeDeclaration to false generates a "falsefalse" preamble"
Reproduced in version 1.2.2

I configure `svg-sprite` like that:
[code]

I get an output file that starts with `falsefalse<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol...`. Seems like the boolean value is treated as a string instead of disabling the declarations.

[2015-06-08 08:32] jraoult commented on #89
Note: a workaround is to set the value of both properties to a blank space (empty string won't work)

[2015-06-08 08:36] jkphl commented on #89
Hi @jraoult,

thanks for reporting this. Interesting. I'll look into this — it definitely worked at some point. Could you please tell me a little more about your platform (OS, Node version etc.). Thanks!

Cheers,
Joschi

[2015-06-08 08:42] jraoult commented on #89
@jkphl yes sure. I'm on a mac os (Yosemite). I reproduced on Node 0.12.2 and iojs 2.2.1. Last time I had it working was the 1.1.0 of `svg-sprite`.

My guess is that this bug was introduced when the `rootAttributes ` setting was added.

[2015-06-08 15:13] jkphl commented on #89
Should be fixed as of [release v1.2.3](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.3).

[2015-06-08 15:13] #89 closed

[2015-06-09 01:06] jackfearing opened #90 "XML Deceleration with inline css"
Is it possible to insert inline css into the xmlns declaration via gulp?

Currently the file is rendering out:
svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"

I would ilke to be able to add width/height/position:
svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position:absolute"

[2015-06-09 07:24] jkphl commented on #90
Hi @jackfearing,

please [have a look](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#sprite-svg-options) at the brand new `svg.rootAttributes` option. You should be able to do so by setting

[code]

Please let me know if this works for you.

Cheers,
Joschi

[2015-06-09 07:24] #90 closed

[2015-06-09 16:05] jackfearing commented on #90
That worked perfect! Thanks for the code and quick response.

Jack

[2015-06-09 16:06] jkphl commented on #90
Thanks for letting me know! Happy spriting! :)

[2015-06-10 11:38] yoyurec opened #91 "Selectors template"
How to delete **:regular** pseudoclass using templates?

[2015-06-11 13:31] yoyurec opened #92 "Resulting svg sprite name"
How to disable revision of file?
I'm doing it by myself...

[2015-06-11 13:48] jkphl commented on #92
You are most likely talking about the **cache busting** portion of the SVG sprite filename, right? Please refer to the [apropriate section of the common property documentation](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties) for details about this feature.

[2015-06-11 13:48] #92 closed

[2015-06-11 14:03] webfacebg opened #93 "Make a multiline layout"
Can you please make a multiline layout so it can fit more icons in 2300 x 2300 px sprite. iOS7 and lower does not support bigger files.

[2015-06-11 14:09] jkphl commented on #93
Have you tried the `packed` mode (see [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#css--view-mode) for the available layouts). Btw. AFAIK the image size limit of iOS depends on the devices' RAM size and may also be different values.

[2015-06-11 14:18] webfacebg commented on #93
Sorry. Didn't notice that.

[2015-06-11 14:18] webfacebg commented on #93
Please close this issue.

[2015-06-11 14:25] #93 closed

[2015-06-11 21:39] soultech67 opened #94 "Fatal error: Cannot read property 'distribute' of undefined"
We're running into a new error after updating recently to the newest version of svg-sprite. For us, the task is fired off during a grunt build, using grunt-svg-sprite module.

The options grunt-svg-sprite use look like this (I added the log verbose to get the dump, normally we don't have a log statement)
[code]

The error message I'm getting is:
[code]

I tracked it down to the regex in shape.js l

[2015-06-11 21:50] jkphl commented on #94
Could you please check which version of SVGO you are running? There has been [a similar issue](https://github.com/jkphl/svg-sprite/issues/82) before, which was caused by an SVGO bug. I'd like to ensure that this is not the problem before we dig deeper.

[2015-06-11 22:03] soultech67 commented on #94
[code]

[2015-06-11 22:05] jkphl commented on #94
Hmm, ok, so it's the most recent one. I'll try to reproduce the case tomorrow and get back to you.

[2015-06-11 22:06] soultech67 commented on #94
I was able to bypass the bug by modifying shape.js line 317 to change the regex to /.*/ ;) - not the fix you're looking for though I'd guess. Seems like it's related to the regex though.

[2015-06-11 22:07] jkphl commented on #94
That's a valuable hint, thanks a lot. I made a little change to the regex a couple of days ago, maybe that introduced a regression of some kind. I'll look into it. Thanks again!

[2015-06-11 22:10] soultech67 commented on #94
One more hint then, I tried the regex you originally committed on 4/18 but that didn't fix this issue. Thanks for being so responsive!

[2015-06-11 22:12] jkphl commented on #94
You're welcome. Thanks again!

[2015-06-11 23:49] jkphl commented on #94
That was a weird one indeed, and I didn't really understand it (although it should be fixed now). It seems that SVGO under certain circumstances calls its result handler twice: Once with the regular optimized SVG, and once with an empty `<svg/>` element, which doesn't match the regex, hence the error. I'll further investigate why this double call is happening. In the meantime, I modified the regex

[2015-06-11 23:49] #94 closed

[2015-06-12 10:45] jkphl commented on #91
Hey @yoyurec,

that might be a tricky one, but it should be possible. [In the Mustache template](https://github.com/jkphl/svg-sprite/blob/master/tmpl/css/sprite.css#L5), instead of running through and printing all the generated CSS selectors

[code]

you might explicitly just pick the first one (the `:regular` selector is always second, if at all):

[code]

That's off the top of my head, I didn't

[2015-06-12 10:45] #91 closed

[2015-06-12 12:16] yoyurec commented on #91
Works perfect! Tnx

[2015-06-17 06:05] revyh opened #95 "shapes inside svg tag in view mode"
As I understand, in view mode for all shapes created <code>&lt;svg&gt;</code> wrapper and <code>&lt;view&gt;</code>. Then, when I try to refer this views in inline svg using the fragment identifier, it doesn't work. I tried it in FF and Chormium. At the same time, all works perfectly when I try to refer to the shape directly by its wrapper, not view. Also, everything is fine if I refer to the view

[2015-06-17 08:15] jkphl commented on #95
Hey @revyh,

first of all, don't worry about your English! It's not worse than mine, for sure. ;)

As far as I know, there shouldn't be any difference between wrapping the single shapes in `<svg>` or `<g>` elements (in this regard at least). Have you tried replacing the `<svg>`s with `<g>`s`? Does it work then? I doubt it ...

Also, as far as I know, [support for fragment identifiers](http://caniu

[2015-06-17 17:32] donut opened #96 "Repeats one SVG twice instead of including second SVG"
I have two SVGs that are the same shape and size but different colors. When I add them to the sprite sheet they both show up as the lighter variation instead of one dark and one light.

[next-arrow.svg](https://dl.dropboxusercontent.com/u/416667/next-arrow.svg) is missing.
![next-arrow.svg](https://dl.dropboxusercontent.com/u/416667/next-arrow.svg)

[next-arrow-hover.svg](https://dl.dropboxusercon

[2015-06-17 17:36] jkphl commented on #96
Thanks for reporting this. Could you please post your spriter config as well? Thanks & cheers, Joschi

[2015-06-17 17:37] donut commented on #96
I think I just updated my question with what you need. Let me know if that's not it.

[2015-06-17 17:45] jkphl commented on #96
Ok, great. I'm only on my mobile right now, but will look into it as soon as possible. Btw. did you  already try to set logging to verbose mode?

[2015-06-17 17:57] donut commented on #96
Updated my question with the output from verbose logging.

[2015-06-17 18:08] donut commented on #96
Further experimenting showed that I can rotate the "missing" next-arrow.svg file and it shows up rotated, just with the wrong color. If next-arrow.svg is the only SVG in the sprite sheet it shows up the correct color.

[2015-06-17 18:22] donut commented on #96
I think I may have found a solution. Just yesterday I upgraded to the 2015 version of Adobe Illustrator. This overwrote some of my preferences including the settings I use when saving SVG files. Specifically, I found that in the SVG Options dialog that comes up when saving an SVG, under "Advanced Options" setting "CSS Properties" to "Presentation Attributes" solves the problem. Before I had it set

[2015-06-17 18:24] jkphl commented on #96
Any chance your problem relates to this: https://github.com/flobacher/svg-sprite/commit/25f4a45c90f6b384fbe932b1c6cf9279f29a3534#commitcomment-11662593 ?

[2015-06-17 18:26] donut commented on #96
That looks like it is exactly the same problem.

[2015-06-17 20:53] jkphl commented on #96
Yeah, that's what I thought. So then you'll have two options I guess:
1.) Wait until I added class namespacing. I will do it, but it probably won't be very soon (I'm just lacking the time ...)
2.) Use the tool [extract-svg-styles](https://github.com/ferdinandtorggler/extract-svg-styles) mentioned [in the other issue](https://github.com/flobacher/svg-sprite/commit/25f4a45c90f6b384fbe932b1c6cf9279f2

[2015-06-17 20:55] donut commented on #96
So far it looks like exporting the SVGs with the "Presentation Attributes" solution mentioned above is working fine for me. I'll keep this in mind in case this doesn't work outside of Chrome.

[2015-06-18 19:14] jkphl commented on #96
Ok then. And keep an eye on the [namespacing issue](https://github.com/jkphl/svg-sprite/issues/42) if you like.
Cheers, Joschi

[2015-06-18 19:14] #96 closed

[2015-06-19 07:29] revyh commented on #95
Hi @jkphl! Thx for your quick reply (I can't boast the same).

**tl;dr** yeah, you right.

I just play with svg sprites. That's why I try to use this incomplete, buggy and inconsistent fragment identifier. Well... I think, that I've played enough with it in a last day:)

Whatever it was, what I wanted to achieve is to use an external sprite with code like this:
[code]
And it would be great if I co

[2015-06-19 13:25] jkphl commented on #95
Thanks for all the details. So as this obviously isn't an issue if *svg-sprite*, I'll close this issue for now. Please feel free to reopen it in case of further problems.
Cheers, Joschi

[2015-06-19 13:26] #95 closed

[2015-06-23 21:23] loremipson opened #97 "Customize extension for inline/symbol svg"
I realize this might be an odd use case, but I have a Handlebars environment, with layouts and partials. I'd like the sprite to be generated as a `.hbs` file so I can include it as a partial in my templates.

I've tried it with:
[code]
But in the end, it's still being saved out as `inlineSvg.svg`. Am I missing something with this, or is that not a supported feature at the moment?

[2015-06-24 09:13] jkphl commented on #97
Hey @loremipson,

thanks for reporting this. That's a legitimate use case I think, and I changed the behavior to not replacing the file extension to `".svg"` by default. A new release will follow soon.

Cheers, Joschi

[2015-06-24 09:13] #97 closed

[2015-07-18 12:57] jkphl commented on #42
Available as of [release 1.2.26](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.6)

[2015-07-18 12:57] #42 closed

[2015-07-18 12:59] jkphl commented on #41
@Avcajaraville FYI: CSS class namespacing is now available as of [release 1.2.26](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.6). :)

[2015-07-18 12:59] jkphl commented on #96
@donut FYI: CSS class namespacing is now available as of [release 1.2.26](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.6). :)

[2015-07-18 16:05] donut commented on #96
Great! Thanks for the update.

[2015-07-28 11:22] phpprog opened #100 "Move Phantomjs deps -> devDeps"
Hello!

Phantomjs is very large for main project, can you move it in devDependencies?

[2015-07-28 11:50] jkphl commented on #100
@phpprog No, not without sacrificing functionality. Phantom.js is needed for determining the true SVG dimensions of files that don't contain the `width` and `height` respectively `viewBox` attributes. I'm sorry.

[2015-07-28 11:50] #100 closed

[2015-07-28 12:08] sbmaxx commented on #100
Why not to ask people who really need it to install globally? Phantomjs is used in only one method now — https://github.com/jkphl/svg-sprite/blob/8baa512b321874a7e0276efc4cc388cf7e685b8b/lib/svg-sprite/shape.js#L474

But the folder with `svg-sprite` module is about 52 Mb ;)

[2015-07-28 12:10] sbmaxx commented on #100
Check `casperjs`, they using phantomjs as *prerequisite* http://docs.casperjs.org/en/latest/installation.html#prerequisites.

[2015-07-28 12:24] jkphl commented on #100
@sbmaxx Thanks for your suggestions.

First of all, before I'd take any actions, I'd want to wait for `npm@3` to get out of beta. As far as I know, it'll be much more sensible in terms of module flatness, so multiple instances of Phantom.js could be avoided (and thus potentially shrink your project size as a whole if there are other packages using Phantom.js).

Then, I really don't want to let it

[2015-07-31 09:59] mintuz opened #101 "Malforded IDs generated"
Using the following config, chunk filenames are passed in within the generator callback.

## Config

[code]

## Chunk File Names

[code]

[2015-08-05 09:33] muffinresearch opened #102 "Is there a way to control precision of the generated background positions?"
Using grunt-svg-sprite I noticed I'm getting values like:

[code]
I'd like to turn down the precision on the background-position percentages if possible.

Is there any setting to affect that? FWIW I see `shape.dimension.precision` only affects the height/width values.

[2015-08-05 10:19] jkphl commented on #102
Hi @muffinresearch,

currently there's no option for this, but I could probably easily apply the `shape.dimension.precision` for this as well (or maybe create a new option ...). Sounds resonable (although the results may be unwanted — but I'd leave this up to the user anyway). What would you prefer? A separate option or the `shape.dimension.precision` applied for all?

Cheers,
Joschi

[2015-08-05 14:54] muffinresearch commented on #102
Hi @jkphl

I'm thinking a separate option might be good. At least it would at least provide a way out if someone's output was negatively affected by having a default set too low. I don't think I have anything that would be impacted if the precision for percentages was 2 but then I suppose that would really depend on what 100% represents for each user's case.

Being able to set precision globally m

[2015-08-05 15:42] jkphl commented on #102
Alright — will do so. Please give me a little bit of time for that though. ;)

[2015-08-10 10:00] adamrobinson commented on #43
This is the exact issue i'm having to.

I want to add padding to the sprite for the purposes of reducing the risk of sprite bleed.  But when i output the sprite element on the page i would like the dimensions to be that of the sprite only (not the sprite plus the padding).

You mentioned creating a custom template to deal with this and i've managed to output the sprite element with the required di

[2015-08-10 10:20] jkphl commented on #43
Hi @adamrobinson,

I'm not absolutely sure if I'm right, but:

1. When you add **absolute padding** (i.e. pixel values) to your sprite, then you may not use the **relative sprite positioning** anymore, as this won't match your padding.
2. You will have to restructure your Mustache template and use `position.absolute.*` instead.
3. It might be necessary to specify and provide a custom function that

[2015-08-11 21:42] jkphl commented on #102
Hey @muffinresearch,

there's a new config option `svg.precision` now. Pushing out a new release shortly.

Cheers,
Joschi

[2015-08-11 21:42] #102 closed

[2015-08-11 21:59] jkphl commented on #101
Hi @mintuz,

I'm sorry, but I'm not able to reproduce this. Using your example config I just get the sprite that I would expect to get (although there's of course no sense in naming all the shapes the same, i.e. "beep"). Could you please provide more details? Which platform / versions are you working on? Obviously you're using the Gulp wrapper (the issue should've rather gone [here](https://github

[2015-08-12 15:46] muffinresearch commented on #102
@jkphl awesome thanks!

[2015-08-12 15:47] jkphl commented on #102
@muffinresearch Thanks for the suggestion! :)

[2015-08-13 13:49] tomaskikutis commented on #42
Can you make it configurable ? I want to fill svg in multiple colors, I add classes for paths and suddenly the class names are different than I named.

[2015-08-13 13:58] jkphl commented on #42
Hi @tomaskikutis,

please have a look at the documentation. You can disable CSS class namespacing at any time by setting `svg.namespaceClassnames = false`.

Cheers,
Joschi

[2015-08-13 14:06] tomaskikutis commented on #42
@jkphl Thanks, I didn't notice :)

[2015-08-13 14:07] jkphl commented on #42
@tomaskikutis You're welcome! ;)

[2015-08-18 10:11] luksak opened #103 "Make it possible to output scss entirely as mixins instead of classes"
Because [this issue] (https://github.com/sass/sass/issues/1050) is no resolved yet, I am unable to use the generated scss using @extend inside media queries. Could we add a possibility to output the scss file entirely as mixins?

[2015-08-18 12:42] jkphl commented on #103
@luksak Have you [already checked](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#specific-mode-properties) the `mode.<mode>.mixin` option of «css» / «view» sprites? This is exactly what it is meant for. In fact there should be only very few situations where a CSS property is
* not constant for all breakpoints (like `background-image` or `background-repeat`) and
* not indivi

[2015-08-18 16:37] luksak commented on #103
Well, this outputs the common properties into a mixin. Not the single images. Let's say I have an element I want to add an icon to like this:

[code]
Works perfectly. But If I want to use different icons for another breaktpoint this doesn't work:

[code]
It throws this error:
[code]

However this would work perfectly:

[code]

So outputting all SCSS code as mixins instead of classes would solve th

[2015-08-27 16:22] jkphl commented on #103
@luksak Well, first of all sorry for not being more responsive. The whole office was off grid for 2 days due to a hardware failure ...

You could surely achieve what you want, but you'd have to deep-dive into the [scss Mustache template](https://github.com/jkphl/svg-sprite/blob/master/tmpl/css/sprite.scss) and write your own version of it. I'm sorry but I'm currently not able to help you with this

[2015-08-28 08:46] luksak commented on #103
I would totally try to do this. But there is an issue with the variables passed to the template. I am only getting the selectors with the dot:

[code]

{{expression}} seems to contain the selector. How can I replace a string here? This way I could replace "." with "@mixin " and the issue was solved for now.

Please reopen the issue since this is not fixed.

[2015-08-28 10:44] jkphl commented on #103
hi @luksak,

as far as I understand you'd probably need to write and pass in a custom function [like e.g. the builtin `classname` function](https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md#classname) which takes the selector and replaces the dot as you said. Please see the [section about custom templating variables](https://github.com/jkphl/svg-sprite/blob/master/docs/configurati

[2015-09-01 05:11] kamlekar opened #105 "Any basic example?"
I am new to gulp and nodejs. In the readme, you just provided how to install using nodejs and include in a js file. but you haven't provided an example of how to use it.

Can someone please provide a complete basic example or a link?

[2015-09-01 05:58] jkphl commented on #105
Hey @kamlekar,

so welcome to nodejs and gulp! :)

It's definitely beyond the scope of this project to explain the basic usage of nodejs and / or gulp (especially as *svg-sprite* is one of the more complex libraries to configure), but just in brief: In both cases, you would need a JavaScript file that's containing

* a configuration for *svg-sprite*,
* some lines of code to run node / gulp and *sv

[2015-09-01 05:58] #105 closed

[2015-09-01 08:35] kamlekar commented on #105
Thanks :)

[2015-09-09 09:40] yairEO opened #106 "README - please state which browsers support this"
I person might not know which browsers supports svg sprite and waste his time implementing something that eventually wouldn't fir his needs.. so adding a section with which browsers support this thing will be of great help.

[2015-09-09 09:48] jkphl commented on #106
Hi @yairEO,

as stated in the headline *svg-sprite* is a **low-level Node.js module** for creating SVG sprites. It should be reasonable to expect that someone working with *svg-sprite* is knowing what he's doing. There are platforms like [caniuse.com](http://caniuse.com/#feat=svg) which cover in great detail which client supports what — this should not be the burden of libraries like *svg-sprite*.

[2015-09-09 10:07] yairEO commented on #106
http://caniuse.com/#feat=svg-fragment

[2015-09-09 10:17] jkphl commented on #106
;)

[2015-09-16 20:24] jkphl opened #107 "`<symbol>` elements should have `aria-labelledby` attribute"
As brought up by @davidhund on [Twitter](https://twitter.com/valuedstandards/status/644125581295136768), `<symbol>` elements inside sprites could / should have an `aria-labelledby` attribute when having also a title. See [here](http://codepen.io/NathanPJF/full/GJObGm) for some further info.

[2015-09-17 09:14] davidhund commented on #107
Awesome, do note that the linked CodePen only deals with the OSX "VoiceOver" AT.

For more information on support I've found: http://www.paciellogroup.com/blog/2013/12/using-aria-enhance-svg-accessibility/ Especially the sections “Browser/Screen reader support for ARIA enhanced SVG” seem relevant.

Also https://github.com/jonathantneal/svg4everybody#readability-and-accessibility. Jonathan advocate

[2015-09-17 09:22] jkphl commented on #107
Thanks for the resources, @davidhund! I need to read through them before I know what I've got to do ;) (Will need some time for that anyway, as I'm quite overloaded at the moment ...)

[2015-09-17 20:39] jsr6720 opened #108 "Question: Does the cloning have the ability to resize with grunt config?"
Question: Does the cloning have the ability to resize with grunt config?

IE. I have a 32px square asset, I want both a 32px square and 20px square in the final sprite sheet.
I tried just CSS but it scales the entire sprite sheet, not just the sprite that's visible.

Sorry if this is an easy answer.

[2015-09-17 20:46] jkphl commented on #108
Hi @jsr6720,

no, there's no way of creating different sizes by cloning, as this wouldn't make any sense. Instead, you would want to **use** the sprite in two different ways. For this to work you will have to use an **orthogonal sprite layout** (i.e. `mode.<mode>.layout = "vertical"` or `mode.<mode>.layout = "horizontal"`), set `background-size: 100% auto` (respectively `background-size: auto 100%

[2015-09-17 20:46] #108 closed

[2015-09-18 19:25] jkphl commented on #101
@mintuz Any news on this one?

[2015-09-18 20:36] jkphl commented on #106
There's a paragraph with links to caniuse in the manual now.

[2015-09-18 20:36] #106 closed

[2015-09-19 08:56] mintuz commented on #101
Hey, yes I got it working in the end, it was to do with using svgmin first.

[2015-09-19 09:01] jkphl commented on #101
Ah, great, thanks for letting me know. Will close this one then ...

[2015-09-19 09:01] #101 closed

[2015-09-19 12:32] jkphl opened #109 "CSS class namespacing error"
As spotted in [another gulp-svg-sprite issue](https://github.com/jkphl/gulp-svg-sprite/issues/35) there seem to be situations when CSS class namespacing doesn't work properly (see the `.cls-2, .cls-3` selector that doesn't get namespaced).

[2015-09-23 09:17] atomless opened #110 "Class namespacing or weird bug?"
It appears that svg-sprite is adding random characters to the start of class names. Is this something I can set a config to prevent or just a bug?

I also reported this issue here as I'm using svg-sprite via gulp https://github.com/jkphl/gulp-svg-sprite/issues/36

[2015-09-23 09:20] jkphl commented on #110
Hey @atomless,

that's definitely a feature, not a bug. Please see [here](https://github.com/jkphl/svg-sprite/issues/42). You can configure CSS class namespacing via the appropriate config options — please [read the documentation](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#sprite-svg-options) (`namespaceClassnames`).

Cheers, Joschi

[2015-09-23 09:20] #110 closed

[2015-09-23 09:32] atomless commented on #110
Aha, okay, but I really don't think a new feature in a widely used lib like this should come along in an update and by defaultbreak all your classes names by adding namespaces that were not an option before so users won't have the required configuration set to avoid them. Better to have things like this default to false IMHO.

[2015-09-23 09:47] jkphl commented on #110
I get your point.

However, my experience was that the majority of users doesn't care at all about the internals of their SVG files. They are / were not aware of the CSS class names and don't use them for animations, external styling or whatsoever. In fact, most of the users don't even care if they use CSS styles or presentation attributes — which is part of the problem. I got a lot of "complaints

[2015-09-28 13:43] fvsch commented on #107
It would be great to have results for other screen readers. In [my own tests](https://dl.dropboxusercontent.com/u/145744/accessible-svg-icon/test.html) I also found that VoiceOver only reads SVG icons when they're inside interactive content (`<a>` and `<button>` in my tests, there might be others too).

It's good to know that you can persuade VoiceOver to read the icon in all contexts using `aria-

[2015-09-28 14:16] davidhund commented on #107
Good points @fvsch — Note that I have asked others on Twitter also about what they consider the most accessible markup for SVG Sprite Icons:

I've added my current markup to a gist: https://gist.github.com/davidhund/564331193e1085208d7e
and asked (a11y)  people to respond: https://twitter.com/valuedstandards/status/647338546831982592

So far little response :(

re `<title>`: we actually have 2 pla

[2015-09-28 14:17] jkphl commented on #107
Hey @fvsch,

thanks for your input. I agree, it would be nice to have some more insights with other screen readers as well.

Regarding the `aria-labelledby` attribute, however, I already implemented this some days ago, and the attribute is available since [commit 1a231c02a0](https://github.com/jkphl/svg-sprite/commit/1a231c02a04c9cef0daf8dba68dd014f6e43749f). In fact it was not much of a change —

[2015-09-28 14:17] brianO3world opened #111 "Prefix and Dimentions (suffix) Formatting"
Hey jkphl,

Tinkering with the SCSS output from this and having an issue with formatting for the output SCSS classes. Looking at the formatting for this:

https://github.com/jkphl/svg-sprite#common-mode-properties

I'm updating the dimensions to have no value, but it actually seems to remove the Prefix as well (including the . for the class).

Any thoughts?

Thanks,
Brian

[2015-09-28 14:24] jkphl commented on #111
Hey @brianO3world,

could you please post your configuration and possibly your custom Mustache template so that I can gain more insight on your problem? Thanks!

Cheers, Joschi

[2015-09-28 14:31] brianO3world commented on #111
Arg. Apologies, I posted this in the wrong spot... meant for this to go on the `gulp-svg-sprite` repo. Want me to open one over there?

[2015-09-28 14:32] jkphl commented on #111
That'd be nice if you could do that for me, thanks! :)
Will close this one then ...

[2015-09-28 14:32] #111 closed

[2015-09-28 14:38] fvsch commented on #107
In my tests if you have a `<title>` in the symbol and `<button aria-label="Relevant label"><svg><use/></svg></button>`, VoiceOver reads the aria-label and not the symbol's `<title>`. If other screen readers do too, then we can consider the `<title>` as fallback, and advise authors to use `aria-label` on their icon or the parent element. (Or to use the `title` attribute it is has wider and more con

[2015-09-28 15:05] jkphl commented on #107
@fvsch  :+1: Sounds reasonable. I'm currently not able to test any screen readers though, so it'd be nice if anyone else could shed some light on this.

[2015-09-28 17:33] fvsch commented on #107
If you look at the ARIA spec here:
http://www.w3.org/TR/wai-aria/roles#textalternativecomputation
http://www.w3.org/TR/wai-aria/states_and_properties#aria-labelledby
http://www.w3.org/TR/wai-aria/roles#img

When looking for accessible text, AT should look in this order:
- `aria-labelledby`
- `arial-label`
- the contents of the element

In the HTML [above](https://github.com/jkphl/svg-sprite/issues

[2015-09-29 21:34] fvsch commented on #107
So I wrote a bunch of tests and tested in VoiceOver and JAWS, and it tends to confirm that `<title>` in `<symbol>` has little value and that the `aria-labelledby` trick on top of that is not particularly useful (I’d say it’s just a quirck in Safari/VoiceOver).
https://dl.dropboxusercontent.com/u/145744/accessible-svg-icon/test.html

Note that the `aria-labelledby` trick doesn’t hurt either, so it’

[2015-09-29 21:40] jkphl commented on #107
@fvsch Thanks a lot for your efforts — this is truly valuable! :+1:

[2015-09-30 07:30] davidhund commented on #107
@fvsch @jkphl If `<title>` and `<desc>` in `<symbol>` have limited value, why not take them out and reduce the file-size of our sprite?

And also advocate the use of `aria-label` and `role="img"`, obviously…

[2015-09-30 07:58] jkphl commented on #107
@davidhund As far as *svg-sprite* is concerned, I always tried to keep out functionality that deals with SVG code manipulation itself. There are libraries out there that are far better with this. *svg-sprite* should focus on its aim to create sprites. Introducing the possibility to inject titles and descriptions was a kind of exception to this, as I wanted to promote using accessibility features a

[2015-09-30 08:02] davidhund commented on #107
@jkphl Sure, I understand. However: you offer the option of injecting titles and descriptions that—as @fvsch has now figured out—has little value.

I completely understand you don't want to change the *svg-sprite* functionality further, but I can see some value in *removing* this functionality since it does not seem to offert the a11y benefits we thought it had…

[2015-09-30 08:03] davidhund commented on #107
And I would like to apologise for advocating for functionality that—in hindsight—does not have the benefits I expected ;-)

[2015-09-30 08:17] jkphl commented on #107
@davidhund No problem — I think we (i.e. you both) did some quite valuable findings, so this was worth it. ;)

Well, I get your point. However, from my perspective, even *little* value is more than *no* value, so I'd like to keep this. As long as the Paciello Group and [others](http://www.sitepoint.com/tips-accessible-svg/) promote this kind of enhancement, people will keep asking for it.

By the

[2015-09-30 10:00] davidhund commented on #107
:+1:

[2015-10-06 03:43] SachaG opened #112 "Blank symbol ids?"
I'm trying to wrap this package for use with Meteor (by parsing SVGs, compiling them into a single sprite, and then injecting the sprite directly into the DOM generated by Meteor), and I've almost got it working:

https://github.com/SachaG/compile-svg/blob/master/lib/compile-svg.js

The only problem is that the generated `<symbol>`'s `id` attribute is blank. Any idea what could be the reason?

[2015-10-06 08:41] jkphl commented on #112
Hi @SachaG,

first of all, I don't have any clue of Meteor, but I hope I can help you anyway. I'll try my best at least.

Given that you provided a [custom ID generator function](https://github.com/SachaG/compile-svg/blob/master/lib/compile-svg.js#L29), what's the output of that `console.log()`?

Furthermore, the default generator function that you are overriding looks something like this:

[code]

[2015-10-06 09:22] SachaG commented on #112
So that console.log doesn't output anything… And this is what I get if I remove that whole `shape` block including the `id` generator function, and pass `null` as a name in `spriter.add()`:

[code]

I get the exact same log output even if I do pass a name option. It's strange, it's like the name is not getting passed through…

[2015-10-06 09:24] SachaG commented on #112
By the way, I would be happy with the default id based on the file name. I only added my own custom generator function to try and work things out.

[2015-10-06 09:35] jkphl commented on #112
I'm on the road right now, but I will try to reproduce this as soon as possible. Will get back to you.

[2015-10-07 16:00] jkphl commented on #112
Hey @SachaG,

I tried to look into your issue now, but unfortunately I'm not able to reproduce it. Everything just works fine on my side, but as I said before I can't test in the context of Meteor (as I have no clue of it). There's one little detail I noticed, however: There's no `"inline"` config option as you use it. Instead you will want to use something like this:

[code]

This won't fix your

[2015-10-07 16:03] #107 closed

[2015-10-08 00:38] SachaG commented on #112
Thanks for the tips! I'll keep digging… And I'd love to try logging out at these lines, but to be honest I'm not sure how to run an NPM package from a local copy when it's being used by a Meteor app… This is an intersection of Meteor and Node that I haven't had to deal with yet!

[2015-10-08 06:41] jkphl commented on #112
Good luck! If there's anything I can help you with just let me know. :)

[2015-10-08 09:23] axe312ger opened #113 "Why is phantomjs a dependency?"
Hello there,

we got problems in our build process since phantomjs can not be build. We figured out that your module is requiring phantomjs.

So now I am wondering why you need it? And why is it a dependency and not a dev dependency?

Thank you,
Benedikt

[2015-10-08 09:28] jkphl commented on #113
Hi @axe312ger,

PhantomJS is needed for determining the actual size of an SVG shape in case there are no dimension properties given in the SVG file. You're right, having PhantomJS as a hardwired dependency is somewhat unpleasant — I don't know of a way to make it optional / configurable though. I'm open for suggestions (making it a dev dependency is not a solution, however).

Cheers, Joschi

[2015-10-08 09:30] jkphl commented on #113
Btw. what platform are you on? Requiring PhantomJS normally shouldn't be a problem ...

[2015-10-08 09:35] axe312ger commented on #113
Wow fast reaction. Thx.
We are on https://platform.sh/, the build seems to fail from time to time. Maybe my colleague can give more infos, i'll inform him.

[2015-10-08 09:39] pixelmord commented on #113
@axe312ger @jkphl Thanks for looking into this, our build process has nothing to do with this, it was just the reason why we noticed that this project has this dependency on phantomjs.
Build process failed because at that specific moment phantomjs could not be installed.

We were only just wondering why this dependency is there at all...
However you answered that, thanks for your quick reaction!

[2015-10-08 09:45] jkphl commented on #113
@axe312ger @pixelmord No problem, you're very welcome!

As I said, I'm aware of that dependency's heavy duty and I would love to ged rid of it in the sense that I'd love to have it configurable. If you know of any way to achieve this I'd love to hear your suggestions.

Happy spriting! :)

[2015-10-08 09:45] #113 closed

[2015-10-08 15:54] lukebarton opened #114 "Documentation Code Sample Indentation"
I appreciate we all have our coding styles but the way you've laid out your config JS in the documentation is horrible. I don't mean to offend you if you came up with this style but it's the most unreadable way of laying out code that I've ever seen. It creates a barrier to adoption.

[2015-10-08 16:04] jkphl commented on #114
Hi @lukebarton,

before I try to dig into your issue, would you please be so kind and post a screenshot of one of the code samples you're having troubles with? Just to make sure we're talking about the same display.

Thanks & cheers, Joschi

[2015-10-08 16:14] lukebarton commented on #114
<img width="809" alt="screen shot 2015-10-08 at 17 13 38" src="https://cloud.githubusercontent.com/assets/98427/10372505/fd40bf50-6ddf-11e5-8ff6-91a4a7b7cf97.png">
<img width="769" alt="screen shot 2015-10-08 at 17 13 27" src="https://cloud.githubusercontent.com/assets/98427/10372506/fd44958a-6ddf-11e5-8d64-d364e3502700.png">

[2015-10-08 16:46] jkphl commented on #114
Thanks for this proof that we're talking about the same thing.

I'm sorry to hear that you're having trouble with the code formatting. In fact, this is the first time the layout gets criticized. On the contrary, I had quite some people praising the formatting in the past, and my whole developer team is totally used to layout code like this. I guess — as so often — it all depends on one's habits. H

[2015-10-08 16:46] #114 closed

[2015-10-09 05:21] SachaG commented on #112
So `console.log` on those two lines gives me the same thing twice:

[code]

Is this what it should look like?

[2015-10-09 05:36] SachaG commented on #112
OK so I've identified the issue.

- `file.path` gives me `svg/animation.svg`
- `file.base` gives me `/Users/sacha/Dev/screenings/svg`
- `file.base.length` gives me `31`
- `path.sep` gives me `/`
- `file.path.substr(file.base.length + path.sep.length)` gives me `""`.

I'm guessing `file.path` should not be shorter than `file.base`?

[2015-10-09 05:40] jkphl commented on #112
That's it! `file.path` should be the **full absolute path** of the sprite, not the relative path to your `cwd`. I couldn't see this from your source and thought that the variable `fullPath` is just that -- the full path. ;)
Try to change this and make it absolute, and everything should work! :)

[2015-10-09 05:51] SachaG commented on #112
Yay, finally fixed it! Thanks so much for your help!

[2015-10-09 05:51] #112 closed

[2015-10-09 06:49] jkphl commented on #112
You're very welcome! Happy spriting! :)

[2015-10-09 09:00] lukebarton commented on #114
Is your whole developer team used to this layout because you imposed it on them, rather than selecting a commonly used coding standard that already exists?

The coding habits of the maintainer of an open source repository have an very important role to play when selecting an open source project to depend on. Quite obviously, you've chosen to ignore common conventions in favour of your own in this

[2015-10-09 09:42] jkphl commented on #114
I feel this discussion has a strong tendency towards getting pointless, so please excuse that I'm keeping it short.

My fellow developers and I evolved and silently agreed our way of formatting our sources because **we like(d) it** this way and it fits our needs best. I don't think I have to justify that further.

When I wrote my first answer to you yesterday, my neighbour happened to give me a vi

[2015-10-09 11:05] lukebarton commented on #114
Suggestion: Leave arcane coding standards at home.

Follow something out there, a quick google:
http://javascript.crockford.com/code.html
https://github.com/felixge/node-style-guide

FWIW: Similarly, I shared one of the screenshots with a bunch of highly-regarded developers, who didn't find it as much a positive revelation as your neighbour.

To put my complaint into more concrete terms:
1. The wa

[2015-10-15 09:16] edwinm opened #117 "CSS with inline SVG"
Please provide the option to inline SVG's in CSS, either as plain SVG's or base64 encoded.

Like this:

.my-icon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHYAAAB2AQAAAAA13Fq8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAfSURBVDgR7cehDQAACAOw/X8zCWj0bOuafcbd3d37H9V94g9JYzGPAAAAAElFTkSuQmCC');
}

So in the end, no SVG files are needed.

[2015-10-15 09:22] edwinm opened #118 "Support Adobe generated SVG files"
SVG files generated by Adobe software often have a path with "&st0;" as the value of the style attribute.

svg-sprite does not support this.

Warning: The following errors occured:
✖ Skipping "img/icon-arrow-down-black.svg" (Invalid SVG file (element parse error: ArgumentError: Invalid SVG file (entity not found:&st0; @#[line:7,col:2]) @#[line:7,col:2]))

Please ignore this entity and process the

[2015-10-15 10:44] jkphl commented on #117
Hey @edwin,

inlining the SVG shapes as data-URIs into the CSS is exactly not what a sprite is about — which apparently is the main purpose of *svg-sprite*. So I'm sorry but this will never be a core feature in that  sense that you may simply enable or disable it.

You have two options, however:

1. Use a [custom rendering template](https://github.com/jkphl/svg-sprite/blob/master/docs/templating.m

[2015-10-15 10:44] #117 closed

[2015-10-15 10:50] jkphl commented on #118
Hey @edwinm,

could you please provide a full example SVG file that I could use for experimenting?

The error isn't genuinely an *svg-sprite* one but raised by [xmldom](https://github.com/jindw/xmldom). I have no idea if I can tell *xmldom* to ignore the entity ...

Cheers, Joschi

[2015-10-15 10:52] edwinm commented on #118
Hope this works
[code]

[2015-10-15 10:52] jkphl commented on #118
Thanks!

[2015-10-16 17:47] hbuchel opened #119 "Output example html file as a mustache file"
Is there a way to make the output file for an example have the .mustache file extension instead of .html?

Here is my sprite config

[code]

For my example html document that gets output, I'm using a custom template (needed to change the background of the .icon-box class amongst some other change) but I would like the output file (dest) to be a .mustache file, because then my styleguide generator

[2015-10-17 09:48] jkphl commented on #119
Hey @hbuchel,

unfortunately it looks like I'm [enforcing an `.html` file extension](https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/mode/base.js#L130) on the example output file at the moment. It's probably OK to loosen this restriction. I'll try to push out another release tonight, so your code should just work as you expect.

Cheers, Joschi

[2015-10-18 21:56] craft37 opened #120 "How to set symbol ID ? Online generator seems not work properly for grunt and SVGO"
Code below doesn't work.

[code]

[2015-10-18 22:13] jkphl commented on #120
Where does this configuration come from? It's totally incomplete, the `generator` function seems to have no effect at all (which will completely break the symbol ID). Please post your **complete** configuration and try to validate it with the [online kickstarter](http://jkphl.github.io/svg-sprite) before.

[2015-10-19 00:54] craft37 commented on #120
Sorry, I use Grunt.

Online-generator seems doesnt work cause not including transformation setted and describes var Gulp in grunt tab. Or maybe it's ok and I not using it properly.
What could be wrong?

![screenshot from 2015-10-19 03-52-52](https://cloud.githubusercontent.com/assets/3589618/10567742/085a5328-7615-11e5-88a0-e7e6924b946c.png)

[2015-10-19 07:42] jkphl commented on #120
Oh wow, thanks for the heads up! That was definitely a bug in the online configurator, I just fixed it.

Custom transformations — as well as a custom ID generator function — cannot be part of the online configurator as they are, well, custom. You have to add them to the configuration manually. But still, the kickstarter can give you an idea of a valid configuration structure.

The config code you

[2015-10-19 07:42] #120 closed

[2015-10-24 12:17] jkphl commented on #119
@hbuchel Should be fixed with [release v1.2.12](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.12)

[2015-10-24 12:17] #119 closed

[2015-11-03 14:19] linnett commented on #94
I am currently experiencing this error using it with a normal npm script.
Node version 0.12.7

[2015-11-03 14:23] jkphl commented on #94
Could you please post more details, like your complete config and the SVG files used?

[2015-11-03 14:29] linnett commented on #94
Thanks for the speedy reply! Code is exactly from the example:

[code]
The version of svg-sprite is: 1.2.12.
Is there anything specific you need to know?

[2015-11-03 15:40] jkphl commented on #94
Could you please try activating the debug logs and see if there's an explanation?

[code]

[2015-11-03 21:52] dabbank commented on #51
Why is phantomjs a dependency and not devDepdendency? This ruins my day

[2015-11-04 07:48] jkphl commented on #51
@dabbank Please see https://github.com/jkphl/svg-sprite/pull/116

[2015-11-04 09:36] linnett commented on #94
Hi - I tried it again this morning and it appears to be working, oddly! I'm wondering if the error was caused by a corrupt SVG or something like that? Thanks for the assistance anyway!

[2015-11-04 09:41] jkphl commented on #94
Oh great! Sorry for me not being more responsive, I'm at a conference right now. But checking your SVGs would've probably been the next thing I had suggested. q:)

[2015-11-04 09:43] linnett commented on #94
You've extremely responsive and helpful :). Thank you

[2015-11-09 19:30] cshold opened #121 "Request a property to remove SVG fill attribute"
First off, great script - very helpful for managing icons after being in icon font world for a long time.

The issue is that setting a `fill` colour via CSS on an SVG element doesn't overwrite the one defined inside the SVG itself.

My thinking was that using `inline: true` would also remove all fill attributes, but on second though it should probably be its own property. Thoughts?

Current setup

[2015-11-09 19:57] jkphl commented on #121
Hey @cshold,

thanks for your suggestion. However, I believe that it shouldn't be *svg-sprite*'s job to do SVG manipulation other than compiling single shapes into sprites (and the necessary adaptions). There are lots of packages out there that are specialized on this.

There is, however, one universal method you can leverage to achieve your goal: *svg-sprite* supports a global post-transform hook

[2015-11-09 19:57] #121 closed

[2015-11-09 21:22] cshold commented on #121
A few minutes after opening this I had the same thought, so no worries.

I tried updating `shape.svg.current` with some nasty regex to add a class, but it doesn't seem that is used to generate the `symbol` element when `symbol` mode is used. Could you point me in the right direction to adding a class to the symbol element? I looked through [shape.js](https://github.com/jkphl/svg-sprite/blob/master

[2015-11-11 01:47] shyndman opened #122 "svg4everybody link no longer working"
This was [reported against us](https://github.com/google/material-design-icons/issues/221) awhile back.

@jpc-ae wrote:

[2015-11-11 09:00] jkphl commented on #122
@shyndman Thanks for reporting this. I probably solved this alread 2 days ago with commit 383211378eaee142cc076fa680bee94226a6228c, but I'll change it again based upon your suggestion as using a CDN isn't the most reliable thing as well. Cheers, Joschi

[2015-11-11 09:05] #122 closed

[2015-11-12 16:26] jkphl commented on #121
@cshold Sorry for not responding earlier, I'm just totally slammed with tasks at the moment.

First, I have no idea where you got that nasty `shape.svg.current` option from. AFAIK no such thing exists. ;)

What you're using in your setup is a *shape based transformation* that gets applied **before** the actual sprite generation as an "optimization step" (just at the same stage when also SVGO gets

[2015-11-12 17:08] cshold commented on #121
Ah that makes sense. Appreciate the time for the response.

I ended up leveraging Cheerio to add classes to my raw SVGs before generating the sprites. Here's a writeup if you're interested - http://www.carsonshold.com/2015/11/svg-icon-workflow-with-gulp-and-shopify/.

Cheers

[2015-11-12 17:20] jkphl commented on #121
Awesome! Glad you worked it out — pre-processing your shapes and adding the class prior to compiling the sprite is a very valid solution! Thanks for great write-up! :+1:

[2015-11-23 20:08] jarcoal commented on #94
Just encountered this issue, however I did not update my version of svg-sprite.  However I did upgrade to node 5.X, so that could be related.

[2015-11-23 20:19] jkphl commented on #94
@jarcoal We are using *svg-sprite* with Node 5 in production without any issues, so this shouldn't be the problem. Again, could you please post your complete configuration (and double-check that all of your SVG files are valid; you might also try it with SVGO optimization disabled)? Thanks!

[2015-11-23 20:40] jarcoal commented on #94
Thanks for the quick reply!  I'm using svg-sprite through grunt-svg-sprite, and only noticed this issue on our CI server at first.  I tried to duplicate it locally but could not.  Then I cleared out my node_nodules and re-installed them, that's when I started getting the error locally as well.

Here is my grunt config:

[code]

And here is the line I have in my package.json:

[code]

[2015-11-23 20:54] jkphl commented on #94
@jarcoal I see. Is there anything holding you back from updating *grunt-svg-sprite* to the most recent version (1.2.14)?

[2015-11-23 20:57] jarcoal commented on #94
Nope, but I tried that and it didn't make a difference.

[2015-11-23 21:00] jkphl commented on #94
@jarcoal There has been a regex issue that should've been fixed with version 1.2.4 (see above), so I'd definitely recommend updating to the most recent version anyway. Also, did you try to disable SVGO for a moment?

[2015-11-23 21:59] jarcoal commented on #94
Ok I upgraded to 1.2.14, cleared out `node_modules` and re-installed.  Still getting the same error, however I did bump up the log level and now see an SVGO error:

[code]

I'm not sure how to disable SVGO.

[2015-11-23 22:06] jkphl commented on #94
@jarcoal Ah, that's what I thought. Disabling SVGO is simple:

[code]

This will skip SVGO, but leave your SVG files unoptimized, which isn't ideal of course. You could further dig into it and disable single SVGO plugins instead of the whole optimization, but I'd recommend [using the online configurator](http://jkphl.github.io/svg-sprite) then. In any case, if SVGO is the problem, then there's not

[2015-11-23 22:10] jarcoal commented on #94
That looks to be the case.  I wonder if [0.6.1 release](https://github.com/svg/svgo/releases/tag/v0.6.1) of svgo that they cut two days ago fixes this.

[2015-11-23 22:12] jkphl commented on #94
Well, bumping the SVGO dependency in *svg-sprite*'s `package.json` and updating your modules will tell you. If so, I'd happily push out an updated release for you.

[2015-11-23 22:19] jarcoal commented on #94
Disabling SVGO fixed the issue, so that's settled.  0.6.1 yielded the same error, so looks like we're stuck waiting on a fix on their end.

Thanks for your help @jkphl .  Much appreciated.  I will let you know if I make any further progress on resolving this.

[2015-11-23 22:23] jkphl commented on #94
You're very welcome. Maybe you could take the time and file an issue at SVGO's end, providing your offending SVG as an example‽ Also, please consider digging into SVGO's plugin configuration as disabling a single one of them could well solve your problem. There are some rather aggressive plugins that tend to make trouble with particular SVGs. Good luck (and happy spriting)!

[2015-12-01 01:39] binarykitchen opened #124 "Bug: log level `false` sets the level to `info`"
I am setting the log level on run time according to the debug mode here. By default it is `false`, otherwise it is `"verbose"`.

Turns out that the log level `"info"` is mistakenly set when `false` is passed.

[2015-12-01 04:22] binarykitchen opened #125 "Invalid Sass syntax for background images"
It produces this

[code]

but should be in quotes like this:

[code]

[2015-12-01 04:29] binarykitchen commented on #79
@jkphl i am having this issue and still would love to see an absolute path instead

[2015-12-01 08:52] #124 closed

[2015-12-01 08:54] jkphl commented on #124
@binarykitchen `false` hasn't been a valid value for disabling logging so far (only `""` was), but I changed this behaviour now. Will be available with the next release.

[2015-12-01 09:09] #125 closed

[2015-12-01 09:14] jkphl commented on #125
@binarykitchen Wrapping `url()` values in quotes is recommended, but omitting them is not considered an error ([see spec](https://drafts.csswg.org/css-values-3/#urls)):

However, as there have been some problems with unquoted values especially on Windows in the past (IIRC), I just introduced quotes in all places. Thanks for reporting!

[2015-12-01 09:31] jkphl commented on #79
@binarykitchen For now, I won't implement a builtin method for prepending a `"/"` to the sprite URL as the same result can be achieved with each of the following options:

* Use the proper relative path (as @cmalven did above)
* Use an absolute path altogether
* Override the builtin template(s) and use a customized version to prepend a `"/"` to the `url()` values

[2015-12-01 10:42] simon-at-angelsdice opened #126 "padding question"
I would like to add some padding to items in my sprite sheet (i have done this with shape.spacing.padding), however i would like the css to ignore this padding and set the background position to be tight to the item.
I can't seem to find a way to do this, is it possible?

[2015-12-01 11:21] jkphl commented on #126
@simon-at-angelsdice If I did't get you wrong, you're effectively trying to put something like a `margin` around your shapes, right? *svg-sprite* doesn't provide a builtin way for this as it will always try to keep the sprite as small as possible (I assume you already experimented with `shape.spacing.box` and didn't achieve your goal; also I assume that you are aware of the different [sprite layou

[2015-12-01 11:21] #126 closed

[2015-12-01 20:45] binarykitchen commented on #125
Good. When will you npm publish that?

[2015-12-01 20:46] binarykitchen commented on #124
Thx

[2015-12-01 20:57] jkphl commented on #125
@binarykitchen Happened [about  12 hours ago](https://github.com/jkphl/svg-sprite/commit/ea46549c57e96ed4f2d8a7c7f952423485701bf9) ;)

[2015-12-01 21:02] binarykitchen commented on #125
@jkphl cool and its gulp module?

[2015-12-01 21:04] jkphl commented on #125
@binarykitchen Pls have a look at the release info https://github.com/jkphl/gulp-svg-sprite/releases

[2015-12-01 21:42] binarykitchen commented on #125
hmmm, somehow i fail to install this version:

[code]

[2015-12-01 21:51] jkphl commented on #125
Strange! npmjs.org says the module has been [published normally](https://www.npmjs.com/package/gulp-svg-sprite), and I'm able to do a regular install (without explicitely specifying the version; npm v3.3.6, node v5.0.0). Any changes you've got a problem with your Node installation?

[2015-12-01 21:54] binarykitchen commented on #125
ah, i found the cause. our internal npm proxy had too high cache settings. manually expired these and then it worked. sorry.

[2015-12-01 21:55] jkphl commented on #125
Ah, no problem. Glad it works now! :)

[2015-12-01 22:15] binarykitchen commented on #79
understand. adding more options isn't good.

tried with relative paths, no luck. and absolute paths do not work for me. no idea why. maybe because the sprite path is in a very different folder than the scss path.

will have to try with overriding a builtin template :(

[2015-12-02 02:07] binarykitchen commented on #79
@jkphl i do not like the idea of builtin templates. so, back to topic: why isn't `/` prepended when I am using absolute paths everywhere?

[2015-12-02 03:14] binarykitchen commented on #79
@jkphl I investigated your source code in `base.js` and found that these lines are crucial for setting the path of the background images:

[code]

In my case `this._cssDest` has this value:
/home/michael-heuberger/Development/frontend/target/resources/public

And `this.config.sprite` has:
/home/michael-heuberger/Development/frontend/target/resources/public/svg/sprite.css.svg

And thus, `this.data.

[2015-12-02 11:28] jkphl commented on #79
@binarykitchen As I said before: *svg-sprite* isn't prepared for root relative sprite paths as these are much more prone to errors and make your resources somewhat hard-coded. If you can't avoid using root relative paths:

1. Clone the default template `tmpl/css/sprite.scss` to a location of your liking.
2. Specify it as template for `mode.<mode>.render.scss.template`.
3. Put the slash into all `u

[2015-12-02 21:15] binarykitchen commented on #79
@jkphl i think the opposite and am afraid to disagree. if you look at many sites, the `url()` part in CSS is always absolute. look at github's css source, it is there. or in google. it is much safer than relative urls.

relative urls are fine for single page apps, but are breaking for non-single page apps.

hardcoded resources are good because they point to the same server resource, no matter wher

[2015-12-02 21:15] binarykitchen commented on #79
and cloning the template is dangerous because when this package gets updated, our custom template might become outdated which is what i d like to avoid.

[2015-12-02 21:24] jkphl commented on #79
@binarykitchen I won't promise anything, especially not a particular timeframe, but I'm planning to do a major rewrite of *svg-sprite* in the near future. I might consider adding support for root relative URLs then, but I won't add this in the short run, sorry. There was no significant change to the templates for a long time now, and also if your project works once, there's probably little need fo

[2015-12-02 21:25] binarykitchen commented on #79
alright :)

[2015-12-03 09:16] mlarcher commented on #103
I am facing the same issue and I believe the behaviour described by @luksak would be a neat enhancement, if not a required feature. It would solve the limitations of @extend while keeping the styling on the css side of things instead of resorting to adding style only related classes in the markup.

Any chance you reconsider your position on the matter ?

[2015-12-03 09:28] jkphl commented on #103
@mlarcher As I detailed before, your goal could most likely be achieved out of the box with a combination of a custom template and an additional auxiliary function. It's definitely not a requirement for the core (although one could of course always add even more config options and switches ...).

I'm currently planning a major rewrite of *svg-sprite* and I may consider such an extension then (I'll

[2015-12-03 17:29] nathanboktae opened #127 "`<mask>` is being stripped"
Input SVG:

[code]

(svg is the [Appuri, Inc](http://www.appuri.com/) logo and copyrighted thereof)

Result:
[code]

The `<mask>` tag is getting stripped, changing how the SVG looks.

[2015-12-03 17:55] jkphl commented on #127
Hey @nathanboktae,

in general, *svg-sprite* doesn't alter the SVG code (except converting `<svg>` elements to `<symbol>`s, adapting attributes if necessary and ID namespacing). I suspect SVGO to be the cause of your problem with the missing `<mask>` element. To prove this, please start by trying with SVGO disabled:

[code]

Later on you could try disabling some of SGVO's plugins, which tend to be

[2015-12-03 18:35] nathanboktae commented on #127
Ah right sorry, I'll file the issue with them. Thanks.

[2015-12-03 18:35] #127 closed

[2015-12-03 21:25] mlarcher commented on #103
Thank you for reopening. It may be best to wait fr the rewrite before proceeding with this feature, but it's nice to know the issue is open and won't be forgotten.
Cheers!

[2015-12-17 00:40] marjanbajc opened #128 "Set default sprite width"
Hi,

is it possible to set default width for the generated sprite.svg?

My concern is when sprite dimensions change when we add new svg file and that file width is bigger then the current sprite then sprite gets new width. We use sprite as background image. And if sprite width gets changed then background-size wouldn't be correct anymore. I hope I'm making any sense.

Thank you for any help.

[2015-12-17 07:42] jkphl commented on #128
Hey @marjanbajc,

no, there's no way to limit or control the width of the sprite. And in fact I cannot imagine the circumstances under which this would be necessary. I'd even say that if you're really depending on the sprite width, you're doing something wrong.

It is perfectly possible to use a sprite as background image in a way that is not depending on the sprite width. Unfortunately I'm not ab

[2015-12-17 07:42] #128 closed

[2015-12-17 17:54] marjanbajc commented on #128
Hmmm, I think I know what you mean. I'll give it a try. Thank you for your help.

[2015-12-18 09:07] JonWallsten opened #130 "Documentation about inline embedding"
This anchor is not working anymore:
https://github.com/jkphl/svg-sprite#inline-embedding

And I can't figure out how to embed the inline SVG. Would appreciate som help.

[2015-12-18 09:15] jkphl commented on #130
Where does this link appear?

*svg-sprite* is not responsible for actually embedding SVG sprites into HTML source, it just produces sprites suitable for that. If you want to create a sprite that can be embedded, you need a [«defs» or «symbol» sprite](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#defs--symbol-mode) and must enable the `mode.<mode>.inline` feature.

Cheers, J

[2015-12-18 09:54] JonWallsten commented on #130
The anchor is in the generated example file. It doesn't explain how to actually embed the file. In the example file it's inlined, but I don't know how to do it automatically. I can't paste the content manually.

[2015-12-18 10:10] jkphl commented on #130
Ah, thanks for the hint with the link. I'll fix this.

As I said, it's not within *svg-sprite*'s scope to further process the sprites. If you're working e.g. with Grunt or Gulp, you could use one of the available plugins to replace patterns in your source against the sprite content (never really used that, so I don't have a concrete plugin handy, sorry).

Cheers, Joschi

[2015-12-22 18:03] starksider commented on #103
Hi, everyone! @luksak you can achive this
[code]
by adding **prefix: '@mixin svg-%s'** property of config object:
[code]
It works great for me

[2015-12-22 18:20] jkphl commented on #103
Awesome solution, @starksider. Thanks for sharing!

[2015-12-23 16:45] adgoncal opened #131 "[Feature Request] Allow custom function to sort shapes"
Shapes are sorted by ID in https://github.com/jkphl/svg-sprite/blob/7f36871fbba0f537b7c9270d3009a1d5358646df/lib/svg-sprite.js#L231

I would like to be able to sort the shapes in a different order. I am customizing the mustache template and using a function to output different rules for certain states. For example:
If I have files:
* image~hover.svg
* image~disabled.svg

It will output
[code]

How

[2015-12-23 16:49] jkphl commented on #131
@adgoncal Sounds reasonable, will consider it for the next release! :) (I'm on holiday right now, so bear with me please)

[2015-12-23 17:02] adgoncal commented on #131
Cool, thanks!
You have done a great job with this library!

[2015-12-24 10:46] AgrawalAmey opened #132 "SVG stack overflow"
I had been trying to use sprites to reduce the number of requests on a web page. My sprite consisted of SVGs of different sizes, using stack is gives white spaces due to the square view-box of parent SVG
[stack.zip](https://github.com/jkphl/svg-sprite/files/71656/stack.zip)

[2015-12-24 11:24] jkphl commented on #132
Hey @AgrawalAmey,

so what exactly is the issue you'd like to file? All I see is expected behaviour ... As far as I understood SVG stacks, it's recommended that all shapes have the same size, so they are particularly useful for icon systems (if at all).

In any case, if you think you've spotted erroneous behaviour, please describe in detail what you'd expect and post your complete configuration.

[2015-12-24 12:03] AgrawalAmey commented on #132
Hi @jkphl,
Thanks for your response. I had been experimenting with says to substitute the symbol sprite so that the good old img element could be used. I tried running the process to create a stack for graphics of an  entire website, obviously the size of images are different. Running on default configuration with example set to true (Check out the attachment) I realized that though the view-box f

[2015-12-24 12:22] jkphl commented on #132
@AgrawalAmey In your case (and probably any similar one) I'd definitely recommend using the *symbol* sprite instead of stacks. Use it just as you'd do with a stack (`<img>` without `width` and `height` attributes and with fragment identifiers, e.g. `#10`) and throw in a [polyfill for older Internet Explorers](https://github.com/jonathantneal/svg4everybody) if necessary. That should just work out o

[2015-12-24 12:35] AgrawalAmey commented on #132
@jkphl , Thanks for your suggestion. I had been just trying to explore options to substitute the use of `<use>` tag.

[2015-12-24 12:35] #132 closed

[2015-12-24 12:41] jkphl commented on #132
@AgrawalAmey Ah, sorry, I just realize that my suggestion was wrong: I wanted to recommend the **view** sprite, not the *symbol* sprite.

[2016-01-03 18:25] mrmlnc opened #133 "Invalid call mixin in Less"
Hi,

I wrote the following configuration:

[code]

Gulp plugin generated for me this code:

[code]

If I specify a dot in the property `mode.<mode>.mixin` (`mixin: '.sprite-icon'`), then:

[code]

[2016-01-04 15:18] JonWallsten commented on #130
Sorry for a late reply. When I check the inline symbol SVG and compare it to the actual generated sprite.symbol.svg they differ. Is the only way to get the inline version to extract it from the generated html file?
I mean, the comment says "Please see https://github.com/jkphl/svg-sprite#inline-embedding for
further details on how to create this embeddable sprite variant." But I can't find those de

[2016-01-04 15:22] jkphl commented on #130
The link is still broken, sorry, but the relevant information is [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#defs--symbol-mode). Basically, the option `mode.<mode>.inline` needs to be enabled.

[2016-01-04 15:25] JonWallsten commented on #130
I acutally have inline: true. Does not seem to change anything. Maybe I'm doing something wrong:
[code]

[2016-01-04 15:28] jkphl commented on #130
I'd say it should look like this (untested):

[code]

Have you considered using the [online configurator](http://jkphl.github.io/svg-sprite) to create your config?

[2016-01-04 15:36] JonWallsten commented on #130
Ah, that explains it! Thanks! I just checked that out actually. But it was kind of comprehensive, so I will try it when I have more time on my hands.

[2016-01-05 14:15] #130 closed

[2016-01-05 14:15] #131 closed

[2016-01-05 14:15] #133 closed

[2016-01-05 14:35] mrmlnc commented on #133
Good sounds!

[2016-01-05 14:36] jkphl commented on #133
@mrmlnc Yep, should be fixed as of 1.2.18 ;)

[2016-01-05 14:38] jkphl commented on #131
@adgoncal As of [release 1.2.18](https://github.com/jkphl/svg-sprite/releases/tag/v1.2.18) there's a `shape.sort` config option giving you the possibility to provide a custom sort callback as you suggested! Please see [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#miscellaneous-shape-options) for the details. Cheers!

[2016-01-05 20:58] adgoncal commented on #131
Thank you very much!

[2016-01-06 17:07] fetis opened #134 "How to add 'margin' for sprites?"
Hi.

I'm using `vertical` layout and want to align shapes with 100px gap between each. `padding` doesn't work for me because it changes shape view box height. So, I need like tradition margin: width/height remain the same, but `viewBox` position changing. Any ideas how it can be achieved?

p.s. A note why I need this. I want to use view-mode sprites for background too. But I can't set width/height

[2016-01-06 17:13] jkphl commented on #134
I'm sorry but setting this kind of gap between shapes is not possible with *svg-sprites* core functionality. Have you already played with the `shape.spacing.box` values ([see here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-spacing))? If that doesn't work for you you would probably have to write a custom rendering template and add the gap that way, but I wouldn't r

[2016-01-06 17:13] #134 closed

[2016-01-06 17:17] fetis commented on #134
@jkphl thanks for reply. yeah, I played with `spacing.box` but it changes shapes `viewBox` hence it's not fit my needs. maybe I'll split sprites in 2 files to get what I needs

[2016-01-06 17:26] jkphl commented on #134
@fetis As I said, using a sprite is probably not the best thing to do in your situation. You could, however, use the `shape.dest` option to at least get optimized single intermediate shapes and use them as single background images (no advantage through combination into a sprite this way though).

[2016-01-06 20:34] fetis commented on #134
@jkphl why not the best? I want to use is it in traditional image sprite. But on SVG there's no penalty for big canvas.

[2016-01-06 20:44] jkphl commented on #134
@fetis That's true for most, but not all cases (AFAIR Firefox does have a size limitation (bug?) for SVGs). A sprite will *always* have to use particular dimensions for each of it's shapes, so there will *always* be possible situations where shapes may bleed into each other (when the containing element is too big). The only way to avoid this is to not use a sprite.

FYI: [node-iconizr](https://git

[2016-01-11 12:13] mo-lon opened #135 "serializeToString exception with xmldom@0.1.20"
Is it possible to revert to version 0.1.19 as a temporary fix to this exception?

[2016-01-11 12:15] ixth commented on #135
Get the same issue. What should I do to downgrade to previous version?

[2016-01-11 12:19] jkphl commented on #135
I'll push out an updated release ASAP!

[2016-01-11 12:19] mo-lon commented on #135
Thanks

[2016-01-11 12:31] Tanax commented on #135
Same issue here!

[2016-01-11 14:00] #135 closed

[2016-01-11 14:12] Gobie commented on #135
Great news, @jkphl.
Could you also bump grunt-svg-sprite and gulp-svg-sprite as they refer exact version ~1.2.18?

[2016-01-11 14:14] jkphl commented on #135
@Gobie Sure, I'm on it! :)

There's a new *svg-sprite* release in the meantime that should fix the problem with *xmldom*.

[2016-01-11 14:43] jkphl commented on #135
@Gobie All of the depending packages are updated as well now! (v1.2.19)

[2016-01-11 14:50] Gobie commented on #135
@jkphl Thanks a lot

[2016-01-11 15:38] dashaezhova commented on #135
@jkphl Awesome, thanks!

[2016-01-11 17:28] Keysox commented on #135
@jkphl - thanks!

[2016-01-12 11:17] in-in opened #136 "Generate a configuration file containing id and viewbox"
Hello, thank you for  svg-sprite

Is it possible to generate separate file which contain only id and viewbox?

I use inline sprite with symbol, but viewbox attribute not inherit to each svg and I lose aspect ratio on my icons. I want to generate viewbox dynamic.

[2016-01-12 12:08] jkphl commented on #136
@in-in Unfortunately I don't really understand your question. Could you please provide examples of what you expect?

[2016-01-12 12:30] in-in commented on #136
I use Jade and icon mixin looks like:
[code]
menu mixin:
[code]
As you see I can't put viewbox by hand on each svg

[2016-01-12 12:50] jkphl commented on #136
I'm sorry but I'm not a Jade user, so I am not able to interpret this code (let alone debug it or give tips how to improve). Please provide plain CSS for reference.

[2016-01-12 13:39] in-in commented on #136
It not CSS. Jade compile in HTML. Mixin code similar to JS `for` loop statement. `each item in menu`  mean each `item` from `+menu` will place to mixin (item[0], item[1])
[code]
HTML:
[code]
Sorry, maybe I chose wrong place from this question. Anyway thanks for your time.

[2016-01-13 16:36] yairEO commented on #88
Very helpful thanks! **but** the path to the SVG file inside the SCSS file is still:

    background: url("svg/sprite.view.svg") no-repeat;

which isn't good, since different systems have different paths

[2016-01-13 17:25] yairEO commented on #95
@jkphl - for people to be able to use svg fragments, the SCSS should be generated something like this:

    @mixin common($path){
	  background: url("../images/svg/sprite/view/sprite.svg#{'#' + $path }") center center no-repeat;
    }

    // an example for a single fragment:
    .svg-pie-chart {
	    @include common('pie-chart');
    }

[2016-01-13 22:07] jkphl commented on #95
@yairEO You're free to use a customized version of the default SCSS rendering template which can be found in the `tmpl` directory (depending on the rendering mode you use). Copy it elsewhere, customize it appropriately and adapt your configure. That should do it. :)

[2016-01-27 13:18] hamishtaplin commented on #114
I wasn't surprised that there was an issue raised about the formatting, it's really difficult to read if you aren't used to it.

+1 to adopting a more standard style of indentation.

[2016-01-27 16:21] imjacobclark opened #137 "Error: Cannot find module 'inherit'"
Encountered the issue `Error: Cannot find module 'inherit'` within our CI pipeline over the past two days.

Affecting version `1.2.17`

Full stacktrace:

[code]

I believe this is related to: https://github.com/nodeca/js-yaml/pull/240

Raising this for visibility incase other people see this issue.

I believe the fix is to upgrade your version of svg-sprite.

[2016-01-27 20:09] jkphl commented on #137
@imjacobclark Thanks for reporting this! You're right, the current version of *svg-sprite* should already feature the most recent version of *js-yaml* as a dependency. There seems to be a couple of other outdated dependencies at the moment though, I'll take care of them as soon as I find some minutes.

[2016-01-28 11:12] imjacobclark commented on #137
Thanks for the reply @jkphl!

[2016-01-28 11:57] lone-star commented on #114
+1 for the point about `git blame`. It's not practical for reviewing history.

[2016-02-01 22:11] tomekbuszewski opened #138 "Passing --svg-dimattrs results in merged icons"
Hi,

first of all - great tool ;-)

But I found a problem. I use cli for my needs, this is my code:
`svg-sprite --css-render-scss-dest _sprite.scss --css-example -cD . --cscss _img/*.svg`
It works great. But when I add `--svg-dimattrs=false`, every generated icon looks the same (only scaled).

[2016-02-02 08:13] jkphl commented on #138
Thanks for reporting this @tomekbuszewski, I'll have a look into it as soon as I find some time!

[2016-02-03 04:03] techjanitor commented on #114
lmao

[2016-02-03 13:42] fr-olivier opened #139 "Keep dimension attributes on symbols"
Hello,

Thanks for this tool, it's really awesome. Just a question: I noticed that the width and height attributes are no longer present on the symbol tag in the sprite. Is it possible to keep them (I couldn't find a param in the config doc)? Or is it considered as bad practice and I should put the width and height on the ```<use>``` tag or with css?

François

[2016-02-03 14:04] jkphl commented on #139
Hi @fr-olivier,

thanks for asking!

Yes, it's somewhat like that. Putting dimensions on the `<symbol>` element could / would limit you to these specific values, whereas the strength of `<symbol>` is that you can `<use>` it in different contexts and sizes. Also, you should always try to avoid the `width` and `height` attributes altogether and use the `viewBox` attribute instead (please see [this a

[2016-02-03 14:04] #139 closed

[2016-02-03 16:29] fr-olivier commented on #139
Hi @jkphl,

Thanks for your quick reply, I'll dive deeper in my understanding of the ```viewBox``` attribute then.
Besides, why are the ID's and classes of the inner paths stripped in the outputted sprite?
I've discovered that those inner paths can't be styled by css (or can they?).

[2016-02-03 16:39] jkphl commented on #139
The IDs and classname shouldn't be stripped, and I'm pretty sure that at least *svg-sprite* doesn't do this. It might be a result of SVGO's aggressive plugins though, so you should possibly check those settings.

What does happen by default, however, is that *svg-sprite* "namespaces" IDs and classnames to avoid CSS clashes. You can disable this via config (`svg.namespaceIDs` and `svg.namespaceClas

[2016-02-05 15:44] iliakan commented on #134
Margins is a pretty standard thing for sprite engined. Surprised to see them not implemented.

Something like 10px around images serves well as a default to prevent most overflows.

[2016-02-05 15:52] jkphl commented on #134
@iliakan As described above, there are several ways of getting some distance between your shapes. Please pick one of them.

[2016-02-05 15:55] iliakan commented on #134
Can I set padding for an individual sprite?

[2016-02-05 16:01] iliakan commented on #134
The problem with the global `padding` options is that all images suddenly grow, even those that are not expected to.

[2016-02-05 16:04] jkphl commented on #134
I guess with "sprite" you are referring to a single shape within the sprite, correct? If so, and if you want one particular shape to have a padding different from all other shapes, then of course the global padding value is not what you want. You will have to include the desired padding directly in the single shape file.

[2016-02-05 16:14] iliakan commented on #134
@jkphl thank you very much for the answer. The thing that was very simple with raster sprite generators became surprisingly complex with svg-sprite. I made a pet project to specifically demonstrate the issue.

Here's the problem: http://jmp.sh/tRaZOT8
Okay, so I need more space around that check sign. But when I add `padding: 30`: http://jmp.sh/mi9zqTb

You see, cat shifts.
How to evade that side

[2016-02-05 16:16] iliakan commented on #134
P.S. `git clone https://github.com/iliakan/gulp-screencast && cd 11-more-stylus && npm i && gulp dev` runs the example.

[2016-02-05 16:25] jkphl commented on #134
The padding implementation in *svg-sprite* basically tries to mimic how padding works in CSS. The outer shape dimensions compare to the `border-box` in CSS. So any padding lies inside the `border-box`, and adding a `padding` will effectively increase the size of the shape, just as it would do with an HTML element (given it had fixed `width` and `height` like the SVG shape).

The basic problem is t

[2016-02-05 16:30] iliakan commented on #134
Yes, exactly, the usual solution is a "margin" around shapes that doesn't force to use extra `span`.

[2016-02-05 16:35] jkphl commented on #134
Sure, you can do this (and you can still achieve this very effect by having the appropriate whitespace around your cat only — just add it to your cat source file!), but I'd consider this bad practice. Otherwise you'd never be able to use your cat in a responsive way as you'd have to deal with scaling paddings. Treating the background sprite shape just like a regular image — which has its own HTML

[2016-02-05 16:36] iliakan commented on #134
I tried to use padding for the menu and wrap the cat: http://jmp.sh/qFItuKk
You see, it is still shifted.

Guess, your original suggestion was remove the `padding` and use a wrapper for the menu?

[2016-02-05 16:46] jkphl commented on #134
I'm sorry I don't have the chance to dive deeper into your project right now. But my general advice would be:

1. Wrap each icon in an inline HTML element — might be `<span>`, I tend to (mis)use `<i>` for sake of  brevity and its association with *i*con ...
2. Use a `common` classname (e.g. `icon`) for all your icons, applying something like `display: inline-black; background-size: cover` (in comb

[2016-02-06 20:56] iliakan commented on #134
Surely, forcing each sprite into `<i>` solves the problem. I just hoped to evade this restriction. Thank you for the support!

[2016-02-07 23:06] Johnius commented on #138
We are just need to add `background-size` with svg dims to each css class.

[2016-02-08 09:48] jkphl commented on #138
@Johnius In how far does your need correspond to @tomekbuszewski's one? As far as I understood him, he's just not able to *suppress* the output of dimensions using the CLI tool.

[2016-02-08 11:14] tomekbuszewski commented on #138
I've made a screenshot of how it looks on preview, when I add `--svg-dimattrs=false`: https://www.dropbox.com/s/pguyz7lb3sufhb5/Screenshot%202016-02-08%2012.12.40.png?dl=0

Perhaps I just didn't understand some commands and/or I am using them in wrong combination. But this doesn't seem like a proper output.

[2016-02-08 18:37] Johnius commented on #138
@jkphl As I understood he wants to disable explicit setting of sprite dimensions in resulting svg. But when he do that it raises wrong results in browser — as he mentioned above in screenshot. I got the same results. After some digging it seems that we need `background-size` property on every css class containing our sprite in `background` property. It will fix @tomekbuszewski problem.

[2016-02-08 20:39] jkphl commented on #138
OK guys, I think I finally got the problem. ;)

What seems to be buggy: The example document should either ignore that the dimension attributes have been disabled (i.e. a dimension attribute enabled sprite should be used for the example document), or the background size should be set as described.

In general, however, the result of `--svg-dimattrs=false` looks correct to me, and so does the brows

[2016-02-09 18:38] adgoncal opened #142 "Internet Explorer/Edge discards part of the decimal precision"
TL;DR
IE/Edge seem to ignore anything after the second decimal place on a percentage background position. Is there an option in svg-sprite to use pixel units instead of percentage?

---

I just noticed that IE and Edge do not display the sprites correctly. I noticed it when I had a button that changed the sprite icon on hover.

Searching the web I found an issue on stackoverflow that explains the

[2016-02-09 21:23] jkphl commented on #142
@adgoncal Thanks for reporting — but that a real bummer. :(

*svg-sprite* used to use absolute positions (i.e. pixels), but there's no such option anymore. Of course one could use an alternative rendering template making use of the absolute values (they are still available as variables in the templates), but it's going to be a major pita.

If I understood the problem correctly, an alternative appr

[2016-02-09 22:42] rdourado commented on #109
+1

[2016-02-24 04:18] chrisopedia opened #144 "How do you use the --svg-rootattrs?"
Attempting to do an svg sprite and it won't work doing it inline without the `xmlns:xlink="http://www.w3.org/1999/xlink"` on the root SVG.  So I tried adding in a via the CLI as such and its garbling the output.

[code]

[2016-02-24 07:50] jkphl commented on #144
hey @chrisopedia,

could you please post the exact contents of your `attrs.json` well as the garbled part of the SVG output?

Furthermore, AFAIK, when used inline there should be no need for explicitely having the `xlink` namespace declared. I don't find a proper normative reference right now, but e.g. [this article](http://taye.me/blog/svg/a-guide-to-svg-use-elements/) says the same (and I'm pret

[2016-02-29 00:45] LasseRafn commented on #79
Any updates on this? It annoys me that I cannot have an absolute url.. Relative urls does not really do it for me.

I'd like to change

"../images/svg-sprite.svg"

to

"/images/svg-sprite.svg"

[2016-02-29 09:28] jkphl commented on #79
@LasseRafn Please be aware that this is a closed issue and that there are no plans to work on this specifically at the moment. If and when there will be a rewrite with new functionally is unclear right now.

[2016-02-29 10:22] LasseRafn commented on #79
Wow.. I’m one of *those* people, that comment on closed issues.. I must’ve been tired last night, sorry! I didn’t even notice it was closed.

- No problems, I’ve currently ditched using SVG’s for this project and decided to depend on retina sprites instead.

Thanks for the response!

[2016-03-11 13:29] bogatyrjov opened #145 "Spaces instead of tabs in SCSS"
Thanks for great work on this. Is there a way to use spaces instead of tabs in generated SCSS?

[2016-03-14 02:13] adgoncal commented on #145
You could use a custom [template](https://github.com/jkphl/svg-sprite#tweaking-and-adding-output-formats).

[2016-03-14 08:18] jkphl commented on #145
@adgoncal If I could upvote your answer, I'd simply do! Thanks. ;)
@bogatyrjov Yes, what @adgoncal said. Please use a custom copy of the original Mustache template with tabs replaced accordingly.

[2016-03-14 08:18] #145 closed

[2016-03-23 16:32] LasseRafn opened #146 "background url totally wrong"
Hi,

I'm wondering how I would go about setting the sprite svg file path in the scss file?

Currently it's like this:
[code]

And I want it to simply be: /images/sprite.svg

My config is the following, and I'm using Laravel:

[code]

I've tried to have the sprite file to be without a slash, no luck, and to have the main dest to be the sass folder instead (reversed from what I have now)

I need the

[2016-03-23 16:54] LasseRafn commented on #146
Oh god I'm such a retard.. Lol. I found that templates will fix this for me... sorry for wasting your time :-) I've attached the (hacky?) template that I decided to use.

[code]

[2016-03-23 16:54] #146 closed

[2016-03-23 16:55] jkphl commented on #146
At present *svg-sprite* doesn't support absolute or root-relative paths for the sprite, so having the path `/images/sprite.svg` is not possible. There have been several requests for that, but at the moment I'm not able to work on this feature. Please have a look [here](https://github.com/jkphl/svg-sprite#pre-processor-formats-and-the-sprite-location) for further information.

[2016-03-23 16:55] jkphl commented on #146
Well, using a custom template of course is always a solution as well ;)

[2016-03-24 23:57] aarondail opened #147 "CSS Paker: block padding and grouping"
## The Overview

Firstly, thanks for making this great tool!

This is kinda a request for either some new functionality or possibly a new extensibility point.  Its a bit long, so bear with me!

## The Problem

For context, we are using the tool to generate CSS using the packed layout and a svg sprite sheet.  It works well. :)

But we have some sprites that represent different states of an icon (i.

[2016-03-29 14:58] jkphl commented on #147
Hey @aarondail, thanks for your submission! At a glance it sounds reasonable and I will review it further to see how to incorporate it. However, due to capacity reasons I won't be able to work on all this until end of April, so please bear with me. Thanks! :)

[2016-03-31 11:06] Mevrael opened #149 "Inline CSS (Convert <style> into attributes) for <symbol> mode"
Is it possible to inline CSS styles from `<style>` into attributes for `<symbol>`?

SVGO have this option enabled by default, but I still have `<style>` within `<symbol>` in generated sprites file.

Also is there any option to extract `<linearGradient>` and other filters to `<defs>` section in generated sprites file?

[2016-04-01 11:05] jkphl commented on #149
@Mevrael It's currently not *svg-sprite*'s focus to manipulate the SVG sources other than in a way that's absolutely necessary for creating a sprite. The extraction of gradients [has already been requested](https://github.com/jkphl/svg-sprite/issues/74) and I might be working on that one day, but probably not in the near future. Please be aware that SVGO is part of *svg-sprites* optimization proce

[2016-04-01 11:05] #149 closed

[2016-04-01 12:53] ogonkov opened #150 "A way to get mixins-only SASS file"
It there way to get variables and mixins only SASS file without any selectors?

Something similar to the spritesmith output:
[code]

[2016-04-01 12:59] jkphl commented on #150
@ogonkov I have no idea of spritesmith, but it's absolutely possible to write and use a custom Mustache template that produces the desired output. Please see [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#rendering-configurations) and [here](https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md) for some hints on where to start.

[2016-04-01 12:59] #150 closed

[2016-04-02 20:01] Mevrael commented on #149
@jkphl you should not have <style> inside an icon in the final sprites file. When you combine many icons into signle file their CSS classes may conflict to each other.

As a common example - the latest Adobe Illustrator, which is often used by designers, generates same class names for each icon, even if it's just a simple fill with color. When creating a sprite from the icon pack you have many con

[2016-04-02 20:29] jkphl commented on #149
@Mevrael FYI *svg-sprite* is accounting for that. Please [see](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#sprite-svg-options) the `namespaceClassnames` option. Having `<style>` elements inside the sprite is not a problem at all (although there's a [known problem](https://github.com/jkphl/svg-sprite/issues/109) with class namespacing in certain situations).

[2016-04-03 10:16] limiterCore opened #151 "Is it possible to separate options for real path of generated sprite and a value to background-image?"
I use an css mode, an option called 'sprite' set a value for background-image in genereted less, but also it affect on path to save svg file. In order of my workspace have another root then a sprite, it becomes a problem for me.

[2016-04-04 07:57] jkphl commented on #151
@limiterCore Have you read the [section about output destinations](https://github.com/jkphl/svg-sprite#output-destinations), especially in conjunction with pre-processor formats? This should help you.

[2016-04-08 17:11] Yoksy opened #152 "Remove width and height on shape missing in latest version"
Hello,

on january 28 2015 on issue #45 you had add theses lines in shape.js (commit 4e486dd4ac75583251c105dfb7ae3e1caef486e )

`// Remove dimension attributes if not requested`
		`if (!this.config.dimension.attributes) {`
			`svg.removeAttribute('width');`
			`svg.removeAttribute('height');`
		`}`

However in the lastest version its seems it was removed. I'm using gulp-svg-sprite and if I don't a

[2016-04-17 14:47] ogonkov commented on #150
If someone interested, here the way to achieve variables only SASS styles:

Gruntfile.js
[code]

svg_sprite.template.scss.handlebars
[code]

[2016-04-19 13:34] Trimud commented on #150
Thank you @ogonkov

Is this everything we need? How do you use it afterwards in your scss file?

Thanks

[2016-04-20 17:13] jameschetwood commented on #150
This might help: http://stackoverflow.com/questions/36748242/generate-sass-mixins-with-gulp-svg-sprite

[2016-04-20 20:32] ogonkov commented on #150
@Trimud well, i actually use generated vars above coupled with spritesmith's mixins.
https://github.com/twolfson/spritesheet-templates/blob/master/lib/templates/scss.template.handlebars#L77-L124

It plays nicely with "view" mode.

Example of usage:

[code]

[2016-04-21 12:47] Trimud commented on #150
Thank you guys!

I have decided to use the solution provided by James.

[2016-04-25 17:58] neonwired opened #153 "Bug with using mode.css.common"
When i specify a value for mode.css.common using the config below, it renders css rather than scss

`{
            shape : {
                dimension: {
                    maxWidth: 32,
                    maxHeight: 32,
                    attributes: false
                }
            },
            mode: {
                css: {
                    render: {
                        common: '

[2016-04-25 19:55] jkphl commented on #153
@neonwired `common` is not a property of `mode.css.render` but of `mode.css`. By using `common` as property of `mode.css.render`, you are practically "inventing" a new render type called `common` — which is perfectly legal but you'd have to specify a `template` and `dest` for that then as well. Please consider using the [online configurator](http://jkphl.github.io/svg-sprite) to avoid glitches lik

[2016-04-25 19:55] #153 closed

[2016-04-26 10:05] neonwired commented on #153
That's a mistake with the code i pasted. It still renders incorrectly as css if you specify common as a property of mode.css.

[2016-04-26 10:15] jkphl commented on #153
Please provide your complete config, thanks!

[2016-04-26 12:15] alex1012 opened #154 "i can't use svg-sprite with docker"
Hi everyone! I have a problem when i want install svg-sprite on docker with help npm.

When I add svg-sprite to my dependencies and run "docker-compose build", or when i want to build just node.js container i have to long error list.

When i try simple `[long docker commands] npm install svg-sprite --save` i've got next errors:

npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "s

[2016-04-26 15:06] jkphl commented on #154
Thanks for reporting this, @alex1012. Unfortunately I'm not a docker user and can't help with this. Anyone else?

[2016-04-27 09:32] alex1012 commented on #154
Thank you for answer, but docker it's simply cutted linux. If you, or some co-contributors, will run into this problem. Message in this topic.
Your module so helpful for me, but i can't use it because my workflow is no support this.

[2016-05-05 12:54] max-mykhailenko commented on #154
@jkphl  Look at https://www.npmjs.com/package/phantomjs maybe we should change dependency package to `phantomjs-prebuilt`?

[2016-05-05 13:04] jkphl commented on #154
@max-mykhailenko Thanks! I'll be off for a couple of conferencing days as of tomorrow, but I plan to **FINALLY** work on *svg-sprite* within the next 2 weeks. I'll get back to you regarding this b/c I need someone with Docker knowledge to test this then.

[2016-05-05 13:18] max-mykhailenko commented on #154
@jkphl I see a lot of problems in phantomjs repository issues about installation using npm. Can we use fixed version of phantomjs? For example `phantom: "1.2.19"`. We can find stable version which works correct with docker.

[2016-05-10 23:30] RoxKilly opened #155 "How to format config to output sprite at root folder?"
**gul-svg-sprite 1.2.19**

I'm having a lot of trouble with the config object that is passed to gulp-svg-sprite to determine the destination of the file created. I have read the doc section on output destination and read through this [StackOverflow board](http://stackoverflow.com/questions/29838150/modifying-destination-and-filename-of-gulp-svg-sprite) on the matter.

**Here is the gulp task**
[co

[2016-05-11 23:43] JesseBilsten opened #156 "Do you need 2 require('paths')?"
https://github.com/jkphl/svg-sprite/blob/c1874eb26ebf59a7e41eba3eda1e1304ac60d7c1/lib/svg-sprite/shape.js#L23
and
https://github.com/jkphl/svg-sprite/blob/c1874eb26ebf59a7e41eba3eda1e1304ac60d7c1/lib/svg-sprite/shape.js#L14

I haven't tested removing one of them, but was curious if this was some sort of work around or just an accident.

[2016-05-12 07:19] jkphl commented on #156
Thanks for reporting this, @JesseBilsten! You're right, this seems redundant. I'll take care of it.

[2016-05-12 07:30] NKjoep opened #157 "SVG Stack link is a 404"
SVG Stack link in the readme points to this

[http://simurai.com/blog/2012/04/02/svg-stacks/](http://simurai.com/blog/2012/04/02/svg-stacks/)

and it is a 404.

[2016-05-12 07:34] jkphl commented on #157
Thanks for reporting @NKjoep. However, this is a duplicate of #69 and has already been fixed in the master branch. I'll hopefully be able to push out a new release soon.

[2016-05-12 07:34] #157 closed

[2016-05-12 07:46] NKjoep commented on #157
oh cool! :) I tried to use the search but I couldn't find it! 👍

[2016-05-12 07:48] jkphl commented on #157
Yeah, it's a little hard to find as it was reported in another repo (the Grunt wrapper). But fortunately my memories jumped in. ;)

[2016-05-13 12:09] #156 closed

[2016-05-14 12:30] jkphl commented on #155
Hey @RoxKilly,

you're simply using an insufficient configuration. Your config object should look like this:

[code]

So your whole task could look like this:

[code]

You should end up with `icons/sprite.defs.svg` then.

Cheers, Joschi

[2016-05-14 12:30] #155 closed

[2016-05-14 12:36] jkphl commented on #154
@max-mykhailenko @alex1012 FYI: I just updated all dependencies and switched to `phantomjs-prebuilt` v2.1.7. The tests on my side run fine again (the build is still failing, however, but that's not a PhantomJS related problem). I'll still look out for someone to check this on Docker once I pushed out a new release. Please stay tuned.

[2016-05-14 12:47] jkphl commented on #152
@Yoksy, the old `shape.dimension.attributes` setting has been replaced by `svg.dimensionAttributes` with commit https://github.com/jkphl/svg-sprite/commit/1de28228148c901ab3c59fe7e513ccd06ac1f8d0. Please see [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#sprite-svg-options) for documentation on how to use it.

[2016-05-14 12:47] #152 closed

[2016-05-14 12:49] jkphl commented on #151
As I'm sure your problem is solvable with the correct configuration, I consider this issue solved and will close it at this point. Please feel free to reactivate it in case of further problems.

[2016-05-14 12:49] #151 closed

[2016-05-14 12:52] jkphl commented on #144
@chrisopedia Any updates on this? As I'm still pretty sure that no `xlink` namespace declaration is required for inline SVG, I'll close the issue at this point. Please feel free to reactivate in case of further problems.

[2016-05-14 13:12] jkphl commented on #147
Hey @aarondail, I finally found the time to dive into your issue — thanks a lot for this awesome submission. I really learnt a lot reading your code! :)

I'm currently doing some house cleaning with *svg-sprite* and will deal with the more fundamental issues first (like updating dependencies), but I'll definitely keep thinking about your proposal. In the meantime, could you please have a look at h

[2016-05-14 13:40] #138 closed

[2016-05-14 13:43] jkphl commented on #137
@imjacobclark I just updated all dependencies and will hopefully push out a new release later today — FINALLY! — so I'll close this issue at this point.

[2016-05-14 13:43] #137 closed

[2016-05-14 13:57] jkphl commented on #136
Sorry for not getting back to you earlier. I re-read your issue now and am still having a hard time understanding all that Jade stuff, as it adds additional questions to your problem ... In any case, however, it seems to me that you might be better off using a «view» sprite here. The main difference between the «symbol» and the «view» sprite is that you don't have to put a `viewBox` attribute on y

[2016-05-14 13:57] #136 closed

[2016-05-14 14:29] jkphl commented on #118
Trying to take care of this now. As expected this is a [well known xmldom issue](https://github.com/jindw/xmldom/search?q=entity&type=Issues&utf8=%E2%9C%93), but the author doesn't seem interested in working on this ... Trying to find a solution ...

[2016-05-14 15:19] #118 closed

[2016-05-14 15:22] jkphl commented on #51
As of commit https://github.com/jkphl/svg-sprite/commit/50af8d5a9f45055a5b969a8c496827008c886272 PhantomJS 2.x is used for the tests.

[2016-05-14 15:22] #51 closed

[2016-05-14 15:33] jkphl commented on #103
After reading through this issue again, it seems to me that @starksider's solution is far more efficient than any core extension would ever be. I strongly recommend following his suggestion (and will therefore close this issue again).

[2016-05-14 15:33] #103 closed

[2016-05-14 15:45] #109 closed

[2016-05-16 01:34] RoxKilly commented on #155
Thanks!!

[2016-05-16 13:28] jkphl opened #158 "Modeless approach doesn't work anymore"
See https://github.com/jkphl/gulp-svg-sprite/issues/42 for a description of the problem.

[2016-05-16 14:46] #158 closed

[2016-05-16 17:04] aarondail commented on #147
Thanks @jkphl, I took a look at #142, but I think they are independent.

But as it happens, I also wanted to use absolute pixel coordinates in my sprite sheet so I customized the default template to do that.  FWIW, using absolute pixel coordinates seems to also help with the same problem I opened this ticket for (emphasis on "seems to").

[2016-05-16 17:10] aarondail commented on #142
FWIW you can supply a custom template to use pixels rather than percentages.

Here is my config:
[code]

And the custom template file I created:
{{!
This is a mustache template file.

It is a COPY of the css mustache template that is part of svg-sprite.  With a tweak :)

Specifically, it is a copy of this file: node_modules/svg-sprite/tmpl/css/sprite.css

The only tweak is:

* The original uses po

[2016-05-16 18:38] jkphl commented on #142
Thanks for sharing your custom template, @aarondail. This might help others quite a lot!

However, please bear in mind that using pixels instead of percent will make your sprite shapes "non-responsive" — they will be tied to their original dimensions (respectively the generated ones) and you won't be able to style them via CSS to have different dimensions (e.g. `background-size: 100% auto` isn't p

[2016-05-18 04:01] aarondail commented on #142
Ahh, good to know!  I hadn't realized that.

[2016-05-21 17:43] tmcgann opened #160 "CLI: Render CSS file in symbol mode"
When using the Gulp wrapper it's possible to use symbol mode and render a CSS file with all the necessary dimension classes:

[code]

The resulting CSS file `sprite.css` would look something like this:

[code]

How would I do the equivalent on the command line? I can render the symbol SVG sprite easily enough...

```svg-sprite --dest 'dist/assets/svg/' --symbol --symbol-dest '.' --symbol-prefix '.

[2016-05-24 18:16] rhewitt22 opened #161 "Feature Request: Add support for including a CSS class or inline style"
An SVG sprite of many `<symbol>` tags still takes up space in the viewport even though the icons are not displayed (until they are `use`d).  I can't think of a use case where this is the developer's intention.  If we could include a class name on the output SVG sprite, or inline style `display: none` everything should work as expected.

I'd like to avoid a post-processing step that tacks on a clas

[2016-05-24 18:23] jkphl commented on #161
@rhewitt22 Off the top of my head (sorry if I'm wrong), this should be done when [enabling `mode.<mode>.inline`](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#defs--symbol-mode). Also, you should be able to add (almost) arbitrary attributes to the outermost `<svg>` element by using `svg.rootAttributes`. Can you confirm this?

[2016-05-24 19:23] rhewitt22 commented on #161
@jkphl Indeed! The `inline` mode was what I needed. I spent quite a bit of time in the docs, the number of options can be a bit overwhelming -- sorry I missed that!

`--si true` did the trick by adding `position: absolute;` to the root element.

Thanks!

[2016-05-24 19:23] #161 closed

[2016-05-24 20:03] jkphl commented on #161
@rhewitt22 You're welcome! :)

[2016-05-25 01:18] coleturner opened #162 "Fragment viewbox off-center"
The problem I am experience is that my SVG fragments are not centered around the icons in the sprite, and will include surrounding sprites in the final file.

Here is my final SVG sprite:
http://pastebin.com/p0RdNy3M

When I try either the #create-hunt or #create-poll sprite, this is the result:
http://i.imgur.com/mi2k3CJ.png

I am wondering if there's a problem with my configuration, or the sprit

[2016-05-31 16:01] daanvanham opened #163 "config.mode.symbol.dimension.attributes has no effect on the symbols in the sprite"
For my config I used this object:

[code]

But after running the gulp task, I still got `width`/`height` attributes on my `<symbol>` nodes. Since `gulp-svg-sprite` is only a wrapper around this module, I put the issue here.

I made some changes to `lib/svg-sprite/shape.js` to fix this issue. Will put in a pull request soon.

[2016-05-31 19:51] daanvanham commented on #163
Sorry, I actually pasted the wrong config in this issue. My config is as in the PR:

[code]

[2016-05-31 19:59] jkphl commented on #163
Ah, this looks better! ;)
I still need to see why the Travis build fails with your PR, please bear with me. I'll close this issue for not having a double post. Thanks!

[2016-05-31 19:59] #163 closed

[2016-06-07 20:24] Laruxo commented on #160
I have similar issue and I solved it by creating js file that does what I need and then calling it:
`node config.js`
But I don't like this solution, so I was thinking that maybe there could be command line option to which I could pass path to json config file (--config).
Then we could use same config objects people use in node/grunt/gulp but input and output files would come from CLI. Also it woul

[2016-06-07 20:29] jkphl commented on #160
@Laruxo Interesting idea! I will think about that (but won't be able to work on it for a while due to time constraints; Please bear with me!)

[2016-06-07 20:34] Laruxo commented on #160
@jkphl If you like the idea I could implement it myself. However, I've read that you are planning some major overhaul, so I am not sure how this will work with your plans.

[2016-06-07 20:40] jkphl commented on #160
@Laruxo Please go ahead, I'd love to add your contribution. I'm kinda planning a major overhaul, yes, but it's totally uncertain when I will find the time for that. It won't be in the next couple of weeks, that's for sure!

[2016-06-07 20:51] tmcgann commented on #160
@Laruxo Great idea. I considered going the JS route myself, but before I did, I wanted to see if I was missing something, or if what I wanted to accomplish was already possible. Also, I'm less familiar with Node so I figured it would take me some time. Would you mind sharing your config file, a Gist, working example or something so I could see what you've done? Or if you plan on implementing somet

[2016-06-07 21:04] Laruxo commented on #160
@tmcgann try using online [configurator](http://jkphl.github.io/svg-sprite/#node). I didn't even need to edit generated code for my situation.
I am planning to work on adding "--config" option to CLI this weekend. I will see how it goes and notify you about my progress.

[2016-06-10 11:36] Laruxo commented on #160
#165 Had some free time today, so I put something together.

[2016-06-10 11:51] jkphl commented on #160
@Laruxo Awesome, thanks a lot! I'll try to review on the weekend.

[2016-06-12 09:31] owen-hong opened #166 "css layout can support "binary-tree"?"
css layout can support "binary-tree"?
https://github.com/twolfson/layout

[2016-06-12 09:33] jkphl commented on #166
Yes. This is basically the `"packed"` value for `mode.<mode>.layout` (see [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#css--view-mode)).

[2016-06-12 09:33] #166 closed

[2016-06-12 09:38] owen-hong commented on #166
Thank you

[2016-06-17 09:48] qasimalyas opened #167 "Exposing file name variable to use in custom templates"
I have a scenario where i'm using custome templates to generate a sprite file with cache busting enabled. My template is:

    {{#common}}.{{common}} {
        background-repeat: no-repeat;
        background-image: url(/magazine/graphics/sprites/output/{{{sprite}}});
        display: inline-block;
    }

The end result is

    .vector-icon {
        background-repeat: no-repeat;
        backgroun

[2016-06-17 10:07] jkphl commented on #167
Yes, you should be able to do this by defining and passing in a custom Mustache callback function that e.g. replaces the `.svg` file extension against `.png`. There is an [example in the docs](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#custom-templating-variables) showcasing exactly this example. The example contains a link to the Mustache documentation showing how to us

[2016-06-17 10:07] #167 closed

[2016-06-17 11:38] qasimalyas commented on #167
No this doesn't work.

Here's what my grunt file with svgsprite looks like:

    svg_sprite: {
        build: {
            expand: true,
            cwd: 'project/graphics/sprites/source',
            src: ['**/*.svg'],
            dest: 'project/graphics/sprites/output',
            options: {
                variables: {
                    now: function() {
                        return +new

[2016-06-17 12:04] jkphl commented on #167
@qasimalyas You're applying the custom function the wrong way. As I said, please refer to the [Mustache docs](https://github.com/janl/mustache.js/#functions) about how to work with callbacks.

[2016-06-17 20:35] adgoncal opened #168 "[Docs] Broken image"
I just noticed that the image `/test/expected/png/css.vertical.default.png` in doc file `shape-alignment.md` is broken.

It seems it was deleted in this commit:
https://github.com/jkphl/svg-sprite/commit/71d8e8804bef679e1330e8465cd48d06f193e2e5#diff-2d1f056edcdb8dc2a5cf6a3f59dcea22

DOC:
https://github.com/jkphl/svg-sprite/blob/master/docs/shape-alignment.md#aligning-and-duplicating-shapes

[2016-06-20 21:24] adgoncal opened #169 "[Feature request] Option to generate multiple states with different colors for an icon"
EDIT: I figured it out, see my follow-up comment https://github.com/jkphl/svg-sprite/issues/169#issuecomment-227290727.

I would like to input a list of state and color as key-value pairs and have svg-sprite generate multiple icons from the same source, replacing just the fill color. Example:
[code]

I found a similar request on grunt-svg-sprite https://github.com/jkphl/grunt-svg-sprite/issues/22

[2016-06-20 22:35] adgoncal commented on #169
Nevermind, I was able to do it as a shape transform function:

[code]

Usage:

[code]

[2016-06-21 07:27] jkphl commented on #169
@adgoncal Awesome solution, thanks for sharing! :)

I'm glad you could solve this without requiring a core change. I always tried hard to separate concerns — not let *svg-sprite* do real SVG manipulation but rather sprite compilation only — so I probably wouldn't have been a friend of building this into the core. But your solution is a great example of how to leverage the transform functions — **a

[2016-06-21 07:27] #169 closed

[2016-06-21 14:54] rgb4u opened #170 "Matching sub-folders for source and destination"
I can't force this plugin to use {base: './my/path/'} in gulp.src,
so i can keep folder structure in destination folder.
I want to compile svg files from folder:
project/src/a|b|c|d(...)/icons/*.svg
to folder:
project/dest/a|b|c|d(...)/icons/sprite.svg

Why i can't keep my file structure in destination folder while generating sprites?

[2016-06-21 14:58] jkphl commented on #170
@rgb4u I'm sorry but I can hardly understand your question. If possible please try to rephrase it. Also, reading the [docs about output destinations](https://github.com/jkphl/svg-sprite/blob/master/README.md#output-destinations) might help you understand how *svg-sprite* has to be configured.

[2016-06-21 14:58] #170 closed

[2016-06-21 16:50] rgb4u commented on #170
Sorry for my mistake, i try to set base, cwd for gulp.src without result
Every code compilation works fine, and my files matching
source/destination folders,
only images don't work, sprites are generated, but not in
.project/destination/**/
subfolders :(

On 2016-06-21 16:58, Joschi Kuphal wrote:

[2016-06-27 11:43] JordanDWhalen opened #171 "Upon changing the output directory, my symbols are now prepended with their source folder."
After making some adjustments to place the file in the correct output fodler, my symbol id's within my output sprite are all being prepended with the source folder.

The source being /dev/img/ and the output being /public/img.

`gulp.task('svg', function () {
  return gulp.src('dev/**/*.svg')
  .pipe(svg(
    {
      "dest": ".",
      "mode": {
        "symbol": true,
        'symbol': {

[2016-06-27 11:54] jkphl commented on #171
@JordanDWhalen Please see the description for the `shape.id.generator` config option [in the docs](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-ids). By default, nested source folders are traversed to a corresponding shape ID. You need to provide a custom ID generator to replace this default behaviour.

[2016-06-27 11:54] #171 closed

[2016-06-27 13:05] JordanDWhalen commented on #171
Ahh! That makes sense.

Since I'm not super familiar with the syntax for this, how would I go about getting it to just return the file name? I attempted to use the example function, but that doesn't seem to be working.

[2016-06-27 14:16] JordanDWhalen opened #172 "Is it possible to set up an ID generator to simply out put the file name, and not the directory?"
I'm attempting to have the sprite generated symbols have an ID equal to the file name alone. The documentation on [shape id's](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-ids) doesnt really contain much detail on how this could be done. Is this even possible?

My current attempt that doesnt seem to be working - `"shape": {
        "id": {
          "generator": func

[2016-06-27 14:25] jkphl commented on #172
Please try this one (untested, but may work):

[code]

[2016-06-27 14:25] jkphl commented on #171
See https://github.com/jkphl/svg-sprite/issues/172

[2016-06-27 14:44] JordanDWhalen commented on #172
Thank you for the help! I am getting an error though -
`Message:
    Skipping "%s" (%s)`

[2016-06-27 14:55] JordanDWhalen commented on #172
Not sure if this helps,  but here is the entire task :
[code]

[2016-06-27 14:56] JordanDWhalen commented on #172
And the error I get -
[code]

[2016-06-27 15:01] jkphl commented on #172
Too bad I cannot test your setup right now. Could you please try this one and tell me the output:

[code]

Thanks!

[2016-06-27 15:12] JordanDWhalen commented on #172
Sure thing! I really appreciate the help!

[code]

[2016-06-27 15:21] JordanDWhalen commented on #172
If I comment out the last like, and add in `return name;' the error does go away, but I'm still getting the path included in the id.

[2016-06-27 15:22] jkphl commented on #172
Is it possible that you need to include an

[code]

somewhere at the top of your gulpfile? You probably don't have the `path` module present ...

[2016-06-27 15:27] JordanDWhalen commented on #172
That was it!

Thank you so much for the help! Really sorry to keep bugging you.

If there's any chance you could update the readme with some details on the ID manipulation that would be super helpful I'm sure for novices like me.

[2016-06-27 15:27] #172 closed

[2016-06-27 15:33] jkphl commented on #172
Glad I could help! I'll try my best to update the docs (just need to find the time for that though :/)

[2016-06-27 16:06] #168 closed

[2016-06-27 16:13] jkphl commented on #162
@colepatrickturner Please provide the following resources as well:

* The Sass resource created by *svg-sprite*
* The final CSS resource (compiled by your toolchain)
* The HTML markup you use for displaying the sprite

Thanks!

[2016-06-27 16:22] colepatrickturner commented on #162
Here is the SASS sprite sheet that was created:
http://pastebin.com/gU0R8s8v

and the final sprite:
http://pastebin.com/p0RdNy3M

However the stylesheet is not relevant as I was using the #fragment method of embedding:
<img src="sprite.svg#create-hunt" alt="">

[2016-06-27 16:26] jkphl commented on #162
@colepatrickturner Yeah, you posted the sprite earlier, and it looks good to me. I am not sure if browser support for fragment identifiers is mature enough in the meantime. I will have to test with your markup ...

[2016-06-27 16:39] colepatrickturner commented on #162
Majority support for `<img>` svg fragments is there - I've tested boilerplate sprite sheets.

I have a suspicion it has to do with the padding/margin around the sprites, because I know that the min-x coordinate of the viewBox for the fragment's view is 8px too far to the left.

[2016-06-27 19:26] #160 closed

[2016-06-27 19:39] jkphl commented on #154
Totally forgot this one ... but: I had someone testing the latest release with a docker container and everything went fine. Therefore I'm gonna close this issue — please feel free to get back to me in case of any further problems.

[2016-06-27 19:39] #154 closed

[2016-06-27 22:52] noeldelgado opened #173 "Possible side effect of the new CLI option for external JSON config file"
Hi Joschi, since today (version `1.3.2`) I am experiencing an error when running the following cmd:

[code]

Output:

[code]

Targeting version `1.3.1` will work as expected.

Thanks!

[2016-06-27 23:05] jkphl commented on #173
@noeldelgado Yeah, unfortunately looks like a regression I didn't capture. Sorry for that! I'll take care of it tomorrow!

[2016-06-28 00:56] ghing commented on #144
I'm running into this issue as well (with regards to the `--svg-rootattrs` not being handled).

Here's my CLI invocation:

    svg-sprite --dest img --symbol --symbol-dest \"\" --symbol-sprite sprite.svg --svg-rootattrs img/src/attrs.json img/src/noun_436905_cc.svg img/src/noun_96666_cc.svg

Here's my attrs.json:

    {
      "id": "svg-sprite"
    }

And here's the SVG output (`img/sprite.svg`):

[2016-06-28 07:26] #144 closed

[2016-07-03 12:25] max-mykhailenko commented on #154
I still got this error. Can we replace phantomJS To other library?

[2016-07-03 12:56] jkphl commented on #154
@max-mykhailenko What do you mean with "other library"?

[2016-07-03 13:02] max-mykhailenko commented on #154
I find that phantomjs used only in several places in code, can we find library with similar functional and replace phantomjs to it?

[2016-07-03 13:08] jkphl commented on #154
@max-mykhailenko PhantomJS is needed to measure the dimensions of SVG files that (erroneously or intentionally) don't have `width`, `height` and `viewBox` attributes. The only way I know of to find out the dimensions of such SVGs is to render them and then capture the dimensions. If you're able to point me to a library that reliably does this job I'm happy to consider replacing PhantomJS with it.

[2016-07-18 12:40] marcosalberto commented on #37
I have a similar problem, but i want to edit the id based in file path.

Example:
An icon on **/component-a/icons/search.svg** should be the ID **icon-component-a--search**.

The shape.generator.id option used as a function only pass name as argument.

Would be good pass the path too? Or is there another solution?

Thank you

[2016-07-18 13:27] marcosalberto opened #174 "How change the id based in path?"
I have icons in different directories, then is possible a ID conflict. To fix i need put the component name in the icon id, example below.

Example:
An icon on **/component-a/icons/search.svg** should have the ID **icon-component-a--search**

I tried to use the shape.generator.id option with function, but it signature only have the icon name.

Is there any solution?

Thank you

[2016-07-18 14:31] marcosalberto commented on #174
A way to solve without side effects was add the Vynil of icon to the shape.generator.id function, don't know if is a good solution. But can help others.

[2016-07-18 23:46] jkphl commented on #174
@marcosalberto Adding the vinyl source shouldn't be necessary as the default generator function already takes directory names into account (if configured correctly). Please read the [docs about the default generator function](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-ids), it states that the

It all depends on the base directory from which you match your SVG shape

[2016-07-19 00:22] marcosalberto commented on #174
Thank you for the answer, this is exactly what i need but doesn't work. Or i'm doing something wrong.

I created the issue in the wrong place, i'm using Gulp and my task is like below. Already tried with absolute path and relative path.

[code]

[2016-07-19 00:57] marcosalberto commented on #174
@jkphl,

I have multiples directories and because of that doesn't work.

[2016-07-19 00:57] jkphl commented on #174
It must be a problem with your spriter config or the way you pass in the source SVGs.

Given a source structure like this:

[code]

and a spriter config / script like this:

[code]

I get perfect results:

[code]

The log output is:

[code]

Please double-check your config and the name parameter passed into the generator function. Be aware that the default separator for replacing directory borders

[2016-07-19 00:57] #174 closed

[2016-07-19 01:09] jkphl commented on #174
@marcosalberto I'm not too familiar with globbing under gulp, but still I'm pretty sure that it's not necessary to extend *(gulp-)svg-sprite* for achieving your goals as the default ID generator function supports directory traversal as long as the correct file references are passed in. Please look for another way to glob / group your source files.

Btw nice to see you using *svg-sprite* in TYPO3 c

[2016-07-19 02:20] marcosalberto commented on #174
@jkphl,

You are completely right, it's not necessary extend the svg-sprite, sorry for that.

I solved using `base` instead of `cwd`, as the [gulp documentation](https://github.com/gulpjs/gulp/blob/master/docs/API.md#optionsbase) suggests.

Maybe stop working in your environment after update the gulp.

Thanks a lot for the help and just saw that you are a TYPO3 developer 😄

[2016-07-28 15:21] niksy opened #176 "Stripping parts of filenames"
Is there a reason filename are stripped of some content here: https://github.com/jkphl/svg-sprite/blob/bb19260cda26e63f06db3adc5b0122f1b3b9f02f/lib/svg-sprite/shape.js#L141

When passing full file path to template, you get something along the lines `sers/foo/Projects/svg-sprite-test/assets/weather-clear-night.svg`, where `sers` part should be `/Users`.

Is there another way you can get full file p

[2016-07-28 23:56] jkphl commented on #176
@niksy The `.name` property is intended to be the relative path of the source SVG inside the base directory where you are globbing / collecting your source files. That's the reason why `this.source.base` (= base directory) and one trailing path separator are stripped of the beginning of each file path.

In most situations you will have a directory, say `/Users/foo/Projects/svg-sprite-test/assets`,

[2016-07-29 08:01] niksy commented on #176
Hm, this doesn’t fully solve the problem. I’m looking into having full path to file inside template data since I’m using custom template to generate output. Automatic class name generate is really nice in most cases, but for advanced functionality it would be nice to have access to full file object data.

[2016-07-29 08:28] jkphl commented on #176
I get that. However, as the base path is constant, it should be easy to pass in a custom ID generator function (which you'd need in any case) that prepends the relative path with the constant prefix (or do with it whatever you like). I don't see the need to provide the full path as argument as you'd always be able to reconstitute it at any time, right? Also, you could always instantiate full File

[2016-07-29 08:36] jkphl commented on #176
Also, I'm not convinced that the **ID generator method** is the correct place to introduce additional templating variables. You might look into custom templating functions instead and use the shape ID to reconstitute file properties.

[2016-07-29 09:32] niksy commented on #176
What if I have list of SVG files which are (for some reason) placed in completely different folders and their base path differs?

[2016-07-29 10:42] jkphl commented on #176
*svg-sprite* itself doesn't really care where your files are stored. Have a look at the example I gave above. The `spriter.add()` method expects 3 arguments:
1. The absolute file path
2. The relative file path within the base directory
3. The file content
The base directory is calculated from 1. and 2. You could try to hijack them and pass in the absolute path for both. It might work for you — can

[2016-07-29 11:23] niksy commented on #176
The thing is, I’m passing absolute path for both arguments and then I get the stripping issue :/

[2016-07-29 18:43] iambumblehead opened #177 "Please consider simplifying the documentation"
Please consider simplifying the documentation

Additionally, the first example would be more complete if it saved the resulting output somewhere.
[code]

[2016-07-29 23:20] iambumblehead opened #178 "shape.name related issues"
svg-sprite generated classNames for my sprites appeard as 'svg-' and 'svg-g'. The cause related to the way svg-sprite handles paths. I resolved the issue locally with the following change to the shape.js file.

[code]
https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/shape.js#L141

would you accept a pr for this change?

[2016-07-30 00:00] jkphl commented on #178
@iambumblehead I see two problems with your suggestion:

1. (the minor one): The line you commented out in your example doesn't match the original code at https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/shape.js#L141 — is it possible you messed around with that already before?
2. Your suggestion only works in cases where you don't have and use sub directories inside your base direct

[2016-07-30 00:21] jkphl commented on #177
@iambumblehead *svg-sprite* has quite a huge set of options which can be kinda overwhelming to both use and document, I admit. With the second module generation I already did my best to (re)write he documentation with simplicity in mind. Unfortunately I'm not a native speaker and it usually takes me ages to properly write something down and even be satisfied with my output. If you see the chance t

[2016-07-30 00:24] jkphl commented on #176
Please provide your complete spriter configuration, the file and directory structure of your SVG shapes and the main script you're using to register your SVG files with the spriter. I'll see what I can find out.

[2016-07-30 01:48] iambumblehead commented on #178
As a user of this tool,

[2016-07-30 01:48] #178 closed

[2016-07-30 02:03] iambumblehead commented on #178
using the svg-sprite module on npm as-is, I was able to resolve the issue by adding the svg files in this way,

[code]

[2016-07-30 02:12] jkphl commented on #178
Interestingly, the "not-so-robust" implementation seems to work for quite a lot of people already. Please don't get me wrong, but your "solution" is not a solution but the recommended way of using *svg-sprite*. Neither can I nor *svg-sprite* fix your "wrong" paths as long as you don't use it as intended, I'm sorry. Glad it works for you now.