[2016-07-30 07:07] iambumblehead commented on #176
@niksy I had a similar issue to yours which I reported here (and accidentally closed) https://github.com/jkphl/svg-sprite/issues/178

The solution for me was to do this,
[code]

[2016-07-31 01:42] ianlyons opened #179 "background versus background image"
Hi,

First, great project. I've been really impressed with the breadth/depth of the configuration options and the documentation.

I do have a question, though: it seems as if the packer defaults to using `background: url("url.svg") pos pos no-repeat;` instead of declaring `background-image: url("url.svg"); background-repeat: no-repeat;`, etc.

Is there a clean way to toggle the latter? I need to r

[2016-07-31 02:06] ianlyons commented on #179
Nevermind, all I had to do was dig through the code for a second. Resolved; for the next guy, just pick a template and customize it and point the render option at that template.

My (admittedly much simpler) template ended up being:
[code]

[2016-07-31 02:17] jkphl commented on #179
@ianlyons That's exactly what I would've answered now! :) Glad you figured it out and it works for you!

By default, *svg-sprite* tries to generate the smallest possible CSS, that's the reason for using the shorthand property `background` instead of thr verbose ones.

[2016-07-31 02:17] #179 closed

[2016-08-01 07:40] niksy commented on #176
@jkphl here is the [Gist](https://gist.github.com/niksy/1a3ac61b00533d4bf9ddb02d3a930109) which you can clone and test. As you can see, foo.json contains invalid paths.

[2016-08-04 10:16] leungwensen opened #180 "SVG sprite built from complex SVG icon collections not working perfectly"
[related issue](https://github.com/leungwensen/svg-icon/issues/11)

I built an SVG sprite file from this project [logos](https://github.com/gilbarbara/logos/), which is not working perfectly. Some of the logos are not rendered in this page: http://leungwensen.github.io/svg-icon/#logos

Thank you for providing this awesome project! You can use my SVG icons collection project as testing fixtures: [s

[2016-08-05 08:08] jkphl commented on #180
@leungwensen Thanks for reporting this. It took me a while to figure out the reason but it looks like this is not a problem with *svg-sprite* but rather with the gradients involved in the broken icons.

Obviously it's only icons with gradients that are problematic. When I isolate one of the broken `<symbol>`s, change the element name to `"svg"`, add the necessary namespaces and `<use>` it as you d

[2016-08-05 08:08] #180 closed

[2016-08-05 08:22] leungwensen commented on #180
Thank you very much! I will find out a way to solve it.

[2016-08-05 08:52] bfred-it opened #181 "Bug: element class is prepended with "a" or "b""
**Input**

[code]

**Command** (but not cli-specific)

[code]

**Output**

[code]

**Error**

Notice the class on the `<path>`. It should be `h` but it's `ah`

**Version**

I just installed the cli globally so it's the latest version on npm: 1.3.3

[2016-08-05 09:02] jkphl commented on #181
The feature is called "CSS class namespacing" and prevents conflicts with multiple shapes using the same class names (typical for Adobe Illustrator). It can be turned off by configuration (please consult the documentation, I'm on a train right now)

[2016-08-05 09:02] #181 closed

[2016-08-05 09:03] bfred-it opened #183 "--config failing"
**Command**

[code]

**config.json**

[code]

**stderr**

[code]

**Working commands**

[code]

[2016-08-05 09:09] bfred-it commented on #181
Class namespacing is only mentioned in the cli readme

[2016-08-05 09:10] jkphl commented on #183
Please also provide the contents of your `config.json`. Thanks.

[2016-08-05 09:10] bfred-it commented on #181
Thanks! :)

[2016-08-05 09:10] bfred-it commented on #183
It's there

[2016-08-05 09:14] jkphl commented on #183
Sorry, must have overseen it (only on my mobile phone atm)

[2016-08-05 09:36] bfred-it commented on #183
No worries :)

[2016-08-11 17:01] noeldelgado commented on #173
Fixed on [1.3.3](https://github.com/jkphl/svg-sprite/blob/master/CHANGELOG.md#133-bugfix-release-2016-04-28).

[2016-08-11 17:01] #173 closed

[2016-08-11 17:01] dutchenkoOleg opened #185 "linear / radial gradients"
after create svg sprite - gradients disapear (((((

**svg in** has lineargradient with id = 'SVGID_1__FOR_icon_evernote_gradient'

`<?xml version="1.0" encoding="utf-8"?>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="icon_evernote_gradient" viewBox="0 0 100 100"><lineargradient id="SVGID_1__FOR_icon_evernote_gradient" gradientunits="userSpaceO

[2016-08-11 20:45] jkphl commented on #185
@dutchenkoOleg This is not a bug of *svg-sprite* itself but rather a limitation with sprites, `<symbol>` elements and gradients. Please read #74 and adjacent issues. At some point I might consider adding a feature extracting the gradients and putting them in a single `<defs>` block but that won't be anytime soon, unfortunately.

Btw as far as I know also your `<lineargradient>` should be wrapped i

[2016-08-11 20:45] #185 closed

[2016-08-12 08:14] niksy commented on #176
@jkphl Any progress on this?

[2016-08-12 20:05] #176 closed

[2016-08-12 20:05] #177 closed

[2016-08-12 20:05] #183 closed

[2016-08-12 20:09] jkphl commented on #183
The problem was the shorthand definition of the `symbol` mode (by simply setting it to `true`). This needed to be expanded by the CLI script ... Thanks for reporting! :)

[2016-08-12 20:17] jkphl commented on #176
@niksy This was a tricky one, but I think you will like the solution:

Passing in an absolute path for the second argument when adding a file to the spriter queue is definitely not allowed. The reason is that *svg-sprite* uses vinyl files internally and some of that library's methods simply fail when no proper base directory is given (which is the case when you pass in two absolute paths). So, ple

[2016-08-13 02:31] bfred-it commented on #183
Makes sense! Thanks

[2016-08-15 15:15] george-cz opened #186 "TypeError: Path must be a string. Received undefined"
Hi, after updating to 1.3.4, this package stopped working for us. I believe the culrpit is [this commit](https://github.com/jkphl/svg-sprite/commit/a0acc4e99a85d029dc14f6b5a3ce483fbdf0fa1e), particularly the removal of this line:
[code]

We were sending null as a name param, as we wanted to use the basename of `file`. This logic is now missing and line `if (path.isAbsolute(name))`, throws an excep

[2016-08-15 20:26] #186 closed

[2016-08-15 20:26] jkphl commented on #186
@george-cz That's definitely a regression bug. Sorry for the inconvenience, currently pussing out a bugfix release targeting the issue.

[2016-08-16 07:56] niksy commented on #176
@jkphl Yup, this is now working perfectly, thanks!

[2016-08-23 20:01] UksusoFF opened #188 "How pass svgo config to task?"
I see how disable svgo plugins: https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-transformations
But how disable [useShortTags](https://github.com/svg/svgo/blob/master/lib/svgo/js2svg.js#L31)?

[2016-08-29 16:23] jkphl commented on #188
@UksusoFF That's a good question! Unfortunately this isn't really documented for SVGO, but you are able to pass in the option with a config object like this:

[code]

[2016-08-29 16:23] #188 closed

[2016-08-29 17:51] UksusoFF commented on #188
Sorry for that. But can't make work it with gulp.
Via. waldemarfm/laravel-elixir-svg-symbols but they [wrote](https://github.com/waldemarfm/laravel-elixir-svg-symbols#pluginoptions) that options passed directly to jkphl/gulp-svg-sprite.
Plugin options like removeTitle work well, but useShortTags not.
[code]

[2016-08-29 18:34] jkphl commented on #188
@UksusoFF Your configuration looks good to me although I cannot test it right now. Please check the SVGO version you are using — iirc `useShortTags` wasn't available prior to SVGO release 0.5.4 (or similar). I don't know what `useShortTags` exactly does, but I tested whether configuring it as shown above does really pass in the value to SVGO, and it did (with a recent SVGO version). Maybe you coul

[2016-08-29 18:53] UksusoFF commented on #188
svgo version is 0.6.6, just updated to 0.7.0 but nothing changed.

[config.txt](https://github.com/jkphl/svg-sprite/files/443216/config.txt) contains this.config output in [this line](https://github.com/svg/svgo/blob/master/lib/svgo.js#L27), that's right?

[2016-08-29 19:01] jkphl commented on #188
@UksusoFF Wow, that's huge. However, while your configuration looks correct, the config output doesn't contain the `js2svg` key any longer. I need to test this further to figure out what the reason is, but can't do this right now. Please be patient.

[2016-09-02 05:32] yamsoft opened #189 "Order of SVGs in output sprite"
Hi...
I have a doubt. Suppose I want to add an image later on in my sprite. How can I ensure that it gets added to the last of the sprite. Can we specify the order?

[2016-09-02 06:39] jkphl commented on #189
The default order of the shapes in the sprite depends on the sprite [layout](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#specific-mode-properties):
* For `horizontal`, `vertical` or `diagonal` sprites the shapes are sorted by file name in alphabetical order.
* For the `packed` layout there is no real order, the shapes are combined 2-dimensionally depending on their width

[2016-09-02 06:39] #189 closed

[2016-09-03 16:54] yoanmalie commented on #170
Hi
Can you re open this issue ? I have the same problem ! Can't keep the original folder structure even if i type the `base` option.

[code]

[2016-09-03 19:17] jkphl commented on #170
Please understand that this is not an "issue" but intended behaviour. *svg-sprite* is for generating sprites, not for batch-optimizing SVG files. Please use SVGO for that. In order to create a sprite, the file paths need to get translated into a unique ID for each shape. The original file path is then irrelevant for *svg-sprite* and discarded. The fact that *svg-sprite* provides an option to keep

[2016-09-05 14:06] Reinmar commented on #100
This is still a problem. `svg-sprite` is the only CKEditor 5's dependency which require Phantom.js (so flattening the tree didn't really change anything) and AFAIK we don't need this functionality of `svg-sprite`.

[2016-09-05 15:11] jkphl commented on #100
@Reinmar While I get your point and agree that PhantomJS is quite a heavy dependency, I still don't know of any viable alternative. PhantomJS (or something similar) is needed to determine the true dimensions of an SVG file in case there are no dimension given in the file itself. Having said that, it doesn't depend on "you using this functionality of *svg-sprite*", instead it will automatically be

[2016-09-05 15:26] sbmaxx commented on #100
@jkphl https://github.com/image-size/image-size maybe?

[2016-09-06 22:59] iambumblehead opened #190 "How does one direct svg-sprite to use "background-image" rather than "background"?"
How does one direct svg-sprite to use "background-image" and "background-repeat" rather than "background"?

I've tried using these (separately) on the configuration object
[code]

[2016-09-09 08:54] jkphl commented on #190
@iambumblehead You can alter this by using a customized Mustache template for output rendering. Please see [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#rendering-configurations) and [here](https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md) for some templating information and start by copying and modifying the default template for your particular spr

[2016-09-09 08:54] #190 closed

[2016-09-09 08:58] jkphl commented on #100
@sbmaxx Interesting, thank you! I'll not be able to test this until next week, but I'll give it a go then. The most important question is: Will it give you dimensions for an SVG file that doesn't have `width`, `height` and `viewBox` attributes?

[2016-09-09 10:11] sbmaxx commented on #100
@jkphl it can't calculate dimension of SVG without those attrs. In my projects i couldn't find any invalid SVGs.

[2016-09-09 10:29] jkphl commented on #100
@sbmaxx Well, then it's not a substitute for PhantomJS, unfortunately. And believe me, there are invalid SVGs out there. I'm pretty sure that removing the feature altogether would break some peoples' setups ... So, any other suggestions for working replacements?

[2016-09-12 17:57] applecool opened #191 "How to scale the images inside the sprite?"
I have svg images of 32 x 32 and when I am using them in my application, I could explicitly mention background-size, width and height to scale the images.

Now, I am using the svg-sprite for all of my svg images. And I don't have the control on the scaling of the images. Let's say, I have 6 32 x 32 images in the sprite, then the sprite would be 32 x 192 px. When I use them in my code, they look sm

[2016-09-12 18:03] jkphl commented on #191
@applecool The intended way of responsively using and scaling the SVG shapes in your website are

* to set the dimensions of the container element by CSS as you like (e.g. `width: 70px; height: 70px;`) and
* set the background sizing of your sprite to e.g. `background-size: 100% auto` (or `background-size: auto 100%` depending on the layout of your sprite).

Please let me know if this helps!

[2016-09-14 18:26] pmpinto opened #192 "Sprite path contains HTML entities"
Hi there!

I haven't found any issue related to this but I can't seem to understand what's going on. I remember trying to use `svg-sprite` without my own template and the path was fine, so I'm hoping this is just something I'm missing.

---

Here's the `svgSprite` config object I'm using:
[code]
Here's the `social_media_icons.template.html` (part of it):
[code]

And here's the output on `social_me

[2016-09-15 13:00] SHoogland opened #193 "PhantomJS-prebuilt dependency"
Hi,

isnt phantomjs supposed to go in the dev-dependencies?
adding 50mb to every distrubution of your project for an as far as i have seen unused tool looks a bit weird.
Could you maybe explain why this is a dependency and not a dev-dependency for testing?

[2016-09-15 13:11] jkphl commented on #193
@SHoogland Please follow issue #100 for further details. (Working) Suggestions very welcome!

[2016-09-15 13:11] #193 closed

[2016-09-15 13:37] SHoogland commented on #193
Ow sorry, didnt look hard enough after all 🙈

[2016-09-15 13:41] jkphl commented on #193
@SHoogland No worries! ;) As I said, I'd totally appreciate any working suggestion to avoid including PhantomJS as regular dependency, but unfortunately I'm not aware of any (without dropping functionality)

[2016-09-16 16:16] jkphl commented on #192
@pmpinto Without having tested it, could you please try to use the triple braces `{{{` respectively `}}}` to [suppress variable escaping](https://mustache.github.io/mustache.5.html#Variables)?

[code]

Please let me know if this works for you?

[2016-09-16 16:18] jkphl commented on #192
@pmpinto Oh, and the suffix (`-13a55aa9`) is the result of the [cache busting feature](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties). You can disable it by:

[code]

[2016-09-16 16:26] pmpinto commented on #192
@jkphl Oh it sure works! Perfect timing also 👌
Thanks a lot for the tips 👍

[2016-09-16 16:27] jkphl commented on #192
@pmpinto Great! Glad I could help. Happy spriting! :)

[2016-09-16 16:27] #192 closed

[2016-10-07 23:58] iambumblehead opened #194 "is is possible to define css with inlined-svg definitions, rather than referencing a sprite file as a background image?"
is it possible to define css with inlined-svg definitions, rather than referencing a sprite file as a background image?

I would like to use the 'fill' style in css to alter the appearance of svg I am using, but loading the sprite as a background image does not allow me use the 'fill' style.

Would you recommend the best approach for me?

[2016-10-11 08:50] jkphl commented on #194
@iambumblehead I'm not sure if I understand you question correctly. What I can say is:

## node-iconizr
With "CSS with inlined SVG definitions" you probably mean that the SVG code should be contained as [data URIs](https://en.wikipedia.org/wiki/Data_URI_scheme) inside the CSS, correct? For that purpose you should have a look at my [node-iconizr](https://github.com/jkphl/node-iconizr/tree/dev) proj

[2016-10-11 08:50] #194 closed

[2016-10-11 21:08] iambumblehead commented on #194
@jkphl thank you for the thoughtful answer...

'symbols' are mentioned in your documentation here, but I did not know what symbols were. For me, the best approach appears to be using svg-sprite to build an svg file with symbols in it, and referencing those symbols with inline html/svg nodes that are styled with css.

Using symbols gives the following advantages over the sprite-style svg I was usin

[2016-10-11 21:47] jkphl commented on #194
@iambumblehead AFAIK the only problem could be that CSS styling capabilities for an external `symbol` SVG sprite  in combination with `<use>` are somewhat limited and browser dependent. But you might give it a go in any case.

[2016-10-17 06:22] owen-hong opened #196 "Can add more than one 'path' field"
Hi,
**Can you add more than `path` field:**
![image](https://cloud.githubusercontent.com/assets/6466628/19427167/c9fd75f4-9474-11e6-999a-a1746041ce8a.png)
**because in many scenes need svg source path**

Hope to adopt, thank you.

[2016-10-17 09:33] Muskos opened #197 "linear gradient in symbol (FF)"
Did you see this bug on FF?
http://stackoverflow.com/questions/24806913/how-can-i-refer-to-an-internal-gradient-definition-inside-an-svg-sprite-symbol
Have you some options or issue for this?

[2016-10-20 10:53] jkphl commented on #197
@Muskos There have been sum bug reports on gradients with `<symbol>` sprites in the past, yes, but I didn't take any notice of this solution, so thanks for the heads-up!

Other than that, I don't really understand your question?! What do you expect me to do or answer? Obviously it is possible to use `<symbol>` sprites with gradients, but the solution is more of a CSS one (applied from outside the

[2016-10-20 11:05] jkphl commented on #196
@owen-hong Please describe the situation where you would need the path of the original SVG file during sprite generation. At the moment I cannot see when you would need this. The purpose of *svg-sprite* is to create sprites and not be a SVG file batch processor. Also, *svg-sprite* usually doesn't use the original SVG files but temporary / optimized versions. So of what use would the original file

[2016-10-20 12:58] owen-hong commented on #196
I need the same two types of the same name svg path to accurately locate the specific category which is good to amend the corresponding attributes
![image](https://cloud.githubusercontent.com/assets/6466628/19560522/73cf9b0e-9707-11e6-8b6a-80757987f940.png)
Your `base` and `name` are the same thing to return, which I can not judge

[2016-10-21 07:41] Muskos commented on #197
I've faced a problem when built my application. I've got this code http://codepen.io/Muskos/pen/dpjvvj
After that, I need to change this code manually to get this http://codepen.io/Muskos/pen/WGaGmN
And i think you can improve this, can't you? Maybe some option should be added in your plugin to move gradient from `<symbol>`. Chrome, Edge, Mozilla sees this construction well. I don't know about ie

[2016-10-21 14:57] jkphl commented on #197
@Muskos Thanks for clarifying. So basically what you request is a duplicate of #74, correct? I'm aware of the fact that this would probably be useful for some folks — but well, I didn't find the time to work on it yet (and probably won't in the near future due to massive overload). Please feel free to send a PR — otherwise I have to ask for your patience. Closing this one in favour of #74 ... Than

[2016-10-21 14:57] #197 closed

[2016-10-21 15:12] jkphl commented on #196
@owen-hong I'm sorry (and I'm really trying hard!) but I still don't get what you're trying to achieve?! What does this screenshot show? I see that you're working with mixed SVG and PNG sources (which obviously aren't generated by *svg-sprite*) and that you are using pixel based background positioning (which I don't recommend by the way), but what else? Are you using a custom mustache template? Wh

[2016-10-24 02:04] owen-hong commented on #196
@jkphl
My style does not work generated by svg-sprite,I used svg-sprite to return to the coordinates of their own revised css style, screenshots because it is necessary to be compatible with IE8 So need to mix svg and png, screenshots There are two.icon-confirm class name the same, but in front of different, svg-sprite Return to the original parameters of each svg will not lead to the original pat

[2016-10-24 12:14] supervova opened #198 "Media queries in .mustache"
Hi Joschi.

Thank you for the great library.

It's awesome. But could you add some practical recipes for dummies to instructions for using a mustache template?

In particular, how to get it to produce different properties in media queries?

I have two source files: warning.svg (16x16, simplified graphics) and warning-md.svg (48x48, detailed graphics).

In my template I generate rules for different

[2016-10-24 13:01] indieveed commented on #100
@jkphl

So, if I can guarantee that mys SVG files contain these attributes, the only proper way to solve this problem is to make a fork without this code and PhantomJS dependency?

[2016-10-25 16:54] jkphl commented on #100
@indieveed For the time being, yes. As long as we don't have a proper substitute — which I'd love to have — this could be a breaking change for some users.

[2016-10-25 17:01] jkphl commented on #198
@supervova You seem to be working with a rather special setup (absolute positioning etc.) so it's kinda hard for me to really understand your situation. However, I think you should have a look at #103 — @starksider suggested an awesome technique there which could solve your needs. Does this work for you?

[2016-10-25 17:40] jkphl commented on #196
@owen-hong Two things:

1. You should definitely have a look at my other project [node-iconizr](https://github.com/jkphl/node-iconizr/tree/dev) which basically does exactly what you're doing: providing SVG icons with PNG fallbacks. It's based on *svg-sprite* but adds the creation of PNGs. Unfortunately, however, the latest version is only poorly documented but we use it in production a lot so ther

[2016-10-25 17:40] #196 closed

[2016-10-26 02:24] owen-hong commented on #196
@jkphl think

[2016-10-31 20:25] Anderkins opened #199 "CLI version not interpreting SVGO transform object from external config"
It appears that in the current implementation, the CLI version of svg-sprite doesn't obey any SVGO transform plugin rules that are passed in via an external config file.

I've tried using the config generator/kickstarter, as well as following the rules in the configuration document, to no avail. No matter what, SVGO seems to ignore my transform plugin rules (and seems to disable SVGO altogether wh

[2016-11-08 01:02] applecool commented on #191
@jkphl I tried it out but it didn't really work in my case. But I used a different hack to fix it. I used `transform:scale(number)` to scale the images inside the sprite which worked great. One could also use CSS `zoom` property too which is supported by all the browsers except for firefox.

[2016-11-10 09:59] ghusse opened #200 "How to generate a sprite with margin, without adding padding to each icon"
Hello,

I have an issue with generated sprites and how individual icons are displayed in the browser in the end.

With the default configuration, in some browsers, icons are sometimes displayed with a part of the icon next to them. I can see that in safari, here is an example:

![aew8ees8og](https://cloud.githubusercontent.com/assets/527245/20172195/51686702-a734-11e6-8640-8308400f2c46.png)

I tri

[2016-11-11 10:03] AndyOGo opened #201 "how about a watch option"
I think for development a `--watch` option would make sense.

[2016-11-11 10:12] jkphl commented on #201
@AndyOGo If I understand you correctly, you'd like to watch a directory of SVG files and automatically create a sprite as soon a source file changes, correct? In that case, please consider using one of the task runner wrappers like the [Grunt](https://github.com/jkphl/grunt-svg-sprite) or [gulp](https://github.com/jkphl/gulp-svg-sprite) plugin — they mostly exist for that very purpose. *svg-sprite

[2016-11-11 10:12] #201 closed

[2016-11-11 11:34] AndyOGo commented on #201
@jkphl
Thank you for your quick response. Indeed that is what I need.
Well using gulp or grunt is exactly what I avoid, main reason is that those wrappers massively slow down my build and introduce yet another dependency.

But if you want to keep them separated. Why are you providing a CLI inside this package. I would rather offer `svg-sprite-cli` for CLI users then.

[2016-11-11 11:49] jkphl commented on #201
@AndyOGo Regarding the `--watch` functionality: For the very same reasons an automation feature like this one doesn't belong into the *svg-sprite* core. It has nothing to do with the heavy lifting of creating a sprite and would potentially introduce a whole bunch of additional dependencies. It should be easy to build a higher level module though that combines watching and creating a sprite every t

[2016-11-11 12:14] AndyOGo commented on #201
@jkphl
Thank you for your quick response.
I see your points. But I'm uncertain if we mean the same thing, I really don't meant to bake the `watch` feature inside the core. I meant to provide it as an CLI option around the core - same as you are doing with your binary at the moment.

Well, anyway thank you for this nice library. I started already to use you JS API instead of the provided CLI and co

[2016-11-11 12:20] jkphl commented on #201
@AndyOGo That's what I meant. Sounds like the proper solution! ;)

[2016-11-16 08:53] Voo2 opened #202 "How to get the path of the original svg file for templating?"
Is it possible to get the relative path + filename of the original svg file for using it templates?

[2016-11-16 08:56] jkphl commented on #202
@Voo2 Please describe your exact situation and why you would need the original SVG path in your template (and maybe see #196 as well). Thanks!

[2016-11-16 09:15] Voo2 commented on #202
I have very special requirements in my current project. I have to create a svg sprite, a css file with selectors targeting the svg sprite and an addition css file which contains the path to the stand alone svg files instead to the svg sprite. The 2nd css file should be a kind of fallback. To create the svg sprite and the 1st css file is not a problem. But I don't know how to insert the path to the

[2016-11-16 13:03] Voo2 opened #203 "Configuration of svgo doesn't work"
I want to configure svgo because I don't want the fill attribute to be removed. But it seems the following config has no effect:

[code]

Even the complete disable of svgo has no effect.

[code]
My fill attribute is always removed and the Doctype is always there. I attached the svg files.

[example.zip](https://github.com/jkphl/svg-sprite/files/594696/example.zip)

[2016-11-16 16:31] jkphl commented on #191
@applecool Ok, thanks. As this seems solved for you, I'll close this issue for now.

[2016-11-16 16:31] #191 closed

[2016-11-18 08:02] Voo2 commented on #203
ah, I see....

I have to disable transform with

`transform: []`

That works now.  But how can I configure the plugins so that the "fill"-attribute won't be deleted?

[2016-11-21 13:16] Chehow commented on #142
Hi

Any news with this issue?

[2016-11-23 00:49] edwardhatricksmith opened #205 "xmlns attribute required for eternal symbol sprite"
Hi there,

First of all let me just say - brilliant package!

Anyway, I'm trying to reference my symbol sprite externally, such as:

`<svg class="sprite">
    <use xlink:href="sprite.svg#icon-notebook"></use>
</svg>`

It looks like the svg requires the xmlns attribute to render. See this this article: https://css-tricks.com/svg-sprites-use-better-icon-fonts/#article-header-id-6

I can't find any c

[2016-11-23 23:59] edwardhatricksmith commented on #205
Note: I've tried using a svg.transform function to add an attribute to the svg element. This works just fine when I console log it but seems to get stripped out of the final compiled file. My first thought was because the minifier was stripping it out but the transform is supposed to be post-process.

Would still love some input if anyone has any.

[2016-11-25 15:38] jkphl commented on #142
@Chehow Sorry, no news yet. Due to massive overload I won't be able to work on *svg-sprite* at least until the end of the year. Thanks for your understanding.

[2016-11-25 15:40] jkphl commented on #205
@edwardhatricksmith Sorry for the late reply. Could you please post your complete config so that I can see which sprite type & options you're using. Thanks!

[2016-11-25 15:47] jkphl commented on #203
@Voo2 For me it looks pretty correct how you tried to configure SVGO ([like explained here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#user-content-pre-defined-shape-transformation-with-custom-configuration-object-values)). You just need to find out which of the plugins is responsible for stripping out the `fill` attribute. You can find a [list of plugins and their defau

[2016-11-27 22:19] edwardhatricksmith commented on #205
Sure, no worries, thanks so much @jkphl :

`
svg_sprite: {
    wnGraphicSprite: {
        expand: true,
        cwd: 'src/wn/svg/graphic',
        src: ['**/*.svg'],
        dest: 'src/wn/svg',
        options: {
            mode: {
                symbol: {
                    inline: true,
                    prefix: '#Graphic-',
                    sprite: 'graphic-sprite'
                }

[2016-11-29 19:21] jkphl commented on #205
@edwardhatricksmith Again sorry for the delay (overload galore!). I didn't have the time yet to really look into this, but I'm pretty sure your "problem" is the logical result of the `inline: true` setting. As you say yourself you're referencing an **external** sprite, so there's no need to create a sprite suitable for inline embedding. The XML declaration and namepace are intentionally [stripped

[2016-11-29 22:40] edwardhatricksmith commented on #205
@jkphl - :O

That seems so obvious in hindsight. That was indeed the problem. Don't I now feel like an idiot...

Thank you sir, you are a legend and a symbol of everything that is great about open source communities. Love your work!

[2016-11-29 22:40] #205 closed

[2016-11-29 22:46] jkphl commented on #205
@edwardhatricksmith :D Thanks for your kind words — and glad it works for you now! :)

[2016-12-05 10:39] Voo2 commented on #202
Is there really no way?

[2016-12-05 15:39] jkphl commented on #202
@Voo2 No, *svg-sprite* doesn't keep any references to the original source SVG files for templating purposes. Please keep in mind that it's *svg-sprite*'s first and foremost task to create a sprite and not render stuff for the original SVGs.

Another option you might have though is take a look at [node-iconizr](https://github.com/jkphl/node-iconizr/tree/dev) (dev branch!) respectively [gulp-iconizr

[2016-12-17 12:05] gidhon opened #207 "ID-namespacing switch seems to have no effect"
I'm seeking a way to avoid the verbose/ altered ID values as a result of directory name concatenation (default behavior for the purpose of name-spacing). Essentially I don't want the original SVG's file name to be changed - it should be converted to an ID attr. sans modification. I may be missing something but setting `namespaceIDs` to `false` gives no joy.
This:
[code]
results in something like t

[2016-12-17 12:17] jkphl commented on #207
@gidhon This is an easy one! All you need to do is use a custom `shape.id.generator` function like this to prevent the default directory traversal (please [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-ids) and [here](https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/shape.js#L28) for documentation):

[code]

Off the top of my head, untested, but sh

[2016-12-18 12:16] gidhon commented on #207
Thanks @jkphl, works like a charm. I mistakenly inferred from the name of the "namespaceIDs" property that it was tasked with the job of (dis)allowing the traversal to end up in the final name.

[2016-12-18 12:51] jkphl commented on #207
@gidhon Glad to know it works for you! :) (The ID namespacing feature is used to avoid duplicate IDs when combining several SVGs into one sprite; Illustrator for instance uses the same IDs all over ..)

[2016-12-18 12:51] #207 closed

[2016-12-22 20:39] lgatti opened #209 "SVGO - Just first configured plugin working"
I'm trying to configure SVGO to use diferents plugins, but just the first declared plugin seems to be working properly.

For example, this config don't remove ids, but it don't remove title neither:
        'shape': {
                            'transform': [{
                                'svgo': {
                                    'plugins': [{
                                        'clean

[2016-12-22 20:43] jkphl commented on #209
@lgatti Please have a very close look at the configuration documentation. The `plugins` option is **a list of objects**, not a list with one object member:

[code]

This is, by the way, the configuration style that SVGO expects and nothing *svg-sprite* specific. Good luck!

[2016-12-22 20:43] #209 closed

[2016-12-22 20:58] lgatti commented on #209
@jkphl Thank you very much!. It worked for me. I hadn't noticed that. Regards!

[2016-12-22 21:00] jkphl commented on #209
@lgatti You're welcome! :)

[2016-12-26 10:19] desigens opened #210 "A hash of svg-file as a template variable"
It would be convenient to have a variable ```{{hash}}``` in style templates for alternative cache busting:

```sprite.svg?55db8b07``` (instead of existing ```sprite-55db8b07.svg``` via ```bust: true```)

[2016-12-26 10:28] jkphl commented on #210
@desigens If you want to roll your custom cache busting mechanism, what keeps you from disabling the builtin one (via `bust: false`) and send your cache busting `{{hash}}` variable into the rendering process as a [custom templating variable](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#custom-templating-variables)? Of course you would have to use a customized template anyw

[2016-12-26 11:12] desigens commented on #210
Thank you for rapid answer! Works like a charm:
[code]

[2016-12-26 11:12] #210 closed

[2016-12-26 11:13] jkphl commented on #210
@desigens I'm glad it works out for you. Happy spriting! :)

[2016-12-27 11:59] nicolas-goudry opened #211 "PhantomJS should be registered as devDependency"
Hi,

I’m using `svg-sprite` through `gulp-svg-sprite` and everything works well, except that PhantomJS is always downloaded on our CI because it is registered as dependency.

I didn’t check the whole code, but I think you’re only using it for your tests, so it shouldn’t be a dependency but a devDependency.

What do you think?

[2016-12-27 12:02] jkphl commented on #211
@nicolas-goudry Duplicate of #100, pls see there for details. On another note, I'll *probably* start a rewrite of *svg-sprite* this week and try to split out PhantomJS.

[2016-12-27 12:02] #211 closed

[2016-12-29 17:58] nicolas-goudry commented on #211
Thanks for your answer! Will see that later then, it’s not a huge matter 😃

[2017-01-14 14:45] platonov8anton opened #212 "mode.<mode>.common"
Hello! Thank you for the work!!!
`
mode: {
  styl: {
    common: '$var'
  }
}
`

Result:
`
.$var
  background url("sprite.svg") no-repeat
`

Add points to a variable - bug. How can I remove '.'

[2017-01-14 14:49] jkphl commented on #212
@platonov8anton I'm sorry but I don't understand your question at all. Please try using code blocks to clear up the formatting of your question. Thanks!

[2017-01-14 15:10] platonov8anton commented on #212
Sorry!

I set in the config option: **mode.css.common = '$social'**

I wanted to get the file 'sprite.styl':
[code]

Now as a result of:
[code]

**The point** in the beginning of the file

[2017-01-14 15:16] jkphl commented on #212
@platonov8anton Thanks for reformatting.

`mode.<mode>.common` is used as a **class name** to construct a common CSS rule and will thus be prefixed with a dot `"."` (as are all class based CSS selectors).

Unfortunately I'm not really familiar with the Stylus syntax, but I assume what you want to achieve is what `mode.<mode>.mixin` is for. Possible?

[2017-01-14 20:06] platonov8anton commented on #212
if `mode.<mode>.prefix = 'svg-%s'` and `mode.<mode>.common = 'common'` will result in:
[code]
if `mode.<mode>.prefix = '$'` and `mode.<mode>.common = '$common'` and `mode.<mode>.mixin = 'mix'` will result in:
[code]
if `mode.<mode>.prefix = '$'` and `mode.<mode>.common = ''` and `mode.<mode>.mixin = 'mix'` will result in:
[code]
I expected the same behavior!

[2017-01-14 21:10] jkphl commented on #212
@platonov8anton I'm sorry, but *svg-sprite* is behaving **exactly as intended**. There's no error happening here. As I mentioned earlier, `mode.<mode>.common` will **always** generate a class selector, which — by design — starts with a dot. **Always**. An empty `mode.<mode>.common` (like `""`) will result in **no common selector being created**. I don't see a problem here.

Please adhere to the fe

[2017-01-14 21:10] #212 closed

[2017-01-15 08:49] platonov8anton commented on #212
Thank you for your time!

[2017-01-18 09:01] rasy-js opened #213 "Vertical positioning"
How do vertical positioning in output svg file?

[2017-01-18 10:51] jkphl commented on #213
@rasy-js I'm sorry but I don't understand your question. Could you please rephrase and provide more details? Thanks.

[2017-01-18 17:23] rasy-js commented on #213
I use npm plugin gulp-svg-sprite, and my output file looks like that -
![ic_star_rate_default](https://cloud.githubusercontent.com/assets/6483691/22074803/af088600-ddba-11e6-9525-af4cb7ce9f6c.png)

I want position all svg icons strictly at vertical

My config looks like that. I include the file and i don't see result.

const config            = {
    shape               : {
       align

[2017-01-18 18:30] nhall commented on #200
I'm trying to do the same thing. What are the different `box` configurations available? I don't see that information in the docs. Adding padding seems ideal here, I was surprised to see that padding increased the defined image dimensions as well. Is that intended?

[2017-01-18 18:52] nhall commented on #200
Update: I just found this conversation: https://github.com/jkphl/svg-sprite/pull/24

That seems like what we are looking for. The combination of `padding: x` and `box: padding`. Should add space around each sprite icon but not add to width and height dimensions. I couldn't get it to work though. I'm using the grunt wrapper:

[code]

I can't figure out what settings I need to keep the dimensions th

[2017-01-18 21:33] ghusse commented on #200
I cannot try right now if it works, but can you try with `box: 'content-box'` or maybe `box: 'content'`? @jkphl wrote it works the same as [box-sizing in CSS](https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing).

[2017-01-18 21:35] ghusse commented on #200
Ok, `content` seems to be the default value... I expected it to be the one to use. I'll try with `padding` or `border` to see if something changes.

[2017-01-18 22:15] nhall commented on #200
@ghusse: Correct, `content` is the default. I tried `padding` but there was no change. Here is the [documentation](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-spacing) I am using.

[2017-01-21 14:16] jkphl commented on #213
@rasy-js Please note that the general layout of the sprite is not controlled by the extended alignment features (i.e. your `test.yaml`). What you're most likely after is a "vertical sprite" — please see [the possible values](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#specific-mode-properties) for the `mode.<mode>.layout` option.

[2017-01-21 14:16] #213 closed

[2017-01-23 13:59] adamgilmour opened #214 "Removing <style> elements from compiled sprite.svg"
Hi, just wondering if there's an option to remove the `<style>` elements from the sprite.svg that's compiled?

Ideally I'd like to grab all src .svg files, compile them into a sprite (which it current does great!) which then strips the styling to enable `fill` overwriting with css, when the sprite is used. Reason being, I'd also like to keep a base copy to include the original svg if needed with i

[2017-01-23 16:26] adamgilmour commented on #214
closed - moved to gulp-svg-sprite

[2017-01-23 16:26] #214 closed

[2017-01-23 21:48] nhall commented on #200
@jkphl: Perhaps we should be using a different setting here? Thank you.

[2017-01-26 04:49] nhall commented on #200
I took a look at this for a while and it seems like `spacing.box` is a property that doesn't actual do anything. Inside of `lib/svg-sprite/shape.js` there is a comment that reads:

[code]

If I am reading this correctly than the default value of `content` should be exactly what we want, the padding to be added outside of the shape. This reads like we'd need to purposefully set to `padding` (not th

[2017-01-30 10:16] pprossi opened #215 "TypeError: Cannot read property 'length' of undefined nodejs os problem"
Hi, if i try to generate Sprites i get this Message.

I figured out that the function os.cpus() in  svg-sprite/lib/svg-sprite/queue.js on my hosting returns any Information expect cpus. :)

maybe it is restricted by the hoster. could there help some fallback to 1 of undefined?

[2017-01-30 10:29] jkphl commented on #215
@pprossi Sounds reasonable! Please feel free to submit a PR — due to general work overload I probably won't have the time to work on this myself anytime soon. Thanks!

[2017-01-30 11:06] pprossi commented on #215
[Fixed-missing-cpu-information-on-nodejs.patch.txt](https://github.com/jkphl/svg-sprite/files/738707/Fixed-missing-cpu-information-on-nodejs.patch.txt)

[2017-01-30 16:44] jkphl commented on #215
@pprossi Thank you — but: Could you please send this as a regular pull request so that I can merge it online on Github? I've no access to my regular development environment at the moment, sorry, otherwise it will have to wait ... Thanks!

[2017-01-31 10:25] pprossi commented on #215
Sorry i dont know what you mean with an pull request... is that some github thing?

[2017-01-31 10:34] jkphl commented on #215
@pprossi Yes. This thread we're writing in is a regular issue, but on the top of the page you'll find another tab named "pull request". To submit a pull request, you need to have a fork of this repository, make your changes and then send a merge request (= pull request) to this repository so that I can simply say "Yes, looks good, let's merge it into my code". I'm afraid I lack the time to go into

[2017-01-31 10:45] pprossi commented on #215
Done. But reports errors that not from my code i think

[2017-01-31 22:52] vincentbernat commented on #134
There are many issues where people ask for some padding. I have some case where a not visible icon can bleed on a visible one due to rouding error. Being able to add margins would definitely solve this issue.

[2017-01-31 23:15] vincentbernat commented on #200
I am using this template to be able to use padding as margin (assuming there is equal padding on both sides):

[code]

[2017-01-31 23:16] vincentbernat commented on #134
I have posted a workaround in #200.

[2017-02-07 16:08] jkphl commented on #215
@pprossi Thanks! I'm on holidays right now, but I'll review [your PR](https://github.com/jkphl/svg-sprite/pull/217) as soon as possible.

[2017-02-07 16:08] #215 closed

[2017-02-09 07:26] Pittan opened #218 "How do I configure svgo settings from CLI"
I want to configure svgo because I have to disable `convertTransform` option.
But it seems convertTransform option is not disabled.
I generated JSON configuration file in http://jkphl.github.io/svg-sprite/ .

[code]

[2017-02-09 08:05] jkphl commented on #203
@Voo2 Any updates on this?

[2017-02-09 08:07] jkphl commented on #218
@Pittan This might be a duplicate of https://github.com/jkphl/svg-sprite/issues/199. I'm on holidays right now, will try to look at it as soon as possible.

[2017-02-09 09:37] Voo2 commented on #203
sorry, I don't have an update for you. After I tried another 1 hour to make certain settings, and it did not show any effect, I let it be. Because any case the fill attribute will be removed. Now I have unfortunately no time to deal with it.

[2017-02-09 09:37] #203 closed

[2017-02-09 10:11] Pittan commented on #218
Oh... sorry 😢
Have a nice holiday 🍹

[2017-02-09 16:02] jkphl commented on #218
@Pittan だいじょうぶ ☺ありがとう

[2017-02-09 16:06] jkphl commented on #203
@Voo2 Ok, thanks. Please feel free to get back to me if you find the time to work on it again and still encounter any issues.

[2017-02-16 13:23] ninjabachelor opened #220 "Cli: can't load all svg files if there are subfolders"
Hi,
here's the command I'm using:

`svg-sprite --config svg-sprite.dev.json ./sprite/svg/**/*.svg`

Here's the configuration:

[code]

And here's my folder structure. There are 2 icons in svg folder, and two in the subfolder group.

[code]

The script seems to ignore the icons in the svg folder, and only load the ones in group. If I remove the group folder, it correctly loads the icons in svg fold

[2017-02-16 15:02] ninjabachelor commented on #220
I updated the command with quotes for the input:

`svg-sprite --config svg-sprite.dev.json './sprite/svg/**/*.svg'`

Now the icons are all loaded correctly.

I tried to add two icons with the same name (sample1.svg), one in svg folder and one in group folder.

[code]

The script seems to generate two symbols with the same id. I guess the id of the icon in group folder should be something like `gro

[2017-02-17 12:09] spotnape opened #221 "How do I configure svg-sprite to generate the same svg file name with each run?"
I'm using svg-sprite as a cli command with an associated config file, to generate an svg sprite from several other svg files. I understand most of the configuration and I get the svg file and associated css as expected. I'd like the generated svg file to always have the same name for republishing, rather than a name which appears to feature a short randomised string, but the configuration for that

[2017-02-17 12:32] jkphl commented on #221
@spotnape Easy one: All you need to do is disable [cache busting](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties) by setting `mode.<mode>.bust = false`. Good luck! ;)

[2017-02-17 12:32] #221 closed

[2017-02-18 13:50] jkphl commented on #220
@ninjabachelor Well, the first part of your question is easily explained (and partly unrelated to *svg-sprite*): Without the quotes around `./sprite/svg/**/*.svg`, your **shell** will perform the globbing, and it doesn't seem to like the `**` in your expression. When you're putting quotes around the expression, it will be passed to *svg-sprite* as a string argument, letting [Node's more advanced g

[2017-02-20 11:03] ninjabachelor commented on #220
Thanks @jkphl !
I've made a couple of tests. With the above configuration and folder structure, I obtain a sprite with 4 symbols, but with one duplicated id (sample1):

[code]

I've created a grunt config with the same settings, and it generates 4 symbols but with no colliding ids:

[code]

Is there something missing in my cli configuration? Or it could be a cli script issue?

Thanks again,
Albert

[2017-02-23 05:24] brunobasto commented on #200
hey @vincentbernat, where exactly did you put that piece of code? I'm trying to achieve the same.

[2017-02-23 06:05] vincentbernat commented on #200
Put it in any file and use `--css-render-less-template=...` (or an equivalent option if you are not using LESS).

[2017-02-23 14:47] brunobasto commented on #200
Thanks @vincentbernat, I went with another option: https://github.com/brunobasto/svg-sprite/commit/0fdd960bc14f44e68e9baef46da26567ddb0da07#diff-0c4330786baaab2bd590c6e37356de51L254

I'm not using it for a web project. I'm using it to arrange multiple images on a grid arrangement so that I can print to a transparency paper. Margins are essencial to distinguish one image from the other after it's p

[2017-02-28 18:42] mlunoe opened #222 "Why is `phantomjs-prebuilt` a direct dependency and not a devDependency?"
I don't see any reason why this should be part of the direct dependencies.
Could we move this to devDependencies?

[2017-02-28 18:44] jkphl commented on #222
@mlunoe Duplicate of https://github.com/jkphl/svg-sprite/issues/100, please see there for details.

[2017-02-28 18:44] #222 closed

[2017-03-02 10:02] eugef commented on #142
Hi @jkphl, any chance that this story would have a higher priority?

[2017-03-02 10:09] jkphl commented on #142
@eugef I'm planning to do a major rewrite (including a fix for this bug) for a long time now, but unfortunately im swamped with tasks and completely overloaded these days which won't change at least until end of March. With a bit of luck I might work on *svg-sprite* then again. On another note, please feel free to send in a PR with a solution!

[2017-03-02 10:21] eugef commented on #142
@jkphl I'd like to, but don't feel confident to dig into.

BTW, the workaround that we are using - is to add 1-2px padding around each icon in the sprite. Then effects of the issue are not so visible  - the icons can be still shifted, but at least they are not truncated or part of next icon is not shown.

[2017-03-08 08:55] dhruvio commented on #220
Hi there,

I'm noticing the same issue with the CLI -- when using a glob pattern like `**/*.svg`, svg-sprite only recognises `<basename>.svg` without the relative path, so the ID is not namespaced using directory traversal. Is there a way around this to enable ID namespacing?

Thanks!

[2017-03-27 20:56] toastal opened #223 "Markdown readability"
The spacing on these docs in these Markdown files make this project almost unreadable. I think you're trying to use tabs for alignment, when browsers often show them as 8 characters. And if you're using tabs for indentation, usually people use spaces for alignment. Regardless, set these documents to 2 or 4 spaces so people can read it online please.

![What is this alignment, and how do I fix it](

[2017-04-01 18:50] Laruxo commented on #74
Necromancy!

Since nobody is working on this issue I decided to quickly create a solution using transforms in config.
Here is my solution, in case somebody else needs to support gradients on Firefox.

@jkphl in the next few weeks I could create PR with this solution (cleaned up, of course). Though I am not sure where to place this kind of functionality. Any ideas?

[code]

[2017-04-07 21:29] Pittan commented on #218
Any update for this?😢

[2017-04-08 07:01] jkphl commented on #218
@Pittan I'm sorry but I'm still stuck in a very workload heavy project and the organisation of several events. I'd love to find some time for my OSS projects but right now I don't see a chance, I'm sorry. Please bear with me.

[2017-04-10 21:39] tech4him1 opened #224 "`aria-labelledby` is not inserted for `<title>` elements in icon files."
In [docs/meta-data.md](https://github.com/jkphl/svg-sprite/blob/master/docs/meta-data.md) it states that:

If my icon file has:
[code]
and I have this config:
[code]

Then my sprite comes out as:
[code]

From the docs above, I would expect the sprite to be:
[code]

[2017-04-13 11:04] mstoltenburg commented on #199
I experienced the same problem.

[2017-04-13 11:16] mstoltenburg commented on #218
@Pittan I had the same Problem. The solution for me was to put the config for SVGO in a separate file and use `svg-sprite --config svg-sprite.json --shape-transform-svgo svgo.json`

**svg-sprite.json**
[code]

**svgo.json**
[code]

[2017-04-14 04:09] Pittan commented on #218
@mstoltenburg This solution works perfectly!! Thank you 🎉 🌮 🍙 🏯

[2017-04-14 15:59] tech4him1 commented on #224
Is there any other way to get `aria-labelledby` and `aria-hidden` added than using a meta file.

[2017-04-25 06:30] artyomLisovskij opened #225 "Retina problem?"
I'm using vertical align for sprite but see parts of next images: http://joxi.ru/p273dZ7Cy10D27
On this screenshot i've added bottom padding but it isn't help.

Any suggestions?

[2017-04-25 06:34] artyomLisovskij commented on #225
In the best way i don't need any paddings in css, need only in sprite. How can i compile that?

[2017-05-12 01:00] ryanlloydfrench opened #226 "How to remove generated at?"
Hi,

How can I remove it the following every time the sprite is generated:

`<p>Generated at Fri, 12 May 2017 00:57:10 GMT by <a href="https://github.com/jkphl/svg-sprite" target="_blank">svg-sprite</a>.</p>`

Also is there a way to get grunt-newer working with this so it can detect changes in the svg folder and only run the task if svgs have been added, removed or modified. Ive tried setting this

[2017-05-12 08:46] jkphl commented on #226
I'm not sure if I understand your question correctly, but where exactly do you see the "generated at" subline? You must be talking about the example / preview HTML, correct? Why would you want to remove the subline in that preview? Or what am I missing?

Second, I don't have any experience with `grunt-newer` so I can't help you with setting it up, unfortunately. However, we've been working with [g

[2017-05-12 13:30] falcik commented on #66
I'm currently working with a project and I have generated my icons in SCSS with classes instead of mixins. Now I figured out that some of the icons need to be changed within the media queries. Author has provided an option that toggles between @mixin and @extend styles. I wonder if it is possible to have them both? For example all icons use @extend style, but icons with name (as example "my-icon~m

[2017-05-19 18:42] 7iomka opened #227 "How to add custom css/scss file/iline styles in example mode?"
How to add custom css/scss file/iline styles in example.html?
I use custom build of fractal engine, and I want to make a page with a list of all the icons in the documentation for the project. I'm almost happy with the appearance of example.html (example mode), except that my site is in dark colors, and accordingly icons in preview-boxes are not visible.
Help me find a solution how to connect exte

[2017-05-19 23:13] jkphl commented on #227
This sounds like a great idea — thanks for the suggestion! Especially because we started working with Fractal as well and this sounds like a valid improvement.

Off the top of my head: You should be able to use a custom Mustache template via the `mode.<mode>.example.template` setting. Simply copy the default example template (I think it's `tmpl/css/sprite.html`) and customize to your needs.

Howev

[2017-05-19 23:26] johnhelmuth opened #228 "External JSON config file rootAttributes setting is ignored and causes error with command line tool"
When running the svn-sprite command line tool to generate our SVG sprite sheets, we are seeing the following error message:

`[ERROR] Skipping --svg-rootattrs file due to errors ("Path must be a string. Received { preserveAspectRatio: 'none' }")`

The tool generates a sprite sheet file, but the attributes are not added to the resulting file.

I can reproduce the error with this command line and th

[2017-05-19 23:30] johnhelmuth commented on #228
This may be a similar problem to these issues:

#162
#199

[2017-05-30 18:33] jkphl commented on #225
@artyomLisovskij First of all sorry for the late reply!

First of all: which browser were you using when you made that screenshot? There's a [known bug with Internet Explorer](https://github.com/jkphl/svg-sprite/issues/142) (and possibly other browsers) that's the result of rounding issues during display. I will start doing a complete rewrite shortly and try to address this issue then.

Regarding

[2017-05-30 18:40] jkphl commented on #224
@tech4him1 First of all sorry for the late reply!

As [shown in the example](https://github.com/jkphl/svg-sprite/blob/master/docs/meta-data.md#svg-results) and [specified by WAI-ARIA](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute), `aria-labelledby` is referencing the **ID**(s) of an element (or multiple elements). You're exampl

[2017-05-30 18:40] #224 closed

[2017-05-30 18:58] jkphl opened #229 "Invalid markup in <defs> example file"
As reported [here](https://github.com/jkphl/grunt-svg-sprite/issues/82) there's [invalid markup in the <defs> sprite example file](https://github.com/jkphl/svg-sprite/blob/master/tmpl/defs/sprite.html#L84) (invalid closing `</shapes>` element):

[code]

[2017-05-30 20:52] jkphl commented on #226
@ryanlloydfrench Are you still struggling with this? I'll close this issue for now but please feel free to get back in touch if you've still got any issues. Thanks.

[2017-05-30 20:52] #226 closed

[2017-05-30 20:53] jkphl commented on #225
I'll close this one in favour of #142, which will be addressed in the next milestone release. Please feel free to reactivate this thread though if you've still got any issues. Thanks!

[2017-05-30 20:53] #225 closed

[2017-05-30 21:03] jkphl commented on #218
@Pittan @mstoltenburg As you guys seem to have found a working solution (thanks for sharing, Moritz!) I will close this issue for now. I plan to start a complete rewrite shortly and probably go for an all external, JSON style configuration for the CLI then, so no reason to spend too much effort into this anymore. Thanks for your support!

[2017-05-30 21:03] #218 closed

[2017-05-30 21:14] jkphl commented on #198
@supervova Is this still an issue for you? I'll close this thread due to inactivity, but please feel free to reactivate it in case of further problems. Thanks!

[2017-05-30 21:14] #198 closed

[2017-05-31 21:59] jkphl opened #230 "Moving svg-sprite forwards"
When I started developing *svg-sprite* more than 3 years ago, it was my first ever Node module and everything was totally new to me. I basically just wanted to create a JavaScript port of my [iconizr](https://jkphl.is/projects/iconizr/) project to get better integration into our build chain. Splitting out the SVG sprite creation part was just a logical step. I would have never thought that it shou

[2017-06-01 18:50] #229 closed

[2017-06-01 19:47] jkphl commented on #199
The actual problem is described in more detail over at https://github.com/jkphl/svg-sprite/pull/216 — and there's also a fix for it. I'll merge that one shortly. ;)

[2017-06-01 19:55] #199 closed

[2017-06-01 20:50] #220 closed

[2017-06-01 20:52] jkphl commented on #220
I added a simple [option to set a "base directory"](https://github.com/jkphl/svg-sprite/blob/master/docs/command-line.md#advanced-globbing) for globbing that should help you. Please let me know if it doesn't!

[2017-06-01 21:06] #228 closed

[2017-06-01 21:07] jkphl commented on #228
The problem was the internal handling of the `rootAttributes` option in CLI. It was expected to be a string (file path) even if it had already been set via an external config file. Should be fixed now. :)

[2017-06-02 20:49] tleunen opened #231 "Does it support references to another symbol?"
Let's say I have 1 sprite, but I'd like multiple symbols referencing the same sprite. Is there a mechanism to create a reference? Is it done automatically maybe if we had twice the same file?

Maybe to produce something like this, with `super-fish` referencing `fish` instead of duplicating the path.
[code]

[2017-06-02 21:04] jkphl commented on #231
@tleunen I didn't do this for a long time, but within certain limits regarding the resulting shape names you should be able to do this (mis)using the [displaced shape copy](https://github.com/jkphl/svg-sprite/blob/master/docs/shape-alignment.md#creating-displaced-shape-copies) feature. (I have no idea when Github started produce these red bars in the docs; please ignore them).

[2017-06-02 21:12] tleunen commented on #231
Great, thank you for the quick reply. I'll give it a try.

[2017-06-02 21:14] jkphl commented on #231
Please let me know if this works, would be interested in the result as well.
Btw I just started a major rewrite of *svg-sprite*. If you've got any suggestions, please drop them at https://github.com/jkphl/svg-sprite/issues/230. Thanks!

[2017-06-02 21:17] Imundy opened #232 "1.3.7 Changed CLI behavior"
Previously (using 1.3.6) I had an npm script that looked like
`"svg-sprite": "svg-sprite --config=.svg-sprite.json --shape-transform-svgo=.svgo.json ./sprites/svg/*.svg"`
which worked, but now it causes this error to happen:
[code]
I noticed that removing the initial ./ from ./sprites/svg/*.svg fixed it for me. So now I have
`"svg-sprite": "svg-sprite --config=.svg-sprite.json --shape-transform-sv

[2017-06-02 21:41] jkphl commented on #232
@Imundy Well yeah, I introduced a new feature yesterday ([explicit base path for matching](https://github.com/jkphl/svg-sprite/blob/master/docs/command-line.md#advanced-globbing)) that will be the reason for this behavior. I didn't realize that this could also break things -- I'm sorry for that! I'll see if I can find another solution for that (or at least output a message when the path starts wit

[2017-06-02 22:34] Imundy commented on #232
No problem, it was a small thing for me. I think a warning about the dot would suffice. Thanks for the quick response!

[2017-06-02 22:55] tleunen opened #233 "Differences between inlined and external file for the symbol mode"
So I did a quick test to create the sprites for a couple of svg, and some of them are not rendering at all, or not properly when viewing the html document page generated by the tool.

Here's an example with a quick rss icon:
Inline:
![image](https://cloud.githubusercontent.com/assets/1972567/26747553/6a2b20aa-47ab-11e7-91cc-54fcff786f1d.png)
External file:
![image](https://cloud.githubusercontent.

[2017-06-02 23:17] tleunen commented on #231
I have tried something. I don't see the svg in my sprite yet, but I have noticed something while debugging, it seems `%s` is always prepend with the name of the new alignment. Is there a way to prevent this? Sometimes, I'd like to alias with a complete different name.

[2017-06-02 23:53] tleunen commented on #231
I'm reopening it.

It seems the alignment only works for a css output, right? Could make sense because there's no alignment in a symbol mode anyway...

Maybe I can add a `post step` and manually add my alias in the generated file then :/ Hopefully this is a feature you'll add in the next version :)

[2017-06-03 07:32] jkphl commented on #231
@tleunen Well, the aliasing thing is a feature to align the shapes within the sprite and you're right, off the top of my head I'm not sure if this is really relevant for the `<symbol>` mode. I was hoping it is. And yes, the alignment is intended to result in "variants", so the original shape name is kept as part of the copy name.

Another solution *could* be (not tested): Use the same SVG file twi

[2017-06-03 07:40] jkphl commented on #233
@tleunen I'm not sure when I will have the time to dig into this, but it sounds like it's a) either a browser issue or b) a problem with too aggressive SVGO processing. Are you using SVGO [as a transformation step](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-transformations)? Could you please retry with selectively disabled SVGO plugins (as described in the docs)? T

[2017-06-05 15:34] tleunen commented on #233
Same thing without the svgo transform.
Chrome, FF and Safari all have the same issue.

[2017-06-05 15:43] tleunen commented on #231
Duplicating the file doesn't work. They both have the exact same graphic path instead of one having a reference to the other.

[2017-06-14 17:24] jarodtaylor opened #234 "Disable the long symbol ids that are added (using command line package.json)?"
I know that there was another resolved issue that did this with the following:

[code]

But I'm using the command line version and was hoping to pull in the sprite.config.json file like:

[code]
It doesn't look like there's a way to disable this in the shape options.

[2017-06-14 17:31] jkphl commented on #234
@jarodtaylor Could you please try removing the `./` off the beginning of your glob pattern? I suppose you are hit by this recent change as well: https://github.com/jkphl/svg-sprite/issues/232

[2017-06-14 18:26] jarodtaylor commented on #234
@jkphl I'm actually not having a problem using the CLI (with or without the `./`), but I did remove it, just in case.

My actual issue is with the symbol id that is added to the sprite:

`id="src--assets--svg--arrow-up"`

I'm wanting to just have it be `id="arrow-up"`

I saw this with #207 but that resolution is if you're using a javascript file. I'm using the CLI with a config.json file, so I can

[2017-06-14 18:47] jarodtaylor commented on #234
I figured it out [here](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-ids).

[code]

This is a great tool, by the way. I love the configuration options.

[2017-06-14 19:32] #234 closed

[2017-06-16 19:52] aweingarten commented on #233
+1 seeing the same behavior

[2017-06-16 21:48] brandoncash commented on #232
Is it possible to push this feature (explicit base path for matching) off until 2.0.0 so as to avoid breaking semantic versioning?
As it stands, it could potentially break many uses where module versions are not locked and are requesting a version `^1`. Issue #234 is likely to be common for anyone relying on the old API, and it's quite likely that IDs are expected to remain static between builds.

[2017-06-17 21:56] aweingarten commented on #233
I wonder if this is a more general issue with cross document CSS not being applied.  I found a mention here:
https://stackoverflow.com/questions/28213417/how-to-set-a-external-svg-color-in-html-using-css

[2017-06-18 01:45] aweingarten commented on #233
Okay did some digging into the W3 SVG spec.  Here's the issue:

Under 6.15 The scope/range of styles
https://www.w3.org/TR/SVG/styling.html#StylingWithCSS

My read is that this is intended behavior.  So external SVGs really wont just work out of the box.

[2017-06-19 15:21] Viveur opened #235 "Include filesize in generated example page"
Would be useful to know the file size of each svg (after processing) that is contained within the generated symbol file.

One option could be to include the filesize in the accompanying HTML example

[2017-06-19 16:41] tleunen commented on #233
The other day I created a chromium issue for it: https://bugs.chromium.org/p/chromium/issues/detail?id=729599

But it doesn't seem to be related to Chrome per se, I believe it's an issue across browsers.

[2017-06-19 16:52] aweingarten commented on #233
This is in the actual W3Spec. The browsers are respecting the svg spec.

[2017-06-19 16:54] tleunen commented on #233
Does it mean svg shouldn't use classes then? Otherwise it makes the entire feature pretty useless

[2017-06-19 17:34] aweingarten commented on #233
So from what I can tell external SVG sprites are useful for simple single stroke/fill icons but otherwise useless by design/spec.

[2017-06-26 15:31] leandrasilver opened #237 "SVG sprite being read out to Screen Readers on site enter"
On page enter, the SVG sprite is being read out to screen readers which may create confusion.

[2017-06-28 07:39] Teun87 commented on #229
Just pulled in the latest version 1.3.7 and it seems like this bug is still present for the defs-setup.

[2017-07-10 16:01] Chris2011 commented on #191
Unfortunately I have the same problem and `background-size: 100% auto;` is not working, it shows me the whole sprite inside my div which has this style:

[code]

Most of the SVGs has 32x32 but I only want to show 16x16. When I do this without using background-size, it slices the svgs inside the div.

[2017-07-13 13:05] artFronix commented on #88
Hi!
I have same problem.
I added
[code]
but now i'm have a new bug in console

Warning: The following errors occured:
✖ Skipping "frontend\src\images\icons\svg\1.svg" (path is not defined)

frontend\src\images\icons\svg\ it's a correct path

`        svg_sprite: {
            complex: {

                // Target basics
                // expand: true,
                // cwd : 'icon',

[2017-07-13 13:23] parkersweb commented on #88
hey @artFronix

You'll need to define `path` somewhere first. I have this in the gruntfile where I'm using svg-sprite:

var path = require('path');

See [this](https://nodejs.org/api/path.html) for more info. Hope that helps!

[2017-07-13 13:57] artFronix commented on #88
Oh thnx you man @parkersweb !
That's what I need!

[2017-07-13 15:07] parkersweb commented on #88
@artFronix np! 😄

[2017-07-21 10:54] func0der commented on #74
@Laruxo
Nice script.
But I have no DomParser in node.js. So how did this work for you?

[2017-07-25 23:48] iambumblehead opened #239 "would you move the phantomjs dependency to devDependencies?"
would you move the [phantomjs][0] dependency to devDependencies?

[0]: https://github.com/jkphl/svg-sprite/blob/master/package.json#L49

[2017-07-26 05:25] jkphl commented on #239
@iambumblehead Duplicate of #100, pls see there for details.

[2017-07-26 05:25] #239 closed

[2017-07-26 18:56] iambumblehead commented on #239
@jkphl thanks for the response --understood :)

[2017-08-10 21:09] melloc01 commented on #191
Any progress on this?

[2017-08-13 10:51] jkphl commented on #191
@Chris2011 @melloc01 As I outlined above, there is nothing to make progress on here. Scaling the icons works perfectly fine as soon as the prerequisites are met. You just need an HTML element that's sized to the desired dimensions (i.e. must be a `block` or `inline-block` element) and a vertically (or horizontally; use `auto 100%` then) aligned sprite. We use it with `background-size: 100% auto` i

[2017-08-14 17:12] melloc01 commented on #191
Hi @jkphl, what do you mean with vertically or horizontally aligned sprite?
Do you mean having all icons on (let's say) X or Y axis?

I have created a fiddle that has a multi-dimensional svg, how would you use `icon-big` class  with `svg-close`?

https://jsfiddle.net/tsua0755/1/

If the problem is the multi-dimensional thing, how would we crate a  one-dimension svg? :thinking:

[2017-08-14 17:17] jkphl commented on #191
@melloc01 Yes, for properly resizing a background sprite you'll need it to have "vertical" or "horizontal" layout. Just search the configuration docs for this and you'll find the appropriate option. I'm on my mobile phone only for the next couple of days so I won't be able to really help you any futher at the moment, sorry.

[2017-08-14 18:19] melloc01 commented on #191
Cool! I'll try it out.
It's on the docs!(duh) sorry for that. haha

Thanks @jkphl = )

[2017-08-15 11:45] on3iro opened #241 "Multiple sources and ouputs"
Hey,

we currently have an issue, where we would like to built sprites from two different directories and import both svg-stylesheets into a "parent" and a "child"-scss file.
The structure looks like this:

[code]

`components.scss` is imported inside `main.scss`. The problem is, that the `%svg-common` extend seems to be overwritten and therefore none of the svgs from the `app-components/_svg-spri

[2017-08-15 14:05] charlestati opened #242 "Empty ids in generated symbols"
Hello!

When I generate a sprite in `symbol` mode, all the symbols' ids are empty.

When I use a custom generator with a callback I am able to set an id. However, the parameter of the callback is an empty string which means I cannot build an id based on the file name.

Any idea of what I am doing wrong? I am using **svg-sprite** version **1.3.7**

Here is my code:

[code]

Thank you and have a gre

[2017-08-16 13:56] Chris2011 commented on #191
@jkphl for me it isn't working. This is the original view when I don't do anything, only set the <div class="icon"> to width and height 16px:
![image](https://user-images.githubusercontent.com/795658/29366713-167cd694-829b-11e7-879d-d8cb7f1baf96.png)

The SVGs are bigger 32x32 as I mentioned in an other comment. Thats why you only see a bit of the icon.

Now when I change the code to your suggesti

[2017-08-16 13:56] Chris2011 commented on #191
But the solution with background-size: 100% auto; doesn't help. I thought of other style which breaks it but no.

[2017-08-16 14:10] Chris2011 commented on #191
Maybe it is related to your plugin, because it will add missing width and height and missing viewbox to the sprite so hard coded it is 32 in each line of the sprite. This needs to be flexible before, that I can say all my icons should be 16x16 instead of the original size. And while generating the icons should be changed and the sprite too.

[2017-08-16 15:06] charlestati commented on #237
Hi!

Did you try adding `aria-hidden="true"` to the sprite?

[2017-08-17 18:39] augustekman opened #243 "Possible to let sprites keep their sizes, viewBoxes?"
I'm trying to get my svg sprites (symbol) to keep their viewBoxes from the original svg files. I've tried all three shape.spacing.box modes (content, icon and padding) and all of them change the viewBox.

`Config: {
      shape: {
        dimension: {
          maxWidth: 42,
          maxHeight: 42
        },
        spacing: {
          box: 'icon'
        }
      },
      mode: {
        symbol:

[2017-09-05 01:12] hieunt88 commented on #230
I found myself relying on this great, well-documented library of yours more often than I realize. Thanks for all the great work. Keep it up!

For 2.x, I would  love to see the "combining" mode in action.

[2017-09-10 02:40] ming-codes opened #245 "Consider removing vinyl dependency"
This is my code.

[code]

This is the result.

[code]

Creating that vinyl object is 55x slower than just reading the content.

[2017-09-11 17:29] tedw commented on #237
You could also try adding `visibility: hidden;` on the SVG or a wrapper `<div>`.

[2017-09-13 07:48] owen-hong opened #246 "svg sprite after the merger in IE9 below, all the white icons have become black"
"svg-sprite": "1.3.6",

file:http://119.29.8.64/open_proj/proj_qcloud_v2/mc_2014/monitor/new/global-20179131109.svg

**svg sprite after the merger in IE9 below, all the white icons have become black**

![image](https://user-images.githubusercontent.com/6466628/30365067-36e80f70-9899-11e7-96b4-b812b3449568.png)

[2017-09-14 13:13] t-shad opened #247 "Templating svg."
Hi, could you tell me how I can create svg without height, width and id in my template?

My config:
[code]

My template:
[code]

My result:
[code]
What I want:
[code]

[2017-10-03 13:32] mascardoso commented on #234
@jarodtaylor I still don't understand how you fixed it. I'm also in your situation. According to your config your id should be now `icon-src--assets--svg--arrow-up`. Is this what you wanted?

[2017-10-03 13:59] mascardoso opened #248 "Can we add in config.json that we don't want "pathed" id's in svgs"
Hi there.
I'm currently using a config.json.
As far as I understand we are able to change the id's structure and I saw some people requesting that they only want the name of the `id`.
Is there a possibility to add this in the config.json or JS is the only way?

Thanks

[2017-10-05 14:18] jkphl commented on #248
@mascardoso Assuming you're using the command line version in combination with an external JSON config file, there's no difference in features between the JS config or an external JSON file. In general I suggest using the [online generator](http://jkphl.github.io/svg-sprite) but for tweaking the ID generator function you'll need to edit the config by hand anyway. Please [read the docs](https://git

[2017-10-05 14:18] #248 closed

[2017-10-05 14:45] mascardoso commented on #248
Hi @jkphl. I'm not sure If I explained myself correctly or if I'm misunderstanding something here. I'm currently only using a config.json and a cli command to run the sprite compilation based on that config. I would like to keep using the config.json and add a new id generator so something like that:

[code]

Would this work?

[2017-10-05 14:54] jkphl commented on #248
@mascardoso Ah, I see. Sorry for misreading, and unfortunately no, with a config.json you can only supply template strings (as stated in the CLI docs). This is a restriction of the JSON format. You'll have to use a JS configuration / process to provide a full function for this.

[2017-10-05 15:08] mascardoso commented on #248
Yes thanks @jkphl for the info. As a remark and to keep everything clean in the config.json it would be great to add for example:

[code]

By `false` or `null` the id would not contain the directory folders naming.
Thanks

[2017-11-06 14:32] nlemoine opened #249 "Shape: remove dimensions"
To output minified versions of my source SVGs, I have a config that looks like:
[code]
Width and height attributes are added to the SVGs (there's no `width` and `height` in my source files). Looks like there's no way to remove those attributes.

Could `shape.dimension.attributes` could be used in that case?

[2017-11-09 13:36] kasienna opened #250 "Can't resolve path"
This issue is probably connected to webpack or angular-cli.
When _sprite.scss file is generated, project won't build.

It throws error:

Can't resolve 'svg/sprite.css-5930151a.svg' (which is code auto generated in _sprite.scss)

I can't resolve this issue even when changing paths in the file, but even if I did, file is generated automatically so problem still will be there.

[2017-11-09 13:49] jkphl commented on #250
@kasienna I'm sorry but this really seems related to webpack, angular-cli or whatever toolchain you're using. I'm not using these technologies so unfortunately I cannot help you with this. There's nothing I could from the side of *svg-sprite*. (You could try to disable cache busting via `mode.<mode>.bust` (https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties

[2017-11-09 13:49] #250 closed

[2017-11-14 06:56] abdekalder opened #251 "SVG ignoring style"
I have a svg file like this:

[code]
My sprite-config.json:

[code]

I using svg like this:

[code]

Angular version - 4.1.0

And in browsers(CHROME,Safari,FF) is output without included style - just only black color:

Wrong:
<img width="27" alt="snimek obrazovky 2017-11-14 v 7 44 35" src="https://user-images.githubusercontent.com/33649814/32766544-c63b956a-c90f-11e7-94b6-faf8908255fb.png">

Right

[2017-11-27 14:46] pprossi opened #252 "CPU Count not Detectable"
Hi, have you any quick fix for this os.cpus().length not workin problem?
https://github.com/jkphl/svg-sprite/pull/217/files

at this point?
https://github.com/jkphl/svg-sprite/blob/4db3f3e34835907318d38eb3acd2d38427c511d4/lib/svg-sprite.js#L322

[2017-11-27 22:44] elina-codes commented on #220
Hey @jkphl, I'm trying to run this from CLI in my npm build script. I've surrounded the path for the last argument in single quotation marks but nothing happens (stylesheet and spritesheet are both empty). Any ideas?

[2017-11-28 12:08] jkphl commented on #220
@elina-codes, could you please post your complete CLI command here? Thanks!

[2017-11-28 20:34] elina-codes commented on #220
`"sprites": "svg-sprite --css --cscss --css-prefix=.re-svg-%s --css-dest=assets/src/css/stylesheets --css-sprite=../../images/spritesheets/spritesheet-main.svg --css-render-scss-dest=../../sass/partials/_sprites 'testsprite.svg'",`

It's the final argument in the '' that is causing me trouble. When I remove the quotes, it works fine. My final command will be using globbing, but I've found that eve

[2017-12-12 16:32] side-by-side opened #253 "svg.namespaceClassnames doesn't work"
Hi guys,

I'm using `svg-sprite` with Gulp (via `gulp-svg-sprite` plugin) and the `svg.namespaceClassname` parameter doesn't work. I'm trying to get rid of class prefixes and setting this parameter to `false` has no any effect on the output — every class is still prefixed.

Here is my config. As simple as possible to eliminate any influence of other parameters:

[code]

Other options, like `xmlDec

[2017-12-12 16:37] fogrew opened #254 "Replace PhantomJS with Puppeteer"
[I see](https://github.com/jkphl/gulp-svg-sprite/issues/69) [that](https://github.com/jkphl/svg-sprite/issues/100) [many](https://github.com/jkphl/svg-sprite/issues/239) [people](https://github.com/jkphl/svg-sprite/issues/211) [have](https://github.com/jkphl/svg-sprite/issues/222) [problems](https://github.com/jkphl/svg-sprite/pull/244) with the complexity of installing PhantomJS.

Also, the proje

[2017-12-13 16:21] side-by-side commented on #253
Some update on this.
If I change the default value of the `namespaceClassnames` in the sources — https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/config.js#L61 — it works.
So, the future works by itself.

Something wrong on the way. I'll keep digging, but maybe you can advice me what might be wrong with my configuration above?

[2017-12-13 16:45] jkphl commented on #253
@side-by-side I'm pretty sure your problem is that the `svg` configuration options are **not** mode specific but top-level options instead. Your configuration should rather look like this:

[code]

I always suggest to use the [online configurator](http://jkphl.github.io/svg-sprite) for creating the base skeleton ... Good luck!

[2017-12-13 16:45] #253 closed

[2017-12-13 17:18] side-by-side commented on #253
Just came back to post the same answer and you're here already.
Thank you for looking into this! It was definitely the config issue.

But the reason I was confused, that the other options, like `xmlDeclaration` are working even from under the `mode → symbol` parent (like in my initial config).

[2017-12-15 23:14] panych commented on #200
I've created template for Sass which can help with this issue and published as a [gist](https://gist.github.com/panych/b83287549f77535c08e8878a2c9e9e33). Code based on @vincentbernat solution.

[2017-12-18 14:13] wsjscss opened #255 "Unexpected extra letter on class inside symbol"
Hello, thank you for your job!

I have a problem. When i convert svg icons with class inside into symbol, it adds extra letter on the start of class name. How can i disable it?

![img](https://user-images.githubusercontent.com/20801385/34110229-ac376e2c-e40e-11e7-9ff7-6196dcff246c.png)

On the left is original icon with` class="cls"` and after conversion i get` class="ecls"`

[2017-12-18 14:17] jkphl commented on #255
@wsjscss Please read the [documentation section about ID and class namespacing](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#sprite-svg-options) — thanks!

[2017-12-18 14:17] #255 closed

[2017-12-18 17:23] alexrussell commented on #223
I guess it's just a style choice but I have to agree with OP - the choice to align all the values of the config is actually really annoying (and error-prone!) to read.

And I mean that completely aside from the fact that sometimes the values aren't correctly aligned due to the presumably different tab widths (which is just an extra reason that this is not good to use).

[2018-01-06 18:31] crvst opened #256 "Generating simple IDs"
There are obviously some reasons to force ID shape in this manner: `{DIR_NAME}--{SUB_DIR_NAME}--{FILE_NAME}`.

But probably there should be some option to get just `{FILE_NAME}` ID name shape instead [without touching Node API](https://github.com/jkphl/svg-sprite/issues/172). So it will be possible to get the desired result just with JSON config file or CLI params.

Something like:
[code]

In shor

[2018-01-16 02:47] strarsis commented on #149
@jkphl, @Mevrael: FWIW, recent svgo releases got an [inlineStyles plugin](https://github.com/svg/svgo/pull/592) now.

[2018-02-02 13:17] ocoka opened #257 "Generate each sprite for defined color sets"
Hello, I'm wondering whether it's possible to add additional markup to generated SVG to make each sprite to be represented in different color. General purpose to use *:hover* or any when uses sprites as *background-image* to represent state. Thx

[2018-02-05 15:41] zshnr commented on #254
I agree. Happy to help with a PR to do the replacement :)

[2018-02-09 16:10] gamebox commented on #254
I agree with this as well, and would also be willing to put in a PR.

[2018-02-13 06:41] MadLittleMods commented on #242
@charlestati See https://github.com/jkphl/svg-sprite/issues/112

I was running into the same thing but the keys were to use full absolute URLs when using `spriter.add(...)`

[2018-03-01 14:28] yellow1912 opened #259 "Strange issue with svg sprite when I have defs and style"
A normal svg works fine for me:

`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><title>tag</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path d="M48,17.89,45.58,2.42,30.1,0a3.22,3.22,0,0,0-2.61.87L.9,27.49a3.09,3.09,0,0,0,0,4.35L16.15,47.1a3.09,3.09,0,0,0,4.36,0l26.6-26.6A3.2,3.2,0,0,0,48,17.89Zm-8.38-5.4a2.73,2.73,0,0,1-4.09,0,2.73,2.73,0,0,1,0-4.09,2

[2018-03-01 15:45] yellow1912 commented on #259
It seems like the issue is due to the rect that covers the path inside. For some reason when exported to sprite the fill none is not working anymore. I even tried to use inline css but doesn't seem to help

![image](https://user-images.githubusercontent.com/374134/36853896-341d1d42-1da2-11e8-838a-1e6cf918df12.png)

[2018-03-01 18:25] yellow1912 commented on #259
Seem like when we use inline svg, the style is not applied. The easy way is to convert those styles into attributes (which is supported properly by later version of svgo)

This pull request fixes it:

https://github.com/jkphl/svg-sprite/pull/258/commits/0128e245d01c2bc49cc99983f642d994a2c32bfc

[2018-03-05 08:46] on3iro opened #260 "Has this project been abandoned?"
We really like  using svg-sprite inside some of our projects.

Is this project still alive? As far as I can tell the maintainer has not responded to any requests since june 2017, but apparently there are people that would like to contribute as well as a few open PRs.

Any info on the future of this project?

Thanks in advance

[2018-03-05 17:29] jkphl commented on #260
@on3iro I'm sorry that this project seems unmaintained — it's definitely not, although I suffer a massive lack of time and resources and am thus not able to spend time on my OS / side projects at the moment. I feel sorry about that and can't make any predictions when I'll find the time to change this, but I'll try. (In fact, I had an entry on my to-do list for *svg-sprite*, scheduled for last Satu

[2018-03-05 17:29] #260 closed

[2018-03-05 20:34] on3iro commented on #260
@jkphl thanks for the quick response and great to hear the that the project is still alive. I can absolutely relate to your lack of time to actively maintain this project. But I think small signs of life - even if it is just a two or three liner inside an issue - definitely help keeping up the confidence of your users/contributors that the project is in fact not abandoned :)

Anyway - thanks again

[2018-03-05 20:37] jkphl commented on #260
@on3iro I totally agree — but wish it was that easy in real life. I'll do my best. ;)

[2018-03-17 13:10] jkphl commented on #259
@yellow1912 Thanks for reporting. A new SVGO version is used as of fc195956e25ffc5dd201e4e05efc527d61c6877e — can you confirm that this works for you now?

[2018-03-17 13:10] #259 closed

[2018-03-17 14:03] jkphl commented on #256
@crvst This should be covered by cdade97716dc0b22b9b8865bb8de697c0024c257 respectively #240: You should be able to have simple shape IDs now by setting `shape.id.separator` to `false` or an empty string.

[2018-03-17 14:03] #256 closed

[2018-03-17 14:12] jkphl commented on #257
@ocoka I'm not sure if I really understand your question, but as a general direction: *svg-sprite* is neither meant nor suited to manipulate incoming SVGs (besides optimizing them), which would be necessary to have multiple color versions of particular shapes. You have to provide the color versions yourself to compile them into a sprite (which is what *svg-sprite* is made for). Unfortunately, styl

[2018-03-17 14:12] #257 closed

[2018-03-17 14:22] jkphl commented on #252
@pprossi Should be fixed as of 6d66f9f0dad57ca249cc28bb98f474a7bff73a0a

[2018-03-17 14:22] #252 closed

[2018-03-17 14:29] jkphl commented on #251
@abdekalder Sorry for the late reply. I'm pretty sure this is not an issue of *svg-sprite* but rather a known limitation of external SVG files in combination with `<use>`ing portions of them. Some browsers are not capable of applying the external `<style>`s. You could try adding the styles (i.e. `fill:url(#path64_1_)`) as attributes directly on the SVG elements instead (`fill="url(#path64_1_)"`).

[2018-03-17 14:29] #251 closed

[2018-03-17 14:34] jkphl commented on #223
Should be fixed as of 34d8c978e273fe98aedea22a1947f3fc24fe0aa5

[2018-03-17 14:34] #223 closed

[2018-03-17 18:07] jkphl commented on #249
@nlemoine First of: all sorry for the late reply!

This seems to be a tricky one. In any case `shape.dimension.attributes` is not meant for this and won't help anything. In general, it's not *svg-sprites* job to modify the SVGs except the properties that are necessary for compiling a sprite. That being said, their needs to be either a `viewBox` attribute or the `width` and `height` attributes pres

[2018-03-17 18:07] #249 closed

[2018-03-17 18:18] jkphl commented on #247
@t-shad First of all: sorry for the late reply! Furthermore, I'm sorry but I don't seem to know the templating language you're using (pug?) so I'm afraid I cannot give you support for this. On the other hand, I don't think you'll be able to alter the SVG source code in your templates — this will be way too late. You might, however, be able to leverage the SVGO plugin configuration to remove some a

[2018-03-17 18:18] #247 closed

[2018-03-17 18:20] jkphl commented on #246
@owen-hong First of all: sorry for the late reply.

Off the top of my head I can't tell if this is an IE problem, I'd have to take a look at the SVG source. Unfortunately, the file provided doesn't seem available anymore.

I'm gonna close this issue. Please let me know if this is still a problem for you and we'll re-investigate.

[2018-03-17 18:20] #246 closed

[2018-03-17 18:30] jkphl commented on #245
@ming-codes Sorry for the late reply!

I understand your concerns. However, getting rid of Vinyl doesn't look like an option to me. In fact, I removed all the file reading and writing code from *svg-sprite* at some point in the past to make it more independent and enable e.g. Gulp support. *svg-sprite* is e.g. used by [gulp-svg-sprite](https://github.com/jkphl/gulp-svg-sprite) which relies on pass

[2018-03-17 18:30] #245 closed

[2018-03-18 05:32] codinronan commented on #254
Go for it, we are currently moving 100% to puppeteer and have already set up the build stack for it, so this would be a great move.

[2018-03-18 13:19] nlemoine commented on #249
@jkphl Thanks for the detailed reply! I'll have a look to provided solutions.

[2018-03-19 07:58] pprossi commented on #252
Hi, no it is'nt...  couse the 'os.cpus' command returns unknown....
That was the fix you mentiont here. It returns fix number of cpus if the kommand is not available.

here you use static the command without fallback...
but i have no time at the moment to test if you can use this._spriter._limit at this point...

[2018-03-25 10:39] classicmike opened #262 "SVG Sprite generation seems to create empty SVG's on Windows PCs"
Hi @jkphl ,

Thanks for creating this awesome tool so far.

Not sure if you advertise this tool working on Windows on PCs or not but it seems like on Windows PCs (Windows 7 and 10 have been tested - 10 without Linux sub-system). Whilst running SVG sprite generation commands run ok on my machine when I open them it seems like the SVGs generated are empty.

**Steps to replicate:**
1. Use Windows 7.

[2018-03-25 10:42] classicmike commented on #262
Actually I think I must've done something wrong. Closing.

[2018-03-25 10:42] #262 closed

[2018-04-05 10:59] Griever12 opened #263 "can't make --svg-rootattrs work"
Hello and thanks for your work, it's a great tool !

I would like to add an attribute using --svg-rootattrs and a json file but it doesn't work.

Can somebody help me to do that please ?

my CLI is :`"sprite:spritescss": "svg-sprite -l -v --view-dest=_assets/images --vs=spritecss.svg --svg-rootattrs=sprite.json  _assets/svg/*.svg"`

and json :
`{
  "svg.rootAttributes" : {
    "rootAttributes" : {

[2018-04-05 15:16] Griever12 commented on #263
I precise i would like to insert this attribute inside each svg in the main svg parent

[2018-04-06 06:51] jkphl commented on #263
@Griever12 I'm a bit in a hurry right now, but here are 2 quick things:

* In general, it's beyond *svg-sprite*'s purpose to manipulate the source SVGs except it's absolutely necessary for compiling a sprite. You might do some things utilizing the "custom transformation" feature, but you're pretty much on your own here.
* I'm not entirely sure without a look into the docs myself but I think the `s

[2018-04-06 07:42] Griever12 commented on #263
Hi @jkphl
I've finally found the solution yesterday evening but had the time to answer.

I just have to write this in my jsonfile :
`{
  "preserveAspectRatio": "none"
}`

Indeed it add the attribute in the main svg but all his children inherit this.

Thank you for your answer

[2018-04-06 07:42] #263 closed

[2018-04-18 17:39] DanielRuf commented on #254
PhantomJS is officially not developed or maintained anymore. For what is PhantomJS used / needed here?

[2018-04-18 17:47] jkphl commented on #254
@DanielRuf See #100

[2018-04-18 19:22] DanielRuf opened #265 "tests fail on Windows 10"
There are some tests which fail on Windows 10

<details>
<summary>output of npm test</summary>
$ npm test

(node:4896) [DEP0022] DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.
  svg-sprite
    with no arguments
      with no SVG files
        √ has an empty result
      with 11 SVG files
        √ returns 11 optimized shapes (2931ms)
    with minimum configuration and 11 S

[2018-04-18 20:31] DanielRuf commented on #254
https://www.npmjs.com/package/sharp gets some good results.

[code]

[2018-04-18 21:51] jkphl commented on #254
@DanielRuf Sounds promising, thanks! I'll look into this as soon as i find some time. Getting rid of PhantomJS is long overdue ...

[2018-05-01 14:19] Mantish opened #267 "Add styles to svg output sprite"
I'm using stack sprites and when using them as a background image it's possible to change the color with css filters, as explained in this article: https://css-tricks.com/solved-with-css-colorizing-svg-backgrounds/
However, I need to add `fill:#fff;` to the sprite to make it work.
Is it possible to add an option to add custom styles? would it be hard to implement?

[2018-05-01 14:33] jkphl commented on #267
@Mantish It is beyond *svg-sprite*'s scope to do SVG manipulation in general, and adding an option for your specific task would be way too specific. You could, however, leverage a [custom post-processing transformation](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#svg-sprite-customization) to modify the resulting sprite SVG after compilation. Please refer to the docs for s

[2018-05-01 14:33] #267 closed

[2018-05-01 14:49] Mantish commented on #267
thanks! I think that would work

[2018-05-04 11:53] linrz opened #268 "'background: url()' support full url path ?"
I packaged the SVG as a sprite in the project and uploaded it to the CDN, so I hope the background URL is the complete CDN path.When I use it, I find that there is a problem with the generated path. The protocol header is missing '/'
[code]
The result is the following code.
[code]
Is there a problem with my configuration ? Thank you for your reply.

[2018-05-04 12:55] jkphl commented on #268
@linrz I'm sorry but as [stated in the docs](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#common-mode-properties) only relative paths are allowed for `mode.<mode>.sprite` (no absolute URLs). Your URL is treated as a relative URL, so the double slash is consolidated.

[2018-05-04 12:55] #268 closed

[2018-05-23 11:53] sebaranowski opened #269 "'svgo' breaks some logos in Firefox"
Chrome looks ok though. Tried with this logo:
[https://commons.wikimedia.org/wiki/File:American_Express_logo.svg](https://commons.wikimedia.org/wiki/File:American_Express_logo.svg)
[https://upload.wikimedia.org/wikipedia/commons/3/30/American_Express_logo.svg](https://upload.wikimedia.org/wikipedia/commons/3/30/American_Express_logo.svg)

Seems to be a problem with the radial gradient?

[2018-05-23 12:43] jkphl commented on #269
@sebaranowski I'm pretty sure this is a problem with SVGO resp. one of its (sometimes very aggressive) plugins. Please try to disable some of them (or SVGO altogether) to see if this helps.

[2018-05-23 12:43] #269 closed

[2018-05-23 19:53] themoch opened #270 "Path is changed to Line and disappears from sprite file"
# issue
when line is used to render a dot (start and stop are the same coordinates) it is stripped from the output

# input SVG:

## code
[code]
## image
<img width="165" alt="screen shot 2018-05-23 at 3 45 52 pm" src="https://user-images.githubusercontent.com/5241186/40447421-7e9ef18a-5ea0-11e8-9f33-35b923ebc036.png">

# compiles to this:

## code
[code]

## image
<img width="164" alt="screen sho

[2018-05-25 08:45] jkphl commented on #270
@themoch This is most definitely not something *svg-sprite* is causing because it doesn't alter the SVG files (except some details for compiling a sprite). Please see #269 for a likely reason. Thanks.

[2018-05-25 08:45] #270 closed

[2018-05-25 13:28] themoch commented on #270
@jkphl this is when the sprite file is compiled.

here is my script

[code]

it also does this without the `--symbol-inline` option set

[2018-05-25 13:33] jkphl commented on #270
@themoch Did you follow my advice in the other issue and disable SVGO and / or its plugins?

[2018-05-25 15:20] themoch commented on #270
I apologize for my ignorance, how do I disable those plugins from the command line?  Are they being called via `svg-sprite`?

[2018-05-25 15:24] jkphl commented on #270
@themoch I'm not entirely sure but it's possible you have to use an external JSON config file and the `--config` option for this. Please see the section about [shape transformations](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#shape-transformations) to learn how to configure SVGO.

[2018-06-05 21:11] iambumblehead opened #271 "path-related issues"
@jkphl I always encounter path-related issues using this library. If I make a PR that uses node's 'path' module to resolve some of these issues, would you be amenable to accepting such changes?

[2018-06-06 12:00] jkphl commented on #271
@iambumblehead It probably depends on the concrete issues you're trying to solve. In general, you're welcome to send in PRs, of course. However, please keep in mind that *svg-sprite* has ~140k downloads per month, there are almost 60 dependent libraries and probably some hundreds of users for whom it works just fine. Therefore, I might be somewhat conservative in accepting significant changes. Tha

[2018-06-06 12:10] iambumblehead commented on #271
@jkphl I see :) thanks for the response

[2018-06-06 12:10] #271 closed

[2018-06-19 00:46] XiaohanWang92 commented on #270
Hello, any update on this issue?

I have the exactly same issue using svg-sprite.
I check the potential related issues #269, looks like it is not related.

I am not using svggo and I am using Chrome, not Firefox.
Here is the command I am using:
[code]

[2018-06-19 01:09] themoch commented on #270
@xiaohanWang92 I ended up editing the SVG to have the dots have a super small length in a text editor. .001 and this fixed it. I also moved to an external config file, but kept symbols instead of any other output method.

I will post more differences once I have a chance to review tomorrow.

[2018-07-13 11:09] kuntergunt opened #272 "cannot set the output folder"
svg-sprite always creates folders like svg, css/svg or symbol/svg within the path I specify and assumes, this is the folder structure I need. Unfortunately I need it in a different way. Could you please add some option to set the actual folder path where the files are placed without sub directories.

[2018-07-13 11:14] jkphl commented on #272
@kuntergunt Please have a look at the [output destination documentation](https://github.com/jkphl/svg-sprite#output-destinations). You can achieve pretty much any structure you need.

[2018-07-13 11:14] #272 closed

[2018-07-13 11:18] kuntergunt commented on #272
I've already tried a dozen configurations. I always end up with at least a directory "svg" that gets created.

[2018-07-13 11:29] jkphl commented on #272
@kuntergunt Untested, but please use a dot `"."` to indicate "same directory". I'd guess an empty string evaluates as `false` which should equal to "use default".

[2018-07-13 11:45] kuntergunt commented on #272
Sure, I know. I used all sorts of dir names in my tests, just forgot to put that in the post correctly. But even that did not help. I'll make a workaround for now.

[2018-07-13 12:10] kuntergunt commented on #272
Found the solution: it's a combination of the dest and the sprite attribute that solved the issue. Thank you for support and doing this library Joschi.

[2018-08-13 19:47] iamtheluckyest commented on #191
I was also having this issue where `background-size: 100% auto;` alone was not helping but rather displaying all of the images in my sprite at the same time. For me what solved the problem was using the [align property](https://github.com/jkphl/svg-sprite/blob/master/docs/shape-alignment.md). This was mentioned above but not explicitly enough for me to get it straight away so I thought I'd add my

[2018-08-13 20:29] zerostatic opened #273 "How to change background behind icons"
Could you show a simple example of how to change the background (checkerboard) pattern that is behind each icon?

[2018-08-15 21:11] jkphl commented on #273
@zerostatic In case you are talking about the example document that you can render when compiling a sprite: It's created using a template that includes an inlined image for this purpose (https://github.com/jkphl/svg-sprite/blob/master/tmpl/view/sprite.html#L7). You are free to provide and configure a custom template. Please [see here](https://github.com/jkphl/svg-sprite/blob/master/docs/configurat

[2018-08-15 21:11] #273 closed

[2018-08-23 11:45] Faltfromoss opened #692 "The icon is not displayed correctly after adding it to svg-sprite"
I have svg-icon:
[code]

It looks so:
![menu](https://user-images.githubusercontent.com/18700275/44522921-ca329d80-a6e0-11e8-9c6c-0998d22693d5.png)
But when I add it to the svg-sprite, It looks so:
![menu2](https://user-images.githubusercontent.com/18700275/44522923-ca329d80-a6e0-11e8-971c-13a9f3565a76.png)
That's gulp-task svg:

[code]
After **svgmin** icon displayed correct, i checked
**$.gp** -

[2018-08-29 07:15] tkolsen commented on #254
Just wondering if anything is happening with this issue?
I see that phantomjs-prebuilt is stil a dependency.

[2018-08-29 18:07] diffen commented on #191
@iamtheluckyest Can you please paste a diff of the final CSS output with/without the align property? This thread appears in google searches looking for a CSS solution, so it will help even those of us who maybe aren't using svg-sprite yet.

[2018-08-29 23:44] jkphl commented on #191
I just became (re-)aware of this thread, being on holidays and with no proper development environment available at the moment.

@Chris2011 I know it's been a while, but what I can see in your screenshot is that you don't use a "vertical" or "horizontal" sprite layout (but a "packed" layout instead), which makes the sprite two-dimensional and thus basically unsuitable for CSS resizing.

@iamtheluck

[2018-09-17 07:09] longzheng opened #276 "Latest version of SVGO 1.1.0 breaks svg-sprite"
`svgo` just released [1.1.0](https://github.com/svg/svgo/releases/tag/v1.1.0) on npm which seems to break `svg-sprite`.

It seems to have broken a lot of other third-party tools as well, I believe this is related https://github.com/svg/svgo/issues/1030

[code]

[2018-09-17 18:58] jonnitto commented on #276
It is fixed with this version: https://github.com/svg/svgo/releases/tag/v1.1.1 svg-sprite should raise the dependency to ^1.1.1

[2018-09-17 19:18] jkphl commented on #276
@jonnitto Awesome, thank you! Will do as soon as I find some minutes.

[2018-09-18 04:40] AKrishma commented on #276
Please update if https://github.com/svg/svgo/releases/tag/v1.1.1 tag has been updated in package.json of svg-sprite of 1.4.0 tag. Since we are using gulp-svg-sprite 1.4.0 and which in turn using svg-sprite 1.4.0. This is causing lot of build breaks in multiple projects. So, early response from you will be highly appreciated.

[2018-09-18 05:05] longzheng commented on #276
@AKrishma I think you should be able to fix your local by clearing your `node_modules` so it downloads fresh packages (it should grab the latest `svgo` now which has the fix)

[2018-09-18 07:14] AKrishma commented on #276
@longzheng, provided worked for us.
Thankyou all for quick workaround.

[2018-09-18 07:34] longzheng commented on #276
@jkphl If you want to brute force it, maybe just force install the latest version of `svgo` with `npm i svgo@latest`?

[2018-09-18 07:37] jkphl commented on #276
@longzheng Will try (although SVGO already seems to be successfully updated to 1.1.1). Also, seems that some other dependencies require higher node versions in the meantime, so this might even end up in a version 1.5 for `svg-sprite` ... I'm on it.

[2018-09-18 07:38] longzheng commented on #276
Sorry my bad, I misread your message.

[2018-09-18 07:41] longzheng commented on #276
Just putting it out there, maybe another of the dependencies you updated is causing a different issue now? Have you tried just doing one build where you only update `svgo`?

[2018-09-18 07:46] jkphl commented on #276
@longzheng Yeah, tried that, but there's no difference. The error messages are still about the same `UnhandledPromiseRejectionWarning` (builds for all node versions are failing, see https://travis-ci.org/jkphl/svg-sprite, although the tests vor Node 4 and 5 are failing for different reasons). So SVGO probably isn't the true / only reason. I'll be having a meeting in 15 minutes, but I'll try to fix

[2018-09-18 08:20] longzheng commented on #276
Ok, I'm a node noob but I figured out the actual cause of the exception was not `svgo`.

I checked out your commit `b9a2df3702d6f7322d6f0bc3df2edcdab88a9a14`

When running the tests, this line https://github.com/jkphl/svg-sprite/blob/b9a2df3702d6f7322d6f0bc3df2edcdab88a9a14/lib/svg-sprite/transform/svgo.js#L83

was causing an exception
[code]

Inspecting `spriter.config.log.transports` it looks li

[2018-09-18 08:29] longzheng commented on #276
Set up a demo https://github.com/jkphl/svg-sprite/pull/277

The tests still fail, but it's failing on sprites not matching.

[2018-09-18 09:02] jkphl commented on #276
@longzheng Awesome, thanks for the pointer! This must be it! I'm just back from my meeting and will look at it asap. Looks like this is something related to *winston* (the logger used by *svg-sprite*). Btw, errors because of non-matching sprites are usually harmless and the result of minor (= sub-pixel) rendering changes in image comparing libraries.

[2018-09-18 09:16] #276 closed

[2018-09-18 09:50] jkphl commented on #276
I just pushed out the release `1.4.1` with only minimal dependency updates which should fix the SVGO issue. Gulp & Grunt versions will follow shortly. It turned out that updating all dependencies caused a separate problem (which looked very similar though) — I'll do that along with a `1.5.0` release (as I'll have to drop support for Node.js < 6.4 then as well). Thanks for all your help!

[2018-10-11 15:04] kassyn opened #278 "Error in comment code"
Hello,
Did not close comment with `}`
https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/config.js#L41

[2018-10-25 12:15] dweidner opened #279 "Substitution strings in log not replaced correctly when using the command line version"
I get the following output if I run the latest command line version of svg-sprite with debug flag set:

[code]

I am currently using node in version 8.12.0, npm 6.4.1 on macOS Mojave. I was able to reproduce the issue in a simple test project:

[code]

[code]

[code]

Both produce the same output. Is it just me? Wanted to see the amount of saved bytes while playing with some of the svgo settings i

[2018-11-14 13:02] vyteniskuciauskas-home24 commented on #254
Also move this dependency to the devDependencies. If I install svg-sprite to my project I will download phantomjs-prebuild and this is not required to work. Also download takes time.

[2018-11-26 09:45] shafqatali opened #281 "Padding shouldn't be the part of icon"
Hi Joschi Kuphal

I am not reporting an issue, Actually, its  a suggestion, When we generate SVG sprite using this config

[code]

It adds the padding to icon's dimension, i.e suppose an icon size is 16x16 pixel, using the above configration  in the output css icon size will be 36x36px.

I think it's not correct the gap should be outside the icon and the icon should remain 16x16px.

I hope you wil

[2018-11-26 16:09] jkphl commented on #281
@shafqatali Thanks for your suggestion. However, I don't see the point in this — actually you shouldn't use `padding` in that case at all. For an icon sprite to work properly, you'd have to have an HTML element that fits exactly the icon dimensions (otherwise, neighbouring icons would "bleed" into the displaying area). That said, if you'd want to have padding around the icon in your layout, you'd

[2018-11-26 16:09] #281 closed

[2018-11-30 01:30] cosola opened #282 "`createSprite` task no longer woks and throws an error with mustache"
I'am no longer able to create a sprite and receive an error message, making reference to the mustach:

[code]

The createSprite( ) worked well before a minor modification the template was tried.

[code]

Can a kind soul help me understand what is going on. First time using the package.

Thank you for your help.

SCV

[2018-12-13 13:40] Chris2011 commented on #191
@jkphl thx for the info it could be, but now I'm using another npm module called svg2png-many. This fits my needs. Thx anyway.

[2018-12-27 20:20] nroose commented on #191
Can you edit this to say `background` instead of `backround`?

[2018-12-28 09:48] jkphl commented on #191
@nroose Done!

[2019-01-21 15:36] renatodeleao opened #691 "[question] outputting shapes list as "manifest" like file."

[2019-01-30 19:20] #162 closed

[2019-02-05 15:00] steffex commented on #254
@jkphl is there a way to disable this function with configuration? In my case I have only SVG's with the dimension properties set. It would be acceptable to be able to disable the phantomjs part, so it won't be loaded when using svg-sprite.

[2019-02-05 15:40] DanielRuf commented on #254
You can add some `phantomjs` binary on your path.

See https://www.npmjs.com/package/phantomjs-prebuilt#continuous-integration

Or for example create an alias for `phantomjs` in your env which outpufs some string / version (mock).

[2019-02-10 09:41] DanielRuf commented on #254
Also see https://github.com/DanielRuf/phantomjs-mocked which works great fir phantomjs 2.1.1

[2019-02-10 09:41] DanielRuf commented on #254
Also see https://github.com/DanielRuf/phantomjs-mocked which works great for phantomjs 2.1.1

[2019-02-21 16:49] web-admin commented on #200
Hi. @vincentbernat solution is very nice and works great (I used @panych solution as well) however because of px there is no more possibility to use `background-size: auto 100%` and scale svg files in sprite. When I add this property to code then svg didn't work as expected. So basically I'd like to use your solution guys but on the other hand still keep the possibilities to scale svg. Do you have

[2019-03-29 12:53] mpodciwinski commented on #270
I had the same problem, but I spent some time and found the setting that causes it.
in SVGo settings, you need to turn off:
`{ convertShapeToPath: false }`

[2019-04-23 07:50] mojoaxel commented on #254
I've created a pull-request (#284) that removes `phantomjs` in favor of `pupeteer`. It would be nice If you folks could test the changes in your setup. Just replace the `svg-sprite` dependency with the custom branch in your package.json:

[code]

[2019-04-26 05:15] gusbemacbe commented on #189
@jkphl !

Is it possible to sort alphabetically the SVG files in a sprite, using the command line?

[2019-05-03 18:03] jkevingutierrez commented on #74
Any updates on this?

[2019-05-22 11:32] ainthek opened #285 "mocha and dependencies"
Why is mocha in dependencies and not devDependencies (or why is mocha version emoty string there ?)

[2019-05-22 12:03] mrgnou opened #286 "Allow custom Mustache template use"
Actually, the lib [doesn't allow to use custom Mustache template](https://github.com/jkphl/svg-sprite/blob/6966592489dfcf2cd9ed2bba500cb8ee31c00b9c/lib/svg-sprite/mode/base.js#L52). It would add a lot of flexibility if we could optionally provide our own custom template path in options.

[2019-05-22 12:18] jkphl commented on #286
@mrgnou It's absolutely possible to use custom templates, please read about [rendering configurations](https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#rendering-configurations).

[2019-05-22 12:18] #286 closed

[2019-06-21 12:33] bugejakurt opened #288 "Preserve @font-face in <style>"
@font-face CSS rules are not included in the generated sprite SVG. Can these be included as well so that we can use custom fonts in SVGs? Fonts have been included as data URL base64 strings.

[2019-07-04 09:33] GCour opened #289 "scss created for one folder only"
I have two folders with SVG's but only one folder is being generated in the SASS file. How can I make sure all folders are generated?

[2019-07-17 06:30] fleg opened #290 "--symbol-sprite cli arg is gone"
Tried to update svg-sprite from 1.3.6 to latest version and noticed that `--symbol-sprite` arg in cli util is gone. And it doesn't work when I try to use it.

[code]

Am I missing something?

[code]

[2019-08-08 17:46] louh commented on #279
This is happening for me too (and even though I thumb's-upped this a while back, I was hoping to come back and see if any progress has been made on this).

I've looked into this a little bit, and it seems the issue is that the [`winston`](https://www.npmjs.com/package/winston) logging library was upgraded to version 3.x which [introduced a lot of breaking changes](https://github.com/winstonjs/wins

[2019-08-08 17:49] jkphl commented on #279
@louh Your help would be highly appreciated as I currently don't have any capacity to work on my OS projects, unfortunately. Thanks a lot! 🙏

[2019-08-16 14:44] mikemellor11 opened #292 "namespaceIDs - avoid #ga"
Just came across a bizarre issue where GTM was inconsistenly firing our GA snippet when i had an svg with an id of #ga inside it's shape. Removing this tag makes GA fire 100% perfectly.

Not 100% sure what GA is doing internally to understand why this would clash but i'd avoid using this letter combination during the namespacing for safety, or perhaps add a prepend option so we can define our own

[2019-09-19 07:50] sandrina-p opened #295 "How to add prefix to each svg symbol ID?"
### Problem

I would like to have a custom prefix for each symbol id. I tried `namespaceIDs` but I think that's not meant for it. For example:

[code]

How can I do that?

[2019-09-20 15:08] jkphl commented on #295
@sandrina-p You have to provide a custom `shape.id.generator` function in your configuration, please see https://github.com/jkphl/svg-sprite/blob/master/docs/configuration.md#svg-shape-configuration for details. Possibly a generator like this will do what you need (untested):

[code]

[2019-09-20 15:08] #295 closed

[2019-11-01 19:23] rickydazla commented on #237
@charlestati could you (or anyone else) possibly provide some guidance on how would I go about adding `aria-hidden="true"` to the SVG? This is my config:

[code]

[2019-11-03 10:46] jkphl commented on #237
@rickydazla As @charlestati stated earlier, adding `aria-hidden="true"` to the sprite `svg` element or to a wrapping element would hide the sprite for screenreaders. Adding `aria-hidden` to a wrapping element would be outside of *svg-sprites* scope (you should be able to do this in your HTML markup that embeds the sprite). Alternatively, you can either use [`svg.rootAttributes`](https://github.com

[2019-11-03 10:46] #237 closed

[2019-11-07 23:40] ryanfitzer commented on #295
Maybe the docs are out of date, but returning a placeholder string simply made the `id` the un-interpolated string `id="svg-%s"`.

No biggie. I used the following to get what I needed:

[code]

Also, the `name` argument of the `generator` function still has the `.svg` extension, which conflicts with what the docs say:

Ultimately, `svg-sprite` has been a huge help. Thanks for all the hard work!

N

[2019-11-12 11:02] pierre-hilt opened #299 "Move phantomJs to devdependencies"
Hello,

for now phantomJs is set as a depdency. So that when we install svg-sprite it will download PhantomJS binary (and we dont need it).

I would like to propose to move to devDependency.

Best regards,

Pierre

[2019-11-18 14:41] jkphl commented on #299
Duplicate of #254

[2019-11-18 14:41] #299 closed

[2019-12-02 10:17] mojoaxel opened #301 "DeprecationWarning: Buffer()"
The current version shows a `DeprecationWarning` during the test.

[code]

- node: v11.15.0
- npm 6.13.0

[2019-12-02 10:34] mojoaxel opened #302 "Test are failing on Node.js > 10"
I have two failing test in the current master (304a347f472429f7b1fc6dcca2eef6b32861fbc0):

- svg-sprite | with minimum configuration and 11 SVG files | in «css» mode and all render types | enabled | creates visually correct sprite with | packed layout
- svg-sprite | with minimum configuration and 11 SVG files | in «view» mode | creates visually correct sprite with | packed layout

#### expected
![

[2019-12-03 18:43] tsal commented on #254
We now have a 2-year old PR to remove phantomjs - a project abandoned and recommended to not-be-used by the original developers. PLEASE can we get this merged?

[2019-12-06 13:21] zhansingsong opened #303 "Unnecessary to add "viewBox" to root SVG in stack mode."
As the title says. In addition, it leads to a bug.
the following **stack mode** output：`stack.sprite.svg`

[code]
when displaying `icon-clear`，it work correctly.

[code]
As `viewBox` is the same as the root SVG's.

but displaying `icon-right-arrow`, it work incorrectly, because it is zoomed out.
[code]
 The reason is that `viewBox="0 0 42 42"` attribute of root SVG.  if removing `viewBox="0 0 42 4

[2020-01-16 22:33] joshdcomp commented on #254
It's worth noting this is now starting to cause issues for folks upgrading to Node 12—is this repo/package still maintained?

[2020-01-17 01:53] rainfore commented on #254
I have a forked version, just removed PhantomJS.
@vusion/svg-sprite@1.6.0, https://github.com/vusion/svg-sprite

A little difference, not computing in headless browser if no width and height

[2020-01-17 05:26] DanielRuf commented on #254
Eh, this breaks things.

https://github.com/vusion/svg-sprite/commit/27358ef1c3de28c61b3c96bc6c5f167dcdcd0899

Is it replaced or removed? Why not pick up this PR and use this as base?

[2020-01-17 06:13] rainfore commented on #254
It takes us a lot of time to install a headless browser for a small loader when updating npm packages in our projects.
PhantomJS just plays a little role in this loader.

[2020-01-17 06:31] DanielRuf commented on #254
Well, why not puppeteer and install it as peerDependency, create a postinstall script (combined with env variables) or mock it?

https://github.com/DanielRuf/phantomjs-mocked

Removing is not a solition ;-)

[2020-01-17 06:33] DanielRuf commented on #254
Well, why not puppeteer and install it as peerDependency, create a postinstall script (combined with env variables) or mock it?

https://github.com/DanielRuf/phantomjs-mocked

Removing is not a solution ;-)

You give user no option to choose / decide. So it's broken and backwards incompatible which requires a new major version.

[2020-01-17 06:51] rainfore commented on #254
Yes, I agree with you. Breaking is not good.
My loader is just a choice.

[2020-01-18 14:22] #285 closed

[2020-01-18 15:58] MartijnCuppens opened #312 "`npm-check-updates` should be a dev-dependency"
https://github.com/jkphl/svg-sprite/blob/0ec726529f259292c85c03cb0e6e97abe211a3ce/package.json#L50

[2020-01-18 16:01] MartijnCuppens opened #313 "`vinyl-fs` is not used"
This package doesn't seem to be used. Handy tool to check for unused packages:
https://www.npmjs.com/package/depcheck

[2020-01-18 16:03] #312 closed

[2020-01-18 16:03] jkphl commented on #312
This one was an accident, thanks for pointing it out!

[2020-01-18 16:07] #313 closed

[2020-01-18 16:19] #279 closed

[2020-01-18 16:41] #292 closed

[2020-01-28 08:24] MartijnCuppens opened #319 "Removing support for a node version should be a major version bump"
In https://github.com/jkphl/svg-sprite/releases/tag/v1.6.0-alpha, support for Node 8 was dropped, which is a breaking change and which should result in a major version bump.

[2020-01-28 15:13] jkphl commented on #319
I'm sorry if you encounter any inconveniences. There will be a new major release as soon as I resolved / merged #284. That's also the reason why v1.6.0 was marked as alpha pre-release and also not published on npm (it won't be).

[2020-01-28 15:26] MartijnCuppens commented on #319
Allright!

[2020-01-28 15:26] #319 closed

[2020-02-11 15:08] Sidnioulz opened #326 "Shape names are empty when using relative path SVGs, which causes svgo to fail rendering optimised icons"
### Current behaviour

When using relative paths with `.add`, file paths are modified in such a way that Shapes fail to extract a name for each input SVG. Because shapes don't have names, they don't have an ID, and SVGO generates optimised SVGs into the wrong file path.

### Expected behaviour

Shapes should have a valid name no matter if the input SVG's path is relative or absolute

PR #325 fixes

[2020-02-19 15:16] Timvdv commented on #200
I had the same issue, the artefact from the icon next to it was showing up when zoomed.

I noticed that this happened because my SVG had some properties like "transform: translate" which caused these issues. I fixed it by adding a white border around the SVG that caused the problem. Not the most elegant solution but it works fine in my case.

[2020-03-16 17:06] freakkiller opened #333 "DeprecationWarnings: phantomjs-prebuilt and request"
- phantomjs-prebuilt@2.1.16: this package is now deprecated
- phantomjs-prebuilt > request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142`

[2020-03-19 18:10] hacknug commented on #74
Sharing this in case it helps anyone. Snippet will add your `defs` trimming whitespace and new lines:

[code]

[2020-03-31 23:24] G-Rath opened #337 "Publish patch version with mocha as devDependency to resolve security vulnerability"
I originally posted this as a [comment](https://github.com/jkphl/svg-sprite/pull/297#issuecomment-606396434) on the original PR, but am pulling it up into this issue for increased visibility and to make it easier to track.

Currently the latest version of `svg-sprite` has `mocha@5.2.0`  as a dependency, which pulls in a version of `mkdirp` that has a security vulnerability.

Since this is done via

[2020-04-16 10:03] G-Rath commented on #337
Just an update: Mocha said that they were not going to backport an update of `mkdirp` to the `5.2.x` version given that it's over 2 years old.

This means we're left with option 2, which unfortunately doesn't look like it will happen anytime soon :/

[2020-06-04 05:45] XhmikosR opened #348 "Remove lodash-pluck dependency"
This is pretty old dependency and was replaced by `map`: https://github.com/lodash/lodash/wiki/Changelog#v400

[2020-06-13 15:08] ZhangChengLin opened #351 "gulp & grunt，Is it still valid?"
Do you still care about the maintenance of your other 2 projects?
Are they still valid? The last update was in 2018.

[code]

[2020-06-13 15:11] zhangchenglin commented on #351
Their last update time puzzled me and wondered if it was still available and new enough.
Especially when I only see them, but not jkphl/svg-sprite.

[2020-06-28 20:47] ahmadalfy commented on #254
Bumping this up. This already seems to be resolved by some PRs.

[2020-06-29 07:27] DanielRuf commented on #254
Can you provide more details?

[2020-06-29 13:52] ahmadalfy commented on #254
This PR https://github.com/jkphl/svg-sprite/pull/284

[2020-07-22 14:36] mhsalves commented on #337
They published an others minor versions like `0.5.3` and `0.5.5` and a major version `1.0.4`, using one of them is not an option ?

#### References
https://github.com/isaacs/node-mkdirp/releases/tag/v0.5.3
https://github.com/isaacs/node-mkdirp/releases/tag/v0.5.4
https://github.com/isaacs/node-mkdirp/releases/tag/v0.5.5
https://github.com/isaacs/node-mkdirp/releases/tag/v1.0.4

[2020-07-22 14:39] mhsalves commented on #337
Other questiion, @jkphl how is the plan to publish a version `1.5.1` ?

[2020-08-03 20:40] bitstarr opened #358 "Is svg.namespaceIDPrefix doing anything?"
Hi,

I wanted to namespace the ids of my symbols in order to avoid problems. But after fiddling around, I searched the code base of this repo and it seems like this option does nothing!

[code]

[2020-08-04 07:21] benkeil opened #359 "Support convertColors.currentColor"
It looks like this configuration is not supported.

[code]

[2020-09-02 03:58] ryanfitzer opened #364 "Make `style` Attribute Optional in `symbol` Mode"
This line [adds `position:absolute`](https://github.com/jkphl/svg-sprite/blob/f69e312597a2dca6888260c3753f1f146c37ce5e/lib/svg-sprite/mode/symbol.js#L91). Could this be made optional? It adds some complexity to importing the resulting svg as a React component, [due to its `style` prop requirements](https://reactjs.org/docs/dom-elements.html#style).

The only workaround I see is to rerun the result

[2020-09-02 16:31] Smidds opened #365 "Make "cssmin" optional for style blocks"
### Some Context
When specifying animation keyframes to the `style` block, `cssmin` appears to destroy the definition of those animations!

**Example SVG**
[code]

**Resulting `style` block after `cssmin`ification**
[code]
It should, in this single-line form, look like this:
[code]

### My Modest Proposla
Make the usage of `cssmin` optional! It seems `svgo` does a pretty good job cleaning up all m

[2020-09-02 16:32] Smidds commented on #365
Worth sharing, this is the problematic line in question: https://github.com/jkphl/svg-sprite/blob/master/lib/svg-sprite/shape.js#L728

[2020-09-12 17:22] #265 closed

[2020-09-30 03:03] yellow1912 opened #368 "All my symbol ids are empty"
With the latest version of svg-sprite and the following config:

[code]

I add files manually like this:

`spriter.add(file, relativePath, fs.readFileSync(file, 'utf8'));`

The svg sprite file is generated with all the ids empty. Does svg-sprite autogenerate ids or do I need to prepare them in the files before adding to spriter?

[2020-09-30 04:08] yellow1912 commented on #368
I use a work-around to generate id like this now:

[code]

[2020-11-05 10:13] dreit-p opened #676 "Width and height attributes are not set"
When SVG dimensionAttributes boolean is set to **TRUE** the generated sprite has no height and width attributes on the symbols.
The config is
[code]

Input arrow.svg:
[code]

Output:
[code]

[2020-12-11 21:46] matthewjmink commented on #337
I'm unsure whether this should be tracked as a separate issue, but the `yargs` dependency also results in a Prototype Pollution vulnerability via `yargs-parser`. The `yargs` dependency also needs to be updated. https://www.npmjs.com/advisories/1500

[2020-12-13 15:50] applibs opened #593 "Overlap problem"
There is one situation which is big problem. My devel laptop with Win10 is FullHD and for better view I changed at Windows display setting to 125%.
But than is problem because on all images in svg sprite I see 1px part of next image because position of svg images is in percentage and Chrome browser wrong recalculate change from 100% to 125%.
Simplest fix should be implement margin like shape -> sp

[2021-01-08 02:22] thomas-gordon commented on #337
I've made a small package that does the main thing we used svg-sprite for: turning a folder of svgs into a single sprite file. For now config is limited but it gets the job done without the excessive vulns/deps. I'm going to work on it over the next couple of months to power it up!

[svgsprite-file](https://www.npmjs.com/package/svgsprite-file)

[2021-01-19 09:33] alessandro308 opened #380 "Is there any wrapper for Webpack to use this module?"

[2021-01-20 18:44] christian-reichart commented on #359
Hey @benkeil , doesn't solve the issue, but maye this will help you out: https://github.com/christian-reichart/svg-chameleon . It uses svg-sprite under the hood but you can use css variables for coloring. If you set colors.preserveOriginal to false, it also injects currentColor

[2021-01-25 17:04] jkphl commented on #380
@alessandro308 Thanks for your question. I don't know of an existing wrapper, and as I don't have any insights into or experience with Webpack, I don't have any plans for providing a wrapper. Maybe someone from the community?

[2021-01-28 20:16] xesjkeee opened #381 "Output to JSON"
Hey, @jkphl 👋
Thanks for your `svg-sprite` module!

Would you tell me how to get ids of svg files in JSON structure like:

[code]

eg: I have 3 svg files (arrow, search, exit) on input, so i have 1 file (sprite.svg) on output, also I wanna get JSON of ids (arrow, search, exit) together with sprite

[2021-02-20 15:47] patric-eberle commented on #303
Same issue here. If I remove `viewBox` I can use the same sprite for CSS mask and inline. With the viewBox in place, the mask use fails... Seems like this was added because of #73

The solution above works, but it is not possible to remove the attribute entirely this way. I would recommend adding a new option to the stacking options.

[2021-02-22 15:51] XhmikosR commented on #365
An option wouldn't hurt, but IMHO cssmin should be replaced with something more maintained and better tested.

svgo itself is using ccso. Personally, I use clean-css but it would probably make more sense to use one of the dependencies that are in the deps tree.

[2021-02-22 15:54] XhmikosR commented on #302
I recently spent some time with svg-sprite and for some reason, Node.js > 10 generates a different image. The order seems different.

If you pinpoint the root cause please let me know. In the meantime, I added a different image for Node.js > 10, but that's for making CI happy since I don't know the root cause either. #378

[2021-02-22 15:55] #278 closed

[2021-02-22 16:41] #348 closed

[2021-02-22 16:43] #301 closed

[2021-02-24 15:26] XhmikosR opened #406 "Switch to asynchronous methods"
* `fs`
* `glob`

What would probably speed things up a lot would be if this was async https://github.com/jkphl/svg-sprite/blob/2ad0a52af947624fa72f6664c98588b2a46c06d6/bin/svg-sprite.js#L294

We need to test this thoroughly (and on Windows) since we might hit a limit though.

[2021-02-24 15:26] XhmikosR opened #407 "Switch to Classes"
After we have a consistent style and linting solution, it'd be nice to switch to Classes everywhere.

[2021-02-24 15:31] XhmikosR commented on #365
I made #402, currently WIP, but csso is much better maintained and should fix your problem.

That being said, after the above lands, feel free to submit a PR making this configurable allowing enabling/disabling and/or passing custom options.

[2021-02-24 15:37] XhmikosR commented on #359
Please provide more info about how you invoke svg-sprite and any needed files so that we try to reproduce.

[2021-02-24 15:38] XhmikosR commented on #302
Do you hit this issue in your puppeteer branch too?

The order seems to change starting from Node.js 12 and on.

[2021-02-25 20:45] tedw opened #410 "Bump yargs to 15.4.2 to fix vulnerability with yargs-parser"
As @matthewjmink mentioned here https://github.com/jkphl/svg-sprite/issues/337#issuecomment-743443579, the `yargs` package needs to be updated to `15.4.2` to address a vulnerability with `yargs-parser`.

https://www.npmjs.com/advisories/1500

Thanks!

[2021-02-25 20:58] tedw opened #411 "Upgrade to mocha v8.x to address vulnerability"
Looks like the current version of `mocha` has a nested dep with a vulnerability:

Results of `$ npm audit` below:

| low      | Prototype Pollution |
| :----- | :----- |
| Package       | minimist |
| Patched in    | >=0.2.1 <1.0.0 || >=1.2.3 |
| Dependency of | svg-sprite |
| Path          | svg-sprite > mocha > mkdirp > minimist |
| More info     | https://www.npmjs.com/advisories/1179 |

Upgrad

[2021-02-28 17:30] XhmikosR commented on #302
@mojoaxel please see the discussion in https://github.com/svg-sprite/svg-sprite/pull/398#issuecomment-787477660

Maybe you can figure out a fix faster :)

[2021-02-28 19:08] XhmikosR commented on #411
This is already fixed in master. mocha shouldn't have been a dependency in the first place.

[2021-02-28 19:08] #411 closed

[2021-02-28 19:08] #410 closed

[2021-02-28 19:09] XhmikosR commented on #302
Merged #398 so this should work on non-Windows machines.

[2021-02-28 19:09] #302 closed

[2021-03-01 05:18] XhmikosR commented on #333
Closing in favor of #254

[2021-03-01 05:18] #333 closed

[2021-03-01 15:40] tedw commented on #411
Ah ok, thanks for the quick reply! I was using the latest stable release (v1.5), will try switching to `v1.6.0-alpha`.

Just noticed all the updates you’ve made in the past week or so—thanks for doing that! Are you planning to publish a new release soon? Would be much appreciated 😄

[2021-03-01 16:08] XhmikosR commented on #411
Yeah, I started backporting my changes with the plan to release v2.0. Technically v1.6.0 should have been v2.0.0 because it already drops Node.js 6 support.

You could try https://www.npmjs.com/package/%40twbs%2Fsvg-sprite (https://github.com/svg-sprite/svg-sprite/compare/master...twbs:twbs) in the meantime :)

[2021-03-01 16:10] XhmikosR commented on #410
Actually, for this to be fixed you could do `npm audit fix`. I don't get the vulnerability on master:

[code]

[2021-03-02 07:43] XhmikosR commented on #337
I've started working on getting v2.0.0 out. Ideally, we should have released a new patch version, but it's extra time I don't have at this point.

So, all of these issues will be fixed in v2.0.0. In the meantime, and assuming you don't mind installing the package from GitHub, you can use the master branch or temporarily https://www.npmjs.com/package/@twbs/svg-sprite/v/1.6.2 (https://github.com/svg

[2021-03-02 08:24] XhmikosR opened #421 "Revisit `sort()` usage"
Node.js > 10 changed the sorting algorithm. This resulted in test failures which I have worked around by just using a different test file on Node.js > 10.

We should fix our sort usage to be consistent. The failing test is the packed one which hints that this code is probably wrong:

https://github.com/svg-sprite/svg-sprite/blob/70ae96e05eea9a7669cc357daec3ba9f2490268d/lib/svg-sprite/mode/css/pack

[2021-03-04 14:30] XhmikosR opened #422 "Run transformations in parallel"
Similarly to what is currently used in other places

[2021-03-16 19:46] ert78gb opened #443 "Next release date?"
Hello,

I see lots of activity from @XhmikosR in the last month and thanks for it, but the last release was more than 2 years ago.

When do you plan to release a new release date?

[2021-03-17 06:31] XhmikosR commented on #443
There's no ETA because there's still quite a few things to address.

@jkphl friendly ping to have a look at the open PRs so that we move forward.

[2021-03-17 11:37] ert78gb commented on #443
Don't you wanna release in smaller chunks? I like the smaller releases than the big bums.
And not easy resolve 2 years tech dept.

[2021-03-17 13:15] XhmikosR commented on #443
Nah, at this point I'd rather finish with the outstanding issues before v2.0.

[2021-03-18 07:41] ert78gb opened #445 "Make each test case individually testable"
Yesterday I tried to investigate the #421 , but very hard to debug the tests because the `it.only` not working. I have to find wich describe section contains the prerequisites. I think in long term worth refactoring the test to use `beforeEach` to setup the test. It will increase the running time, but it will allow running parallel so overall we can decrease the test time.

IMHO I think worth spli

[2021-03-18 08:19] XhmikosR opened #446 "v2.0 plan"
1. replace phantomjs with puppeteer **but make it optional**; we need test cases for this to be safe. We have #284 but needs more work
2. replace image-diff with looks-same; we have #417 but needs some work
3. modernize the codebase; I've made #436, which I try to split it in smaller chunks.
5. (maybe slate this to 2.1.0 or 3.0.0) Run transformations in parallel, see #422. This is more noticeable

[2021-03-29 05:41] applibs opened #451 "Overlap problem"
There is one situation which is big problem. My devel laptop with Win10 is FullHD and for better view I changed at Windows display setting to 125%.
But than is problem because on all images in svg sprite I see 1px part of next image because position of svg images is in percentage and Chrome browser wrong recalculate change from 100% to 125%.
Simplest fix should be implement margin like shape -> sp

[2021-03-30 07:04] #359 closed

[2021-04-02 17:25] applibs commented on #200
Works but its very very stupid output:
{ background-position: calc(-770px - (24px - 16px)/2) calc(-443px - (24px - 16px)/2);width:16px;height:16px; }
My final css is 30% larger!!!
I prefer to enhance svg-sprite to real margin and not this workaround!!!

[2021-04-05 19:59] ilian opened #454 "Valid SVG files are erroneously marked as invalid"
An example SVG file that is not able to be processed is [this file](https://github.com/mozilla/pdf.js/blob/6ddc297170a48475b2fdb882efd895d0236474c3/web/images/toolbarButton-pageUp.svg?short_path=aa0160a).
The regex in the following line is not able to match multi-line attribute values of the svg element:
https://github.com/svg-sprite/svg-sprite/blob/7edd0063b0fcf91c436a0d13ec6e01ce01af3299/lib/svg

[2021-04-07 06:05] XhmikosR commented on #454
Please submit a PR with a test case. The specs don't say that this should be in one line, so the regex should probably have `m` too.

[2021-04-27 13:12] XhmikosR opened #458 "Remaining refactoring issues"
- [ ] Clear up a few situations with forEach thisArg binding:
  - [ ] https://github.com/svg-sprite/svg-sprite/blob/eefe61306d1896d8703d35c498d069c79172ffbb/bin/svg-sprite.js#L225-L238
  - [ ] https://github.com/svg-sprite/svg-sprite/blob/23377c0cd8bcc40fcbb0fb2e318b0922ff105eb7/bin/svg-sprite.js#L242-L259
  - [ ] https://github.com/svg-sprite/svg-sprite/blob/23377c0cd8bcc40fcbb0fb2e318b0922ff105e

[2021-05-05 13:43] joaogarin commented on #337
Is there any change to release a patch version including the latest security updates merged in the master branch? This package https://github.com/svg-sprite/gulp-svg-sprite uses this package and for us it would be hard to really use another package at this point.

is the master branch here not the current 1.x version?

[2021-06-02 07:21] azerafati opened #473 "Is it possible to trim/crop empty space around the shapes?"
I got some icons that have an empty space / padding related to `viewBox` attribute,  which makes the resulting sprite to show icons with different sizes. Is it possible to crop that extra space? Similar to how [svgcrop.com](https://svgcrop.com/) does it.
Current config :

[code]

[2021-06-02 10:03] azerafati commented on #220
This isn't working for me:
when I run `svg-sprite --config svg-sprite.conf.json 'src/assets/svg-icon/./**/*.svg'` as suggested, my sprite is empty. But when I remove `./` and the quotes I get all the svg files in my sprite BUT with no ID traversal and if I only remove the quotes I get an error:
[code]
I'm not sure but could it be related to running this on windows?

[2021-06-08 14:35] XhmikosR commented on #337
Unfortunately, it's a total pain in the a$$ :/ I took a stab at at cutting a new version from v1.5.0, but people don't follow semver properly thus there are failures on Node.js 6.x.

The other thing I could try would be to build on top of v1.6.0 which we'll call it v2.0.0 due to the Node.js 6.x removal, which is what v1.6.0 should have been in the first place.

I'll try the second approach when I

[2021-06-08 14:37] XhmikosR commented on #337
Also, do note than there was a potential prototype pollution present in older versions; I'll try to pick that patch too if I manage to cut a new release.

[2021-06-15 06:25] T1mL3arn opened #478 "[Feature Request] Option to set generated css file name"
At this time there is a way to change generated sprite file name, but not the stylesheet file name - it is always(?) `style.css`.

[2021-06-15 06:35] jkphl commented on #478
I'm not 100% sure, but this should be possible by configuring a suitable `mode.<mode>.render.css.dest` path (see [Rendering configurations](https://github.com/svg-sprite/svg-sprite/blob/master/docs/configuration.md#rendering-configurations), although the example mentions files with `.html` extension). Please let me know if that's correct.

[2021-06-15 06:35] #478 closed

[2021-06-15 06:59] T1mL3arn commented on #478
This indeed works. The documentation looked confusing to me. It has for `mode.<mode>.render` this
[code]
which I interpret as `mode.<mode>.dest` due to `css: true`.

[2021-06-15 07:14] jkphl commented on #478
Thanks for letting me (and others) know!

[2021-06-18 10:29] T1mL3arn commented on #451
Similar issues are already here (#24, #200). For this moment there is no `margin` setting. As a workaround you can use [`mode.<mode>.layout`](https://github.com/svg-sprite/svg-sprite/blob/master/docs/configuration.md#user-content-css--view-mode) setting (set it to `vertical` or `horizontal`). It helped me to deal with such sprite bleeding.

[2021-07-17 05:29] XhmikosR commented on #337
So, I spend some time and I managed to have a good branch, I believe: https://github.com/svg-sprite/svg-sprite/compare/v1.5.0...1.5.x

The downside is that due to svgo updating csso which in turn updated css-tree, Node.js 6.x support is gone. Now, I'm thinking, that even though technically this should have been a major version bump from our side, since it's not a direct error from our side I can j

[2021-07-20 01:07] denik1981 opened #490 "CSS mode isn't working not even with the provided examples."
I have tried all the modes and CSS isn't working at all with random svg files. I have use the provided examples and generate the sprite via the CLI. I just don't see anything coming up. Can someone please check it?

[2021-07-26 15:33] XhmikosR commented on #337
I'm going to release the above as 1.5.1 tomorrow.

[2021-08-03 14:24] XhmikosR commented on #337
1.5.1 is out https://github.com/svg-sprite/svg-sprite/releases/tag/v1.5.1

[2021-08-03 14:24] #337 closed

[2021-08-07 19:51] EkramulIslam005 opened #498 "My sprite.svg file isnt loading"
Every time i click the file it loads loads and then it shows up "something went wrong. reload?"

[2021-08-07 19:55] EkramulIslam005 commented on #498
![Screenshot (42)](https://user-images.githubusercontent.com/86062417/128612419-22633dc0-a5df-468d-b094-b12a39f3e1a2.png)
why it is showing

[2021-08-13 16:48] XhmikosR commented on #498
That's normal since that's not how sprites work...

[2021-08-13 16:48] #498 closed

[2021-08-13 16:58] XhmikosR commented on #490
What examples do you mean?

[2021-08-13 17:01] XhmikosR commented on #303
PRs welcome along with a test case.

[2021-08-21 14:21] XhmikosR commented on #421
Closing since we no longer support Node.js < 12

[2021-08-21 14:21] #421 closed

[2021-08-24 14:01] evansrobert opened #509 "posibility of a 1.5.3 release for svg-sprite with less strict svgo version dependency"
Hi, @XhmikosR, there is a vulnerability introduced by package **css-what@3.4.2**:
### Issue Description

   I noticed that a vulnerability is introduced in **_svg-sprite@1.5.2_**:
     Vulnerability **CVE-2021-33587** affects package **_css-what_** (versions:<5.0.1):  [https://snyk.io/vuln/SNYK-JS-CSSWHAT-1298035](https://snyk.io/vuln/SNYK-JS-CSSWHAT-1298035)
  The above vulnerable package is refe

[2021-08-24 14:19] XhmikosR commented on #509
Sorry, can't do in 1.5.x. svgo 2.x is a major release.

[2021-08-24 14:19] #509 closed

[2021-09-03 03:09] emilsunn opened #512 "adding config parameter in compile() does not give any results"
I have certain svg files that I wanted to delete the fill  setting and some that I would like to keep.
this makes me having multiple config settings,
I tried not adding it on constructor only when calling compile but it does not give any results.
Is this a known issue?

thanks in advance

[2021-09-03 15:34] AusPrinzip opened #513 "css rendering classes overlap"
My output css file looks like this:

[code]
Instead of rendering like in the html example (see below):

[code]
How can I achieve this?

[2021-09-03 16:09] AusPrinzip commented on #513
OK I got it working. All you need to do is to set "dimensions" attribute to `true` <Boolean>

I just do not understand the behavior when passed a <String>.

[2021-09-03 16:10] #513 closed

[2021-09-17 11:53] EkramulIslam005 commented on #498
So what should i do

[2021-09-22 01:23] #512 closed

[2021-10-01 11:47] XhmikosR opened #523 "Fix svgo config after #501"
Our options `doctypeDeclaration` and `xmlDeclaration` don't work properly after #501.

[2021-10-02 12:44] #490 closed

[2021-10-02 12:45] #407 closed

[2021-10-02 12:46] XhmikosR commented on #351
If it works, it works. If something doesn't work, feel free to make a PR and CC me.

[2021-10-02 12:46] #351 closed

[2021-10-02 15:08] brunis opened #525 "Default settings need to add more padding on the sprite or let it be configurable.."
I'm seeing icons spill into other icons in Firefox when using recommended scaling in Windows (125% in my case).
If i go and change my icons to be width and height 16 and viewport 0 0 18 18 it goes away .. (previously viewport was 0 0 16 16)
So i'd suggest you add a bit more space between the icons by default, so scaling issues and subpixel precision doesn't become an issue at different scales on d

[2021-10-15 11:59] hodossy opened #526 "SVG `<animate>`'s `begin` attribute is incorrectly modified"
## Description
I have an animated SVG which becomes invalid after putting it in a sprite with `svg-sprite`.

## Reproduction

**repro.svg**
[code]

Put it in a sprite with below command:
[code]

and the output (note I have added the whitespace manually here for readability):
[code]

Please note the begin attribute here, `2.5s` has been replaced with `a.5s` and  `1.5s` has been replaced with `b.5s`

[2021-11-01 14:28] ademyalcin27 opened #530 "Remove id file name on symbols"
Hi,

When I use it, it's added prefix file path like that how can I remove it?

<img width="755" alt="Screen Shot 2021-11-01 at 17 23 28" src="https://user-images.githubusercontent.com/5026172/139687822-90b18701-247c-44a1-9e8d-d4b027467da4.png">

and The file is uglified itself. How can I disable uglify?

**NPM Script;**

`"svg-sprite -s --symbol-dest ./src/assets/img  --symbol-sprite sprite.svg .

[2021-11-25 00:46] pepa-linha commented on #368
Saved my day! I don't absolutely understand documentation.

[2021-12-04 05:05] rovertzxd commented on #100
@jkphl can we move phantomjs-prebuilt to "optionalDependencies"? I don't know if this was a thing back in 2016. but it seems to alleviate the problem if there is an error trying to install on a arm64 machine

[2021-12-15 17:26] choicelildice commented on #100
It looks like phantomjs is suspended and archived, and is incompatible with the new M1 architecture (arm64). This makes spinning up any sites locally that use this library impossible on my work computer. Is there still no alternative to phantomjs?

[2021-12-20 22:21] ddanier commented on #254
Just a note: Currently svg-sprite is not usable on Apple M1 as there is no arm64 version of phantomjs-prebuilt. I would vote for solving this soon.

[2021-12-21 09:12] niksy commented on #254
@ddanier are you sure? Because I’m using it just fine on native M1. Linux distributions don’t have it (e.g. if you use it inside Docker), so you need to compile it from source.

[2021-12-21 20:20] jkphl commented on #100
@rovertzxd As stated earlier already, PhantomJS can't just be moved to be an optional dependency, as it's required by some parts of the code. Some major work has been done to replace PhantomJS with Puppeteer (by @XhmikosR and others), please see #254 (and read the comments there, /cc @choicelildice), but I don't know the current state of these efforts (and I don't know whether and when this might

[2021-12-22 11:07] Kreeg commented on #254
@ddanier @niksy hello. It's definitely not working on M1 but on docker image of any linux dist
`#18 6.088 npm WARN deprecated phantomjs-prebuilt@2.1.16: this package is now deprecated
...
#18 10.50 npm ERR! code 1
#18 10.50 npm ERR! path /project/server/shop/static/builder/node_modules/phantomjs-prebuilt
#18 10.51 npm ERR! command failed
#18 10.51 npm ERR! command sh -c node install.js
#18 10.51 n

[2021-12-22 13:42] ddanier commented on #254
@niksy Pretty sure - although it seems to work when you have rosetta. See below:

I initially tried to use this in a docker container with arch set to linux/arm64/v8. The npm/yarn install fails with the error message mentioned by @Kreeg. So here this just does not work like I originally mentioned.

Somehow the npm/yarn install done directly on the mac works when rosetta is installed. Not sure abou

[2021-12-22 18:46] DanielRuf commented on #254
@ddanier basically it depends on the buildtools on your Mac and which platform they support. Normally node-gyp builds from source using Python and the commandline and developer tools (XCode and CLT) of MacOS which requires the correct libs and headers from the MacOS SDKs.

https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md
https://mycyberuniverse.com/en-gb/how-fix-node-gyp-rebuild-fa

[2021-12-23 06:20] niksy commented on #254
@ddanier yeah, it’s probably Rosetta, haven’t thought about that. As for Docker container, we’ve built from source (CentOS 7) so we fixed it for our company project, but I agree it’s not ideal since ARM will definitely be used more over time.

[2021-12-24 13:53] XhmikosR commented on #523
@korki43 do you have any ideas about this? Fixing this issue and perhaps replacing phantom-js are the blocking stuff for releasing v2.0.0 (we use this package in icons)

I have a WIP branch but I don't think it's right https://github.com/svg-sprite/svg-sprite/compare/svgo-config

[2021-12-24 15:57] korki43 commented on #523
I'll have a look at it.

[2021-12-24 18:53] korki43 commented on #523
@XhmikosR  What is the exact usage of `config.svg.xmlDeclaration` and `config.svg.doctypeDeclaration`?

[2021-12-24 19:20] XhmikosR commented on #523
* https://github.com/svg-sprite/svg-sprite/blob/main/docs/configuration.md#sprite-svg-options
* https://github.com/svg-sprite/svg-sprite/blob/main/bin/config.yaml#L97-L106
* https://github.com/svg-sprite/svg-sprite/pull/501/files?w=1#diff-6d96d7717a777094d3cc507079385cbe3d792d6e64fe1ccba129d9b9348eb76e

Basically it toggles those 2 SVGO plugins. Unsure how to handle this with the plugins system.

[2022-01-23 04:06] dudleycodes opened #538 "`view` mode not writing output file"
Using version `1.5.3` of svg-sprite on Node `v17.4.0`, I cannot get the `view` mode to render an output file. In the code below, if I change the mode from `view` to `css` it works just fine. Logging indicates the file is being generated and written - but it never appears on the file system.

# Node Version

[code]

# package.json
[code]
# build-icons.js

[code]

# Log output

[code]

I have verifi

[2022-01-23 07:03] dudleycodes commented on #538
After taking a break and looking again, my problem was the code at the end of my node task. Looks like I just needed a rubber duck!

Closing the issue

[code]

[2022-01-23 07:03] #538 closed

[2022-01-28 07:56] Kreeg commented on #254
Any updates?

[2022-01-29 13:28] Kreeg commented on #443
@XhmikosR hello, can you share those issues? I'll check if I can help.

[2022-02-03 06:11] maapteh opened #543 "svgo package used is still on v1, but thats deprecated. In this code it uses already v2, but that has not been published. Will you publish a new version?"
Hi @XhmikosR i see SVGO is updated in #534. But no new version has been released after this update. So SVGO is still on v1 in your latest version 1.5.3 (`"svgo": "^1.3.2",`). Any plans on publishing a new version which contains this merge?

`svg-sprite > svgo@1.3.2: This SVGO version is no longer supported. Upgrade to v2.x.x.`

[2022-02-03 07:27] XhmikosR commented on #543
I'm aware, it will be released when it's ready.

[2022-02-03 07:27] #543 closed

[2022-02-03 07:36] #523 closed

[2022-02-03 07:43] XhmikosR commented on #443
Hey, @Kreeg! I'd say at this point we should choose how to proceed with puppeteer in #447.

@ert78gb has made some significant work, it's just that it feels like having puppeteer in dependencies is too much because it's just used in the case where the dimensions cannot be determined.

That being said, I'd be happy to go with puppeteer and see if we can make it optional later.

[2022-02-03 10:18] Kreeg commented on #443
@XhmikosR I see no problems with going with the puppeteer since phantomjs was also here only for the dimension checking. Since PhantomJS was deprecated I'd say it's more than OK to make puppeteer optional later and go straight with the working solution now :)

[2022-02-03 10:24] XhmikosR commented on #443
The thing is that puppeteer is huge. It just doesn't make sense to have it by default :/

Also, I'm just one person with limited time. If you have time, happy to give you push rights to help with the PRs and further tweaks.

[2022-02-03 12:33] Kreeg commented on #443
The definition of "having time" may differ, but since my actual work depends on this project I'll do all my best to help with it.
So, yes. I have time. :)

[2022-02-03 14:45] millette commented on #254
Is the goal only to handle svg conversion? If that's the case, perhaps <https://github.com/yisibl/resvg-js> is a better option.

[2022-02-07 09:57] #254 closed

[2022-02-10 08:53] XhmikosR commented on #530
You could try settings transform to false which should disable svgo.

[2022-02-10 08:54] XhmikosR commented on #530
Oh, wait you mean in the ID.

[2022-02-10 11:19] criting opened #592 "Gradient backgrounds"
What's the proper way to have gradients in the SVG sprite? Because once the sprite is generated, the gradients are not visible. When I open the individual SVGs the gradients are there. I've read that gradients are limited in sprites but that was a long time ago. How should I proceed?

[2022-02-16 07:35] yisibl commented on #446
At the risk of asking, when are you going to release the first beta version?

[2022-02-16 07:37] XhmikosR commented on #446
I think we are now close with phantomjs gone, puppeteer also gone (at least from dependencies). I just want the CI to be stable and I'll cut a new 2.0.0-beta1 release.

The other TODO can probably wait.

[2022-02-16 07:43] yisibl commented on #446
This is great, bye PhantomJS and Puppeteer!

[2022-02-16 07:44] XhmikosR commented on #446
Any help to fix any other issues is welcome BTW :)

After beta1 and assuming we have managed to remove puppeteer from devDependencies too, I'll update the gulp and grunt packages too.

[2022-02-16 08:13] Kreeg commented on #446
@XhmikosR but how to deal with screenshot testing without puppeteer in devDependencies?

[2022-02-16 08:16] XhmikosR commented on #446
I'm not sure either. Previously we were using svg2png. It's not maintained a lot, but it worked and it's a lot smaller.

Apart from that, I don't have any ideas, sorry :/

[2022-02-16 08:47] yisibl commented on #446
I'm not sure I understand correctly, it should be possible to use [sharp](https://github.com/lovell/sharp) to get a screenshot

And then when resvg supports [`<use>` nesting](https://github.com/RazrFalcon/resvg/issues/6#issuecomment-1038125357) we can use resvg to take screenshots too?

I'm still a little confused, is it accurate to get the size of the SVG through the viewBox and width/height prop

[2022-02-16 09:04] Kreeg commented on #446
@yisibl we're using puppeteer to screnshot both html pages and svg elements as well.
Then when resvg supports `<use>` elements we can minimize puppeteer usage to just html screenshots

[2022-02-18 16:23] Kreeg commented on #406
@XhmikosR can you please check the builder in https://github.com/svg-sprite/svg-sprite/compare/async-bin branch
In my measurement the build time was slightly increased (about +0.1s)
Maybe it's the OS thing (I'm using Mac M1)

[2022-02-18 18:59] XhmikosR commented on #406
I haven't looked at the changes but here are the results from my dev VM (main vs your branch):

[code]

[2022-02-21 04:35] yisibl commented on #446
@Kreeg OK,  resvg 0.22.0 already supports `<use>` links to `<svg>`, which I will finish in this PR: https://github.com/yisibl/resvg-js/pull/71, and you are ready to upgrade.

[2022-02-21 09:44] Kreeg commented on #446
@yisibl cool! thanks!

[2022-02-22 07:32] #454 closed

[2022-02-22 08:42] XhmikosR opened #570 "Increased load time on main"
1.5.4:

[code]

main:

[code]

load-time.js:

[code]

I haven't been able to pinpoint the root cause yet, but it's a significant increase we should try to figure out.

[2022-02-22 09:12] XhmikosR commented on #570
I found two commits that increase the load time:

1. #419
2. #402
3. and possible other newer patches (maybe resvg and/or image-size?)

[2022-02-22 09:33] Kreeg commented on #570
It may be resvg. In that case we can asynchronously load it, like `async-init` did in past with puppeteer.

[2022-02-22 09:55] XhmikosR commented on #570
Yeah, resvg might be a good offender, but unfortunately, I noticed that the other 2 patches increase load time significantly. I'd say as long as we are close to what we had, we should be fine.

[2022-02-22 11:19] yisibl commented on #570
Theoretically, resvg is faster and unlikely to affect speed.

Maybe CSS compression could be switched to esbuild and it could be faster. Also, I was impressed by how quickly the author solved every CSS issue I raised with esbuild.

[2022-02-22 11:20] XhmikosR commented on #570
@yisibl this is about the package load time, see the OP for a quick (and dirty) way to test this.

[2022-02-22 11:22] yisibl commented on #570
Okay.

[2022-03-02 21:35] Kreeg commented on #526
I've digged a bit. It's svgo's `cleanupIDs` plugin problem. Current workaround is to provide svgo config
[code]

[2022-03-03 14:51] XhmikosR commented on #446
@Kreeg do you think we are ready to release 2.0.0-beta1?

[2022-03-03 15:06] Kreeg commented on #446
@XhmikosR yeah I think so.
We should also move #81 and all 2.0 milestone issues to 3.0 I think.

[2022-03-03 15:48] XhmikosR commented on #446
Nah, don't worry about milestones, I didn't even know there was one :P I prefer to use Projects.

I'll release 2.0.0-beta1 later today or tomorrow morning.

[2022-03-03 19:23] XhmikosR commented on #446
https://github.com/svg-sprite/svg-sprite/releases/tag/v2.0.0-beta1

[2022-03-03 21:13] Kreeg commented on #446
Cool!

[2022-03-03 21:45] Kreeg commented on #232
Hello @jkphl ! It seems like this issue is outdated. Closing it for now.

[2022-03-03 21:45] #232 closed

[2022-03-03 21:56] Kreeg commented on #242
@MadLittleMods @charlestati this should have been fixed in #325 Can you confirm?

[2022-03-04 19:53] XhmikosR opened #597 "Find a smaller replacement to puppeteer for tests"
We previously used svg2png but it's not maintained. Puppeteer on the other hand is huge.

[2022-03-04 19:58] XhmikosR opened #598 "Reduce direct dependencies/devDependencies"
With jest, we might be able to remove the following devDependencies:

1. c8
2. should
3. sinon

As for dependencies, we might be able to remove:

1. lodash
2. prettysize
3. any other deps?

[2022-03-04 22:01] Kreeg commented on #597
Puppeteer also has this bug https://github.com/puppeteer/puppeteer/issues/8009, leaving me without a chance to unplug the power connector
There is two candidates now:
1. playwright (svgo uses it)
2. webdriverjs

Any help is welcome

[2022-03-04 22:02] #570 closed

[2022-03-05 06:26] XhmikosR commented on #597
1. playwright also downloads huge binaries and it's even bigger, it just caches the binaries system-wide...
2. haven't used this

Looking at the svg2png PRs, I see there was a PR to switch to puppeteer there too. So, maybe we are stuck, in that case we'll live with puppeteer.

[2022-03-05 15:17] Kreeg commented on #381
@xesjkeee hello!
[code]
You can do whatever you want with `data.shapes`, convert it to JSON, write to file, etc
You can see config example in `example.js`

[2022-03-05 15:20] Kreeg commented on #380
I have personal interest in webpack plugin so it has great odds to be implemented :)

[2022-03-05 15:22] Kreeg commented on #368
This should have been fixed in #325. Can you confirm?

[2022-03-05 15:33] Kreeg commented on #600
Is it really needed?
You can do symbol sprite, get shape with `<svg><use href=#id/></svg>` and change color from css `fill: color, stroke: color`

[2022-03-05 15:46] Kreeg commented on #592
@criting please provide input/output results
I can't tell what is wrong here but in tests all backgrounds are visible, for example `test/expected/png/view.html.png`
![gradient svg](https://github.com/svg-sprite/svg-sprite/blob/main/test/expected/png/view.html.png?raw=true)

This sprite is generated from svg files in folder `test/fixture/svg/single`

[2022-03-06 15:09] yisibl commented on #597
Switching to puppeteer-core is a little better, and you can use the Chrome path already installed locally.

[2022-03-07 13:38] XhmikosR commented on #597
If you could make a PR, that would help!

I wonder if there's a similar solution for other browsers too. Maybe playwright supports using the existent installed browsers?

Either way, this should be an improvement :)

[2022-03-07 13:40] XhmikosR commented on #526
Thanks @Kreeg for digging into this and reporting it upstream! Let's hope it's fixed there :)

[2022-03-08 10:05] XhmikosR opened #604 "Remove/replace lodash dependency"
Opening this separately since it requires more work (refs #598)

Right now on main we have 8 remaining lodash functions:

- [x] `cloneDeep` (see #622)
- [x] `escape` (see #620)
- [x] `invoke` (see #461)
- [x] `merge` (see #619)
- [x] `pick` (see #463)
- [ ] `trim` (see #418)
- [ ] `trimStart` - wondering if we can use `foo.replace()`? We might need to escape any special regex characters, though
-

[2022-03-09 15:38] Kreeg commented on #445
This will be available after https://github.com/svg-sprite/svg-sprite/pull/572 is landed

[2022-03-10 06:55] XhmikosR commented on #446
Released v2.0.0-beta2:

* https://packagephobia.com/result?p=svg-sprite@2.0.0-beta2
* https://arve0.github.io/npm-download-size/#svg-sprite@1.5.4
* https://arve0.github.io/npm-download-size/#svg-sprite@2.0.0-beta1
* https://arve0.github.io/npm-download-size/#svg-sprite@2.0.0-beta2

If we remove/replace lodash, we'll save around 1K files :)

Closing this issue since we have individual issues for th

[2022-03-10 06:55] #446 closed

[2022-03-10 07:04] XhmikosR commented on #290
The argument seems to be there on v2.0.0-beta2, unsure if it works though.

[2022-03-10 07:10] XhmikosR commented on #100
This is fixed in >= v2.0.0-beta1 (`npm i svg-sprite@next`).

[2022-03-10 20:13] fleg commented on #290
I'm unable to check it, so I'm going to close this

[2022-03-10 20:13] #290 closed

[2022-03-14 07:44] XhmikosR commented on #443
Going to close this since we have already released v2.0.0-beta2. After we finish with tests and covering all modes, we can release v2.0.0 stable.

[2022-03-14 07:44] #443 closed

[2022-03-14 22:17] Kreeg commented on #326
@Sidnioulz Hello! Which tests are failed?

[2022-03-16 12:25] Kreeg opened #608 "All visual comparing tests are failed on macbook devices"
Node: 16.14.1 LTS
Platform: macOS Big Sur
Device: macbook pro late 2013

[2022-03-16 12:34] Kreeg commented on #608
Same as for mackbook pro M1 13" with unplugged power source (see here https://github.com/puppeteer/puppeteer/issues/8009)

[2022-03-16 16:24] XhmikosR commented on #282
mustache doesn't like one of your changes, try removing the comment `// Including template tag {{#first}} {{/first}}`

[2022-03-16 16:24] #282 closed

[2022-03-19 14:15] #608 closed

[2022-03-19 15:34] jetzeny opened #615 "svg stack doesn't fill all available width and height of img"
I'm exporting svgs from figma and unite in [svg stack](https://simurai.com/blog/2012/04/02/svg-stacks) with gulp-svg-sprite to address later using icons.svg#ID. Html code is: ```<img src="icons.svg#logo" class="svg-logo-dims"/>``` Class "svg-logo-dims" sets width and height, for example: width: 20px; height: 20px for img.

![question](https://user-images.githubusercontent.com/45367541/159127567-df

[2022-03-19 15:39] jetzeny commented on #615
My svg-sprite settings:
[code]

[2022-03-20 12:51] Kreeg commented on #615
@jetzeny hi!
I've added tests for stack mode, and it seems they all good. Please provide svg references which are causing the problem, I will add them to tests.

[2022-03-20 13:50] jetzeny commented on #615
Icons:
![cart-ico](https://user-images.githubusercontent.com/45367541/159164908-0ba34108-bf27-4a10-9c14-466839659ca9.svg)
![heart-ico](https://user-images.githubusercontent.com/45367541/159164910-b9d945ba-b3d7-4e39-9bf1-8a8b4b0dc17e.svg)
![logo-ico](https://user-images.githubusercontent.com/45367541/159164911-a779e4c5-25e9-45e8-9084-6969b5650947.svg)
![search-ico](https://user-images.githubusercon

[2022-03-21 16:05] Kreeg opened #626 "Passing winston logger to config causes Error"
[code]
throws
[code]
Because `winston.Logger` has no constructor

[2022-03-22 20:35] #626 closed

[2022-03-23 12:04] yisibl commented on #597
@weolar has a [miniblink](https://github.com/weolar/miniblink49) project, a streamlined browser kernel that might make a difference.

[2022-03-24 05:53] weolar commented on #597
yes, i'm working for miniblink now. bug it's linux version has some bug to fix

[2022-03-24 05:59] XhmikosR commented on #597
It would really help if docs were written in English too.

[2022-03-26 15:44] XhmikosR opened #645 "Remove `Error.errno`"
And probably Error.name and just throw an `Error` with the proper message

[2022-04-05 17:35] Arkkimaagi commented on #303
We had this issue too, so I wrote an config option for it. Sadly I think I need guidance or help on writing the tests.

[2022-04-07 14:17] paladio opened #658 "How to create a .html template file include icon sample preview and icons name in the .HTML file beside to the final sprite file?"
First of all, thank you for developing and creating this useful and practical library
I use this library with the following command and I want to create a **.HTML** file next to the **final sprite .svg** file, including svg preview and names of the generated icons so that the icons and their names are displayed in it and if necessary, the name of the icon can be Got through it.

`"svg:sprite": "sv

[2022-04-07 19:27] XhmikosR commented on #658
Please check out https://github.com/svg-sprite/svg-sprite/blob/main/docs/command-line.md

`--stack-example ` should do what you want

[2022-04-08 07:38] paladio commented on #658
I read this page completely before but none of the flags created the desired file, is there anyone who has tested this and created the preview sample file?

[2022-04-08 08:58] XhmikosR commented on #658
I just tested v2.0.0-beta3 in symbol mode and I get an example html file:

[code]

[2022-04-10 12:34] #242 closed

[2022-04-12 09:46] Kreeg commented on #326
@Sidnioulz thank you for your participation :)

[2022-04-12 09:46] #326 closed

[2022-04-12 15:20] jetzeny commented on #615
How do i check it? I'm not very familiar with Git... What i did: git clone svg-sprite in separate folder, git checkout to pr 657, copy resulting content to node_modules->svg-sprite with replacement. Now when i'm running my svg gulp task (which requiring gulp-svg-sprite) i got the error: ```Optimizing "%s" with SVGO failed with error "%s"```

[2022-04-13 06:34] XhmikosR commented on #592
Closing due to lack of response. You can comment here and we can re-open the issue.

*This is an automated reply*

[2022-04-13 06:34] #592 closed

[2022-04-20 05:24] justrhysism commented on #368
Using v1.5.4 and still experience this issue.

[2022-04-20 08:55] Kreeg commented on #368
@justrhysism this was changed in 2.0.0-beta.3 release

[2022-04-22 09:57] woutsluiter opened #667 "Transform config not being applied"
I'm trying to cleanup the svg's (remove `fill` and `stroke` attributes and `style` elements). I added the `svgo` plugins to the `transform` config, but the output still contains those attributes and elements. Looks like the whole transform config isn't applied. Even when I change some `preset-default` settings, like setting `removeComments` to false, comments are removed anyway.

svg-sprite versio

[2022-04-25 13:34] #658 closed

[2022-04-25 13:35] XhmikosR commented on #667
svg-sprite 1.x is using svgo 1.x. https://github.com/svg-sprite/svg-sprite/blob/1.5.x/docs/configuration.md#shape-transformations

[2022-04-25 13:35] #667 closed

[2022-04-25 13:37] #303 closed

[2022-04-25 13:37] #615 closed

[2022-05-10 01:29] rinart73 opened #678 "Adding a hybrid symbol-sprite mode"
In [this article](https://codepen.io/jennhi/post/using-svg-symbols-as-css-backgrounds) you can see symbol svg images that can also be used as background sprites. The article was published in 2015 but in seems that since then all browsers added support for this.
You basically define `view` ares and then via the `use` tag you display SVG symbols in them.
[code]
I think this could be a good addition

[2022-05-11 16:05] Kreeg commented on #676
@XhmikosR @jkphl it's strange, but the width and height are settled in symbol mode only when the `inline` config attribute passed (https://github.com/svg-sprite/svg-sprite/blob/d8eed87df8a812852796df5969422caafa637825/docs/configuration.md#defs--symbol-mode). And even then it has zero width and height, and there is no total width/height calculation. I'm sure that this was intended. Do you know why

[2022-05-11 18:51] Kreeg commented on #676
@dreit-p the thing is that `symbol` sprite has only symbols, without the references, you need to reference them manually. Technically, this is an empty sprite with the symbols only, so I am sure there is no way to calculate the dimensions of the sprite. I think you just got confused with the hybrid `symbol-view` mode, mentioned here #678 and here #81, which is not implemented yet.

[2022-05-12 10:14] mikem33 commented on #676
@Kreeg @dreit-p Hi! I needed this to avoid set the width and height of each sprite when using `use` tag. I thought that the dimensionAttributes parameter was meant to this.
It would be possible to get the width and height attributes from the original image instead of calculate dimensions after?

[2022-05-12 11:01] dreit-p commented on #676
Seems I had the same case

[2022-05-15 14:54] Kreeg commented on #358
Hi. This adds a prefix to all ids inside sprite `lib/svg-sprite/shape.js:703`

[2022-05-15 14:54] #358 closed

[2022-05-15 17:04] Kreeg commented on #289
@GCour Hi! Can you add example?

[2022-05-17 09:17] giladbr opened #679 "Getting exceptions on "add" - unknown error, open '//../../.svgo.yml'"
My SVGs are coming from strings, and since the library only works with buffers\files, I tried the following code:
`  Object.keys(SVGs).forEach((filename) => {

            const path_ = path.join(__dirname, filename);
            fs.writeFileSync(path_, SVGs[filename]);
            // spriter.add(path_, null, fs.readFileSync(path_)); //tried that too
               spriter.add(new File({

[2022-05-20 06:32] giladbr commented on #679
Turns out the exception was caused by SVG optimization - I found it out by googling "svgo" and realizing it's a dependency for optimizing the svgs that's in the node_modules. I disabled it in the config by supplying an empty array: `  const spriter = new SVGSpriter({ shape: { transform: [] } });` and the exception's gone.

[2022-05-20 06:32] #679 closed

[2022-05-21 17:04] giladbr opened #680 "SVGs added but "result" is empty on compile"
Trying different configurations and files, opened verbose logging, but no matter what I do the `result` still comes out an empty object. No `error` or `data` either.

[code]

Logs:

[code]

[2022-05-21 17:47] giladbr commented on #680
Changed to:
[code]

And it works. Not sure why. Something about the mode, which is weird because I also tried playing with it and to no avail. But now it works.

[2022-05-21 17:50] #680 closed

[2022-05-25 15:43] christopher-francisco opened #684 "beta-4: TypeError: Cannot read property 'distribute' of undefined"
I updated svg-sprite from `1.5.3` to `2.0.0-beta4`. I didn't do anything else and I see this error. I am happy to provide a codepen if necessary, I just thought I'd reach out in case I'm missing something obvious.

[code]

Also worth mentioning I'm new to the library, it's in a project I inherited, and I've been reading the docs for `1.5.3` the release notes with the breaking changes, and docs for

[2022-05-25 16:36] #684 closed

[2022-05-30 11:37] Kreeg commented on #288
@bugejakurt hello! Can you provide an example?

[2022-06-01 21:06] banoodle opened #696 "Sonarcloud complains about security hotspot in generated icons.html"
We just started using sonarcloud to run static code tests on our git commits.

It is complaining that the hyperlink inside the generated icons.html lacks a rel=noopener attribute which it considers a security hotspot.

Could this attribute be added to the next release?

[2022-06-01 21:16] banoodle commented on #696
I'm sorry - I just realized this problem is in the gulp-svg-sprite project and not this one (problem has been fixed in this repo - thanks!). I will close this and open it in the correct repo.

[2022-06-01 21:16] #696 closed

[2022-06-15 16:45] jeremyrperry opened #697 "Version 1.5.4 of svg-sprite has security issues revealed in npm audit"
Steps to Reproduce:

- In a node.js project with the latest version of svg-sprite installed, run npm audit.

Expected Results:

There are no vulnerabilities revealed.

Actual Results:

There are vulnerabilities revealed.  A text file from the console output is attached.

[npm audit results for svg-sprite.txt](https://github.com/svg-sprite/svg-sprite/files/8911446/npm.audit.results.for.svg-sprite.t

[2022-06-18 02:52] yisibl commented on #697
Recommended upgrade to 2.0

[2022-06-19 12:52] Kreeg opened #698 "Release 2.0 stable"
Remaining issues and opened PR's:

- [x] #702
- [x] #693
- [x] #620
- [x] #619
- [x] #653

@XhmikosR hey! I think this is the final path to the stable release. We probably may skip this PR's and land 2.0 version without them. What do you think?

Fixes #697, #368

[2022-06-19 12:58] Kreeg commented on #676
Ok, the bottom line here: you should use `view/css `modes to get proper width/height of generated sprite.
If you have problems with that modes - please open the new issue.

[2022-06-19 12:58] #676 closed

[2022-06-19 13:14] Kreeg commented on #241
Hi! Thank you for feedback. I personally did this:
[code]

This is the configuration for 3 different gulp tasks. Each of them get own icons folder, svg sprite and css file. You can do something like that with scss.
The multiple sources / outputs seems like a great idea but this can be done by code, like in code above.
I'm closing this issue, but opening a new one to understand if scss variables is

[2022-06-19 13:14] #241 closed

[2022-06-19 13:19] Kreeg opened #699 "Is scss-variables really needed?"
This is mentioned in #241

Do you need scss-variables in generated scss? Just like this message if you really need this. I personally didn't think so but if many people want it - why not. Or you can you simply create new PR with suggested changes.

[2022-06-19 13:27] Kreeg commented on #142
Microsoft dropped support for the Internet Explorer.
If you still have this problem in Microsoft Edge - please open a new issue and link this one into it

[2022-06-19 13:27] #142 closed

[2022-06-19 13:42] Kreeg commented on #289
Closing this due to inactivity. Keep in mind that you can simply run sprite generation for each folder separately.

[2022-06-19 13:42] #289 closed

[2022-06-19 13:45] Kreeg commented on #692
@Faltfromoss @startork hello! I think this is related to the svgo problem. Please try this config https://github.com/svg-sprite/svg-sprite/issues/526#issuecomment-1057415717 and re-open this if you still have a problem

[2022-06-19 13:45] #692 closed

[2022-06-21 18:29] XhmikosR commented on #697
Yeah, nothing we can do because svgo 2.x is a breaking change. You can use the beta until we release v2.0.0 stable.

[2022-06-21 18:29] #697 closed, assigned to nobody

[2022-06-21 18:33] XhmikosR commented on #699
TBH I never used them, we only use svg-sprite in symbol mode https://github.com/twbs/icons/blob/main/svg-sprite.json

[2022-06-22 04:54] #604 closed

[2022-06-22 12:50] XhmikosR opened #702 "v2.0.0-beta6 escape issue in symbol mode"
[code]

@Kreeg it seems we have a regression probably after #620.

To reproduce:

[code]

and see `./bootstrap-icons.svg`.

[2022-06-23 12:20] chalkygames123 commented on #598
I'd like to recommend [`fdir`](https://github.com/thecodrr/fdir) as an alternative to `glob`.

Authors post: https://dev.to/thecodrr/how-i-wrote-the-fastest-directory-crawler-ever-3p9c

[2022-06-23 20:38] Kreeg commented on #598
Seems like a good solution. It is lightweight, dependency-free, I'm down with that.

[2022-06-24 05:43] XhmikosR commented on #598
One thing to keep in mind is that if one dep is very popular, there's a higher chance it's already in people's deps tree. I'm not saying, we shouldn't replace a dependency if it's not popular, but it's something we should keep in mind too.

Anyway, after the lodash removal, installing svg-sprite leads to ~1700 files while in v2.0.0-beta5 it was ~2700 files.

[2022-06-28 16:37] jeremyrperry commented on #697
This issue stems from using an old version of the nth-check module.  For anyone who is looking for a interim fix but wants to wait for version 2.x to be stable, it's also possible to modify their package.json file to use the latest nth-check version as an override.  An example snippet is below.

`{
  "devDependencies":{
    "nth-check": "^2.1.1"
  },
  "overrides": {
    "svg-sprite": {
      "svg

[2022-07-03 19:01] soluml opened #710 "CLI doesn't seem to work?"
I haven't been able to get this plugin to generate anything via CLI.  Even trying something as simple as the below. Every seemingly valid command fails silently.

I've tried following the [CLI docs](https://github.com/svg-sprite/svg-sprite/blob/HEAD/docs/command-line.md) and I can see the bin in the node_modules dir, but is this mode still supported?

[code]

[2022-07-05 09:11] emilschultz opened #711 "Update of dependencies in stable version - svgo@1.3.2 is no longer supported"
Hi,
First off, thank you for an awesome package!
Secondly, I can see that the dependencies have been bumped in the beta version, but will there be an update to the dependencies related to the stable version any time soon?

More specifically `svgo` - We are getting npm WARN `svgo@1.3.2: This SVGO version is no longer supported`.

Best
Emil Schultz
Amedia Utvikling

[2022-07-07 15:42] Kreeg commented on #711
@emilschultz Hi! This will be soon fixed in 2.0 stable release #698

[2022-07-07 15:42] #711 closed

[2022-07-12 13:38] yisibl commented on #698
Hi, any new developments?

[2022-07-12 16:11] yisibl commented on #698
Gosh, please take care of yourself.

[2022-07-12 20:40] Kreeg commented on #698
@XhmikosR please take care of yourself. This can wait as long as necessary. The health is the most important thing.

[2022-07-20 05:16] XhmikosR commented on #698
@Kreeg could you maybe help out with the release notes? That's what's bugging me more, otherwise cutting a release is a matter of seconds :)

[2022-07-20 05:21] #235 closed

[2022-07-20 09:32] Kreeg commented on #698
@XhmikosR yes, of course. I'll do it tonight

[2022-07-20 21:27] Kreeg commented on #698
**UI and CLI updates:**

- Added `namespaceIDPrefix` [option](https://github.com/svg-sprite/svg-sprite/blob/main/docs/configuration.md#sprite-svg-options)
- Added `rel="noopener noreferrer"` to all links in generated HTML pages.
- Added `compileAsync` [method](https://github.com/svg-sprite/svg-sprite/blob/main/docs/api.md#svgspritercompileasync-config-)
- Added support for disabling root viewBox a

[2022-08-08 09:57] Kreeg commented on #698
@XhmikosR hello! Can we land the release? Or should I update changelogs?

[2022-08-15 15:55] alex-belost opened #723 "SVGO configuration"
SVGO configuration overrides didn't work and it has some problems with SVG optimization. SVGO with default configuration compresses files bit a bit more

![image](https://user-images.githubusercontent.com/17066351/184669458-4e119359-0d8a-454b-a5fd-026b078054ac.png)

[2022-08-18 09:27] taylinr commented on #723
Have the same issue with the following configuration:

`transform: {
        svgo: {
          multipass: true,
          plugins: [
            {
              name: 'preset-default',
              params: {
                overrides: {
                  removeTitle: false,
                  removeDesc: false
                }
              }
            },
          ]
        }
      },`

[2022-08-20 12:45] Kreeg commented on #723
@alex-belost @taylinr
Hello. You need to pass a proper configuration, like this
[code]

Check the configuration params [here](https://github.com/svg/svgo#configuration)

[2022-08-27 11:47] Kreeg commented on #723
@alex-belost @taylinr which version do you use?
current stable version has `svgo v1.3.x`, which has different API. If you want to use newer version of svgo - please use current beta version or just wait the v2.0 release #698

[2022-08-31 07:35] tutkli commented on #698
Any news on this? Is everyone ok?

[2022-09-04 12:33] Kreeg commented on #723
I updated the tests, all the `plugins` configuration goes straight to the SVGO without a modifications. You should either use beta version of `svg-sprite`, or use the `svgo v1` configuration.

[2022-09-04 12:33] #723 closed

[2022-09-05 07:25] #288 closed

[2022-09-19 13:54] AlexisWalravens opened #731 "Typescript type for all id's in the generated sprite"
Hi 👋,

I recently started using this project, wich is great to build sprite with no hassle!

I don't have any issue, it's more of an idea.

In my project I use React and Typescript.

I created a `Icon` component which takes a `name` prop which should be the id of the svg in the sprite I want to use.
[code]

And it works great, but miss one thing. Using typescript it would be amazing to be able to

[2022-09-23 11:16] malikfaizanhaider opened #732 "Multi Directory"
**I'm failed to generate single SVG sprite for multi directory.**

Directory structure:

-icons
-- Folder1
-- Folder2
-- Folder3
-- Folder4
-- Folder5
-- Folder6

`{
  "mode": {
    "symbol": {
      "dest": ".",
      "sprite": "iconsax-sprite.svg"
    }
  },
  "svg": {
    "namespaceClassnames": false,
    "xmlDeclaration": false
  },
  "shape": {
    "id": {
      "separator": "--",
      "pseu

[2022-09-23 20:37] #732 closed

[2022-09-27 18:28] XhmikosR commented on #698
Sorry for the lack of reply, I missed the notifications. I'll take of it soon, but perhaps after #734 since Node.js is pretty old and we are going to make a new major version now.

I'll use @Kreeg's release notes above as a basis.

[2022-09-27 18:30] XhmikosR commented on #698
NVM, I'll release v2.0.0 now and we can make a v3.0.0 later.

[2022-09-27 18:36] XhmikosR commented on #698
https://github.com/svg-sprite/svg-sprite/releases/tag/v2.0.0

[2022-09-27 18:36] #698 closed

[2022-09-27 18:53] XhmikosR commented on #698
Released https://github.com/svg-sprite/grunt-svg-sprite/releases/tag/v2.0.0 and https://github.com/svg-sprite/gulp-svg-sprite/releases/tag/v2.0.0 too.

[2022-09-30 15:49] Kreeg commented on #698
Whohoo!

[2022-10-03 17:51] badfeather opened #738 "Feature request: Add index variable to shape variables for CSS templating"
I like to create CSS `background-image` or `mask-image` sprites by using a vertical layout and setting the width and height to the icon to `1em`, which allows me to avoid percentage calculations and values for `background-position` or `mask-position` and instead set them to something like `mask-position: 0 -1em;`, which I find much simpler. SASS example:

[code]

In order to do this with the Musta

[2022-10-13 14:24] artuska opened #740 "bug: 2.0.0: `shape.id.separator` does not produce an `id` with the parent directory names"
In 1.5.0 `shape.id.separator` traversed full directory path + file name into the shape ID. Now in 2.0.0 shape ID is always a svg file name, without any parent folders.

[2022-10-25 18:19] XhmikosR opened #741 "Update svgo to v3.x and csso to v5.x"
https://github.com/svg/svgo/releases/tag/v3.0.0

We need to adapt our code too, PRs welcome!

EDIT: We should also update csso to v5.x after the svgo 3.x update, since svgo 3.x updated to that version too.

[2022-10-26 03:40] strager commented on #598
Drop lodash.trim: #742

[2022-10-26 11:45] Kreeg commented on #740
@artuska hello!
Can you provide some examples? It'll be great if you provide a new corresponding failing test case in `test/svg-sprite/shape`.

[2022-10-28 14:50] Syubukov opened #744 "How to replace the value of the fill attribute in the svg image code with any other custom value?"
For example i want replace fill attribute fill="#87B0EE" in svg image code that way that i can have access to it and can change it states via css variables. Like this: fill="var(--color,#87B0EE)". That because shadow-root not allow have access to some tags in svg image code and it does not allow, for example, the path tag to inherit the property of its parent.

I can't find a way how I can replace

[2022-10-29 10:36] sfe-efficy commented on #740
Hi, the problem is related with the change in shape.js line 150:

In version 1.5.4 it was:
https://github.com/svg-sprite/svg-sprite/blob/v1.5.4/lib/svg-sprite/shape.js#L150

(It was getting the difference between the full path to the file and the path used to search files).

And now in version 2.0:

[[It's getting th]()](https://github.com/svg-sprite/svg-sprite/blob/v2.0.0/lib/svg-sprite/shape.js#

[2022-10-31 16:26] XhmikosR commented on #740
Released in [v2.0.1](https://github.com/svg-sprite/svg-sprite/releases/tag/v2.0.1)

[2022-11-01 06:48] XhmikosR commented on #741
We should update csso to v5.x after the svgo 3.x update, since svgo 3.x updated to that version too.

[2022-11-07 14:22] Kreeg commented on #731
Hello. The thing is that all icons and icons names are generated in runtime. On the other hand, TS is an superset of JS, the type checking takes place on compilation time.
You can store somewhere set of all svg names, get enum from that (`IconIdInSprite`), then manually add them to sprite
https://github.com/svg-sprite/svg-sprite/blob/main/docs/api.md#svgspriteraddfile--name-svg-
https://github.com

[2022-11-08 11:58] egorkel-altexsoft commented on #740
The issue is not solved.
`file.base` is calculated incorrectly here https://github.com/svg-sprite/svg-sprite/blob/main/lib/svg-sprite.js#L128

![image](https://user-images.githubusercontent.com/95917278/200558014-cea15be0-97e0-4e9c-891c-431bac801745.png)

Compare with https://github.com/svg-sprite/svg-sprite/blob/v1.5.4/lib/svg-sprite.js#L131

![image](https://user-images.githubusercontent.com/959

[2022-11-08 12:42] sfe-efficy commented on #740
why did you considere that the bug persists?

The only different between previous code and this one is related with the final directory separtor.

The previous code was keeping a final separator. Now not.
In both cases are ok when it's using path.resolve and setting the file.base.

![image](https://user-images.githubusercontent.com/95854297/200566392-fa8679ac-b23f-45f4-b66d-4689fd648fed.png)

[2022-11-08 13:43] egorkel-altexsoft commented on #740
In my case here https://github.com/svg-sprite/svg-sprite/blob/main/lib/svg-sprite.js#L83

`file` is `/home/egor/projects/yourapp-uikit-web/libs/ui-kit/src/lib/icons/svg-icons/eva/line/info.svg`

`name` is `eva/line/info.svg`

[2022-11-08 14:52] XhmikosR commented on #740
Sounds like e85b53c6343dd78d1a5eccae137e2b337be94a5a is to blame. Can someone who's having this issue try it with:

[code]

I thought this was covered by the tests but maybe it slipped through.

[2022-11-08 14:57] egorkel-altexsoft commented on #740
I can confirm that this version works as expected

[2022-11-08 15:02] XhmikosR commented on #740
@egorkel-altexsoft can you try one more time please? I tried with a different approach.

BTW if someone wants to submit a test case, that would make sure we don't hit this again in the future and is more than welcome.

[2022-11-08 15:07] egorkel-altexsoft commented on #740
Nope, it doesn't work
`libs--ui-kit--src--lib--icons--svg-icons--eva--line--info`

[2022-11-08 15:10] egorkel-altexsoft commented on #740
No problem

[2022-11-08 21:50] sfe-efficy commented on #740
when I was checking the first time this problem, I was using gulp-svg-sprite.

https://github.com/svg-sprite/svg-sprite/blob/main/lib/svg-sprite.js#L83
In the that method from gulp-svg-sprite is receiving directly a File object with this information:

![image](https://user-images.githubusercontent.com/95854297/200682546-223d8c72-d1a6-42d9-96c7-46059123a7eb.png)

With "base" property that contains

[2022-11-12 13:07] Kreeg commented on #526
Will be fixed in v3.0 after https://github.com/svg-sprite/svg-sprite/issues/741

[2022-11-12 15:47] XhmikosR commented on #526
We need someone to make a PR about #741 :)

[2022-11-12 16:05] XhmikosR commented on #740
Released in [v2.0.2](https://github.com/svg-sprite/svg-sprite/releases/tag/v2.0.2)

[2022-11-15 13:17] babs20 opened #762 "Bug: Spriter's Shape Transform Method Only Running First Transformation in shape.transform Array"
Repo with minimum reproduction: https://github.com/babs20/svg-sprite-transform-bug

**Steps to Reproduce:**
1. Use the Spriter configuration below
2. Add SVG files to spriter instance
3. Run the compile method on the spriter
4. You will see that the output log only shows the optimization, but not the `console.log` in the second transformation. Also, if you inspect the output SVG you will see the c

[2022-11-16 14:48] multitracks commented on #762
I'm seeing the same 👍

[2022-11-17 11:57] michaelbragg opened #763 "CLI ignores `--svg-namespace-ids false`"
Overview:

Upgrading from `2.0.1` to `2.0.2` has broken the `--svg-namespace-ids false` command when using the CLI.

Our SVG Sprite builds, with 2.0.2, have started to include the full path as a namespace in the sprite file. Whereas 2.0.1 only included the filename as the ID.

On the command-line run `svg-sprite -s --symbol-dest /assets/svg --svg-namespace-classnames false --svg-namespace-ids fals

[2022-11-18 06:19] XhmikosR commented on #763
Unsure how to proceed here because the changes in v2.0.2 were meant to fix another issue. Feel free to submit a PR with a test case.

[2022-11-18 06:20] XhmikosR commented on #762
Any PR fixing this with a test case would be perfect :)

[2022-11-25 10:49] kan-erik commented on #740
I just wanted to add that this didn't work for me if the glob-pattern does not contain the "./" in the beginning.

Does not work:

`path/to/somefolder/**/*.svg`

Does work:

`path/to/somefolder/./**/*.svg`

[2022-11-25 16:25] XhmikosR commented on #740
Unless someone provides a patch with proper tests, I'm not sure how all these issues can be safely fixed... The code now should be what's used in 1.5.x too.

[2022-11-25 16:28] XhmikosR commented on #741
@Kreeg I released v3.0.0-alpha1. After someone updates these two deps we can release a beta.

Then I think we have the regressions to fix, but unless someone provides a PR with tests and CC's us, not sure how we can fix those...

[2022-11-30 08:42] userjoergjakoby opened #766 "Needed dependency '@resvg/resvg-js-linux-x64-gnu' marked as optional"
We did an update of svg-sprite from version 1.5.4 to version 2.0.2 and afterwards we had the issue that our build failed with the error message:

Our CI uses` npm ci --omit=optional` to skip dependencies necessary only on developer machines.

In this case however, the @resvg dependencies are necessary to the build with svg-sprite, which is why they should not be marked as optional.

[2022-11-30 12:28] Kreeg commented on #766
@yisibl Hello! Can you please check this? I think `optionalDependencies` can't be omited in resvg package. What can you suggest? Thanks

[2022-11-30 13:16] Th3S4mur41 commented on #766
We're facing the same issue in our [atos-parallel](https://github.com/atos-parallel/icons) project...
It seems that this is the intended behavior from [napi-rs](https://napi.rs/docs/cli/build#note-for---js-package-name) though.

We use optional dependencies for developer helper tools like commit hooks.
Since those dependencies are not necessary on CI, we skip installing them to save time and bandw